@{
    ViewBag.Title = "Par Something";

}

<div class="quote-one">
    <div class="row">
        <div class="col-md-12">
            <!-- Quote One Item -->
            <div class="quote-one-item">
                <span class="color">&#8220;</span>
                <div class="quote-one-right">
                    <p>
                        Yorum yazdığınız için çok teşekkürler<br />
                        En kısa sürede okuyup cevaplandıracağım.
                    </p>
                    - Bilgin
                </div>
            </div>
        </div>

    </div>
</div>
 