@{
    ViewBag.Title = "İletişim";
}

<div class="container">
    <div class="blog-two">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-two-item">
                    <div class="blog-two-content">
                        <h1><span class="text-primary">İletişim</span></h1>
                        <h4><span class="text-muted">Site hakkındaki yorum ve görüşlerinizi bekliyorum.</span></h4>
                                              
                         
                    </div>
                </div><!-- CONTENT BODY -->

                @Html.Partial("~/Views/Home/ParShareArticle.cshtml")
                @Html.Partial("~/Views/Home/ParAuthor.cshtml")
                @Html.Partial("~/Views/Home/ParCommentForm.cshtml")
            </div><!-- MAINBAR COLUMN -->


        </div>
    </div>
</div>

