@{
    ViewBag.Title = "";
}


<div class="blog-author well hidden">
    <!-- Author image -->
    <div class="blog-author-img">
        <a href="#"><img src="~/Content/Images/BilginHaziran2009.jpg" alt="Bilgin Esme" class="img-responsive img-rounded img-thumbnail" style="max-width:75px" /></a>
    </div>
    <!-- Author details -->
    <div class="blog-author-content">
        <h5><a href="#">Bilgin Esme</a></h5>
        <p>Temporibus autem quibusdam et aut officiis debitis aut  molestiae non recusandae rerum hic tenetur rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae rerum hic tenetur.</p>
    </div>
    <div class="clearfix"></div>
</div><!-- Author section -->
