@{
    ViewBag.Title = "";
}

<div class="well hidden">
    <!-- Heading -->
    <h4><i class="fa fa-comments color"></i>&nbsp; Post Comment</h4><!-- Form -->
    <hr />
    <form class="form" role="form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Email">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Website">
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="7" placeholder="Enter Message"></textarea>
        </div>
        <!-- Button -->
        <button type="button" class="btn btn-color">Submit</button>&nbsp;
        <button type="button" class="btn btn-white">Reset</button>
    </form>
</div>

