@{
    ViewBag.Title = "";
}

<h5><i class="fa fa-camera color"></i> SEÇTİĞİM RESİMLER</h5>
<div class="widget-content gallery">
    <a href="~/Content/Images/ImagesIPicked/GalaxyQuest.jpg" class="lightbox-plus" title="Galaxy Quest - Never giver up, never surrender!">
        <img src="~/Content/Images/ImagesIPicked/GalaxyQuest.jpg" alt="Galaxy Quest - Never giver up, never surrender!"  class="img-responsive img-thumbnail" />
    </a>
    <a href="~/Content/Images/ImagesIPicked/GhostBusters.jpg" class="lightbox-plus" title="Ghost Busters - Legends are forever">
        <img src="~/Content/Images/ImagesIPicked/GhostBusters.jpg" alt="Ghost Busters - Legends are forever" class="img-responsive img-thumbnail" />
    </a>
    <a href="~/Content/Images/ImagesIPicked/MoviesWhileCoding.jpg" class="lightbox-plus" title="Movies I Like to Watch - While I'm coding">
        <img src="~/Content/Images/ImagesIPicked/MoviesWhileCoding.jpg" alt="Movies I Like to Watch - While I'm coding" class="img-responsive img-thumbnail" />
    </a>
    <a href="~/Content/Images/ImagesIPicked/RulesOfTheGameMonopoly.jpg" class="lightbox-plus" title="Rules of Monopoly - and the bitter truth about life">
        <img src="~/Content/Images/ImagesIPicked/RulesOfTheGameMonopoly.jpg" alt="Rules of Monopoly - and the bitter truth about life" class="img-responsive img-thumbnail" />
    </a>
    <a href="~/Content/Images/ImagesIPicked/WhenICompareMyself.jpg" class="lightbox-plus" title="When I Compare Myself ... - from Zen Pencils">
        <img src="~/Content/Images/ImagesIPicked/WhenICompareMyself.jpg" alt="When I Compare Myself ... - from Zen Pencils" class="img-responsive img-thumbnail" />
    </a>
</div>
<div>
    @Html.ActionLink("Tümü", "ImagesIPicked", "Home")
</div>
