@{
    ViewBag.Title = "";
}

  
<h5><i class="fa fa-search color"></i>&nbsp; Search</h5>
<div class="widget-content search">
    <form role="form">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Type Something">
            <span class="input-group-btn">
                <button class="btn btn-color" type="button">Search</button>
            </span>
        </div>
    </form>
</div>
