@{
    ViewBag.Title = "Bir Zamanlar Türk Futbolu";
}

<div class="container">
    <div class="blog-two">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-two-item">
                    <div class="blog-two-content">
                        <h1><span class="text-primary">Bir Zamanlar Türk Futbolu</span></h1>
                        <h5><span class="text-muted">Çamur içindeki stadlarda, çok daha temiz bir futbol oynanırdı.</span></h5>

                        <div class="blog-meta">
                            <a href="#"><i class="fa fa-calendar"></i> &nbsp; Mayıs 2016</a> &nbsp;
                            <a href="#"><i class="fa fa-user"></i> &nbsp; Bilgin Eşme</a> &nbsp;
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <span class="dropcap-2">B</span>izim zamanlarımız, Türk Futbolu'nun hala izlenmeye değer olduğu dönemlerin
                                    sonuna denk gelir. Aslında Türk Futbolu, şike davaları ve Passolig'den çok önce izlenmeye değer olma özelliğini
                                    kaybetmişti.
                                </p>
                                <p>
                                    Sadece tek bir olayla oldu diyemeyiz. Endüstriyel futbolun Türkiye'ye de sirayet etmesi, takım isimlerinin
                                    sonuna A.Ş. getirilmesi, sponsor olan şirketlerin isimlerinin gelmesi, bir takımın efsane olmuş bir futbolcusunun
                                    ezeli rakibine profesyonellik kılıfı altında kolayca geçebilmeye başlaması, buna kimsenin aldırmaması, şehir
                                    takımlarının o şehirde doğup büyümüş oyunculardan oluşmaması, yabancı futbolcu serbestliği ve onlarca diğer neden.
                                </p>
                                <p>
                                    Tüm bunlar tabuta birer çivi oldu ve bir gün bir de baktık ki ortada bildiğimiz anlamda bir Türk Futbolu kalmamış.
                                </p>
                                <p>
                                    Yıllar geçtikten sonra şimdi farkediyorum ki; olan şey sadece dünya futbolundaki endüstriyelleşme sürecinin, geç de
                                    olsa Türkiye'ye de taşınmasıymış.
                                </p>
                                <p>
                                    50'ler ve 70'lerin sonu arasındaki dönemde hayli başarılı olan Türk futbolu, bu
                                    tarihlerden sonra artık dünyadaki endüstriyelleşme sürecini takip etmediği için başarısız olmaya başlamıştı.
                                    Bizim zamanlarımız, dünyada başarısız olmasına rağmen hala amatör ruhunu koruyan güzel zamanların sonuna denk gelir.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Bordeaux-809x599.jpg" alt="Şanlı Bordeux Zaferi 1985 - Bu maç, zaten hezimete uğrayacağız diye televizyondan naklen bile yayınlanmamıştı, radyodan dinlemiştik">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Bordeaux-809x599.jpg" class="lightbox-plus" title="Şanlı Bordeux Zaferi 1985 - Bu maç, zaten hezimete uğrayacağız diye televizyondan naklen bile yayınlanmamıştı, radyodan dinlemiştik"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Şanlı Bordeux Zaferi 1985</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Bu maç, zaten hezimete uğrayacağız diye televizyondan naklen bile yayınlanmamıştı, radyodan dinlemiştik</p>
                                    </div>
                                </div>
                            </div><!-- Bordeux Zaferi -->
                        </div>

                        <div class="row">
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/trabzonspor-thumb.jpg" alt="Trabzonspor - Şenol Güneş'in kaleciliğini yaptığı Trabzonspor, Türk Futbolu'nun son gerçek güzelliğiydi. Neredeyse tüm oyuncular Trabzon'da doğup büyümüştü.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/trabzonspor.jpg" class="lightbox-plus" title="Trabzonspor - Şenol Güneş'in kaleciliğini yaptığı Trabzonspor, Türk Futbolu'nun son gerçek güzelliğiydi. Neredeyse tüm oyuncular Trabzon'da doğup büyümüştü."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Trabzonspor</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Şenol Güneş'in kaleciliğini yaptığı Trabzonspor, Türk Futbolu'nun son gerçek güzelliğiydi. Neredeyse tüm oyuncular Trabzon'da doğup büyümüştü.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Elbette bizim ağabeylerimiz ve babalarımız ve dedelerimiz, Türk Futbolu'nun çok daha güzel
                                    zamanlarını yaşadılar. 1950'lerde o zamanın devi Macaristan'ı yenebilen, 1960'larda karşısına
                                    çıkan her takımı yenme potansiyeli olan, 1970'lerde kulüp takımları bazında başarılı geçen
                                    dönemler yaşanmıştı.
                                </p>
                                <p>
                                    <b>Lefter</b>, <b>Metin Oktay</b>, <b>Turgay Şeren</b> ve nice efsane futbolcuyu, bizden önceki nesiller keyifle
                                    izlediler. Hem milli takım, hem de kulüp takımları, karşısına çıkan her takıma her türlü sonucu tattırabilme potansiyeli
                                    taşıyordu.
                                </p>
                                <p>
                                    Sahalar topraktı ve sadece gündüz maçları yapılabiliyordu. Antreman sahaları yoktu, takımlar nerede
                                    yer bulursa orada çalışıyordu. Transfer ücretleri, diğer meslek gruplarına göre yüksek olsa da;
                                    yurtdışındaki meslektaşlarına göre komik sayılırdı. Amatör ruhla dişediş mücadedele edilen bu dönemlerde
                                    futbol seyircisi olmayı gerçekten çok isterdim.
                                </p>
                            </div>
                        </div><!-- İkinci Paragraf -->

                        <div class="row">
                            <div class="col-md-12"><h3>Bizim Zamanlarımızda Türk Futbolu</h3></div>
                            <div class="col-md-6">
                                <p>
                                    1970'lerin ikinci yarısından 1980'ların sonunda kadar türk futbolu amatör ruhunu büyük ölçüde korudu.
                                    Bugünün antrenörü <b>Fatih Terim</b> meslek hayatının büyük bölümünde Galatasaray'da; <b>Büyük Mustafa</b>
                                    olarak tanıdığımız <b>Mustafa Denizli</b> de aynı şekilde Altay'da top koşturarak tamamladı.
                                    Her ikisi de jübilelerini yıllar boyu emek verdiği takımlarda yaptılar.
                                    Başka bir takıma transfer olmaları düşünülemezdi bile.
                                </p>
                                <p>
                                    Bursaspor'un efsane oyuncusu <b>Sedat 3</b>, futbol hayatına başladığı Bursaspor'da jübile yaparak emekli oldu.
                                    Trabzonsporlu <b>Şenol</b> (Şenol Güneş) de aynı şekilde futbol hayatına Trabzonspor'da nokta koydu.
                                </p>
                                <p>
                                    Şehir takımların oyuncularının büyük bölümü yine aynı şehrin çocuklarıydı.
                                </p>
                                <p>
                                    Oysa aynı dönemlerde Avrupa'da ve Güney Amerika'da profesyonel futbol, tüm kurumlarıyla sisteme egemen
                                    olmuştu bile. Takımlar sponsor şirketlerce fonlanıyor, forma ve benzeri eşyalar takımların dükkanlarında
                                    özel lisansla satılıyor; televizyon yayınları da şifrelenip abonelere satılıyordu. Aslında akla gelebilecek,
                                    satılması mümkün olan her şey, bir şekilde paketlenip satılıyordu.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Bursaspor_1979-80.jpg" alt="Bursaspor'un 1979-80 Kadrosu - Sedat III, ayakta soldan üçüncü">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Bursaspor_1979-80.jpg" class="lightbox-plus" title="Bursaspor'un 1979-80 Kadrosu - Sedat III, ayakta soldan üçüncü"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Bursaspor'un 1979-80 Kadrosu</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p><small>Sedat III, ayakta soldan üçüncü. (<a href="http://www.bursaspor.net/" target="_blank">bursaspor.net</a>'ten alıntıdır)</small></p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Bizim Zamanlarımızda Türk Futbolu -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Politikanın ilgisi</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/KenanEvren_Ankaragucu.jpg" alt="Türkiye Kupası 1980-81 - Ankaragücü, Kenan Evren'in elinden Türkiye Kupası'nı alıyor">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/KenanEvren_Ankaragucu.jpg" class="lightbox-plus" title="Türkiye Kupası 1980-81 - Ankaragücü, Kenan Evren'in elinden Türkiye Kupası'nı alıyor"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Türkiye Kupası 1980-81</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Ankaragücü, Kenan Evren'in elinden Türkiye Kupası'nı alıyor</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Türkiye aynı yolu izleyememişti, ya da izlememişti, bilemiyorum. Belki de 1970'lerin ikinci
                                    yarısından sonra başlayan politik karmaşa ortamı buna engel olmuştu.
                                </p>
                                <p>
                                    <b>12 Eylül 1980</b> darbesini yapan ve destekleyenler, belli bir zaman geçtikten sonra bu duruma odaklanmaya
                                    karar verdiler. Portekiz diktatörü <b>Salazar</b>'ın ünlü <b>3F</b> yöntemi, Türkiye'de küçük farklarla uygulanmaya
                                    başlandı.
                                </p>
                                <p>
                                    12 Eylül cuntasının lideri <b>Kenan Evren</b>, Türkiye Kupası'nı kazanan <b>Ankaragücü</b>'nün, Birinci Lig'e yükseltilmesini
                                    sağlamak için gereken kural düzenlemesinin yapılması direktifini verdi. Bu kuraldan, sonraki yıllarda küme
                                    düşüp Türkiye Kupası'nı kazanan Bursaspor da yararlanacaktı (1985-86 sezonu).
                                </p>
                                <p>
                                    Devamında <b>Özal</b> döneminde, halkı ülke gündeminden koparmak için, diğer şeylerin yanında futbol da sonuna kadar kullanıldı.
                                    Devlet büyükleri, futbola çok yakın bir duruş sergilediler, maçlara bile gitmeye başladılar. Yerel yönetimlerde
                                    bu eğilim çok daha yoğun şekilde yaşandı.
                                </p>
                                <p>
                                    Türk siyasetçileri, futbola, doğrudan ya da dolaylı yollarla yüzlerce kez müdahale ettiler.
                                </p>

                            </div>
                        </div><!-- Politikanın ilgisi -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Başarısızlığın Dip Noktası</h3></div>
                            <div class="col-md-6">
                                <p>
                                    1980'lerin ortalarına doğru Türk Futbolu, uluslararası başarı açısından tümüyle dibe vurdu. Uzun
                                    bir süredir Dünya Kupası'na gidememiştik. Son Dünya Kupası Finalleri'ni hatırlayan nesil artık
                                    orta yaş ve üzeriydi. Kulüpler bazında da, Avrupa Kupaları'nda bir tur atlayabildiğimiz durumlara
                                    bile sevinir olmuştuk.
                                </p>
                                <p>
                                    Tüm bunların sonunda, Kasım 1984'te, <b>8-0</b>'lık İngiltere hezimeti geldi. Bu artık dip noktasıydı.
                                    Türk Halkı futbolu çok seviyordu ama bu başarısızlık seviyesi, politikacılar açısından futbolu bir araç
                                    olarak kullanabilme yeteneğini sınırlıyordu. Bir an önce başarılı sonuçlar alınmalıydı.
                                </p>
                                <p>
                                    Ağız birliği etmişçesine tüm spor yazarları, televizyon yorumcuları ve futbolun ileri gelenleri, artık
                                    Türk Futbolu'nun, tümüyle profesyonel yapıya geçmesi gerektiğini savunmaya başladılar.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Ingiltere_8-0.jpg" alt="8-0'lık İngiltere Hezimeti - Türk Futbolu için dip noktası">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Ingiltere_8-0.jpg" class="lightbox-plus" title="8-0'lık İngiltere Hezimeti - Türk Futbolu için dip noktası"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">8-0'lık İngiltere Hezimeti</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Türk Futbolu için dip noktası</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Başarısızlığın Dip Noktası -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Nihayet Başarılar Gelmeye Başlar</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/jupp-derwall-thumb.jpg" alt="Jupp Derwall - Türk Futbolu'nun yükseliş döneminin sembolü">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/jupp-derwall.jpg" class="lightbox-plus" title="Jupp Derwall - Türk Futbolu'nun yükseliş döneminin sembolü"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Jupp Derwall</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Türk Futbolu'nun yükseliş döneminin sembolü</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Profesyonel bakış açısı yerleştikçe, başarılar da yavaş yavaş gelmeye başladı. Galatasaray'ın <b>Jup Derwall</b>'i getirmesi,
                                    Milli Takım'ın başına <b>Piontek</b>'in getirilmesi, büyük takımların kendi antrenman sahalarını yapması, yabancı
                                    futbolcu sınırlarının yavaş yavaş kaldırılması, kulüplerin astronomik borç batağına girmeyi göze alarak pahalı
                                    transfer yapmaları, etkisini 80'lerin sonunda göstermeye başlamıştı.
                                </p>
                                <p>
                                    Bir yandan da devlet desteğiyle altyapı da güçlendiriliyordu. Stadyumlara çim ekiliyor, gece maçı oynanabilmesi için
                                    aydınlatma düzenekleri yapılıyor, stadyum kapasiteleri artırılıyor, bir yandan da Türkiye 3. Ligi açılarak,
                                    tüm Anadolu'da profesyonel futbol yaygınlaştırılıyordu.
                                </p>
                                <p>
                                    Tüm bu olanlar, yine de Türk Futbolu'nu henüz bozmamıştı, çünkü asıl felaket henüz başlamamıştı.
                                </p>
                            </div>
                        </div><!-- Nihayet Başarılar Gelmeye Başlar -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>...</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Diktatörlerin ve diğer egemenlerin futbolu kendi çıkarlarına uygun şekilde, kitleleri gündemden uzaklaştırmak
                                    için kullanmalarını çok sorun edecek insanlar değiliz; bunu çok önemsemiyorum. Zaten bir çok yönden
                                    kitleleri gerçek potansiyellerinin çok altında tutup dikensiz gül bahçesi içinde ülkeyi yönetmeleri
                                    mümkün. Varsın futbolu da bu açıdan kullansınlar, helali hoş olsun.
                                </p>
                                <p>
                                    Gerçek sorun, futbolun sermayenin eline düşmesi ve birilerinin para kazanabilmesi için her türlü
                                    duygunun dibine kadar sağılması, futbola gönül verenlerin etinden sütünden faydalanılmasıdır.
                                </p>
                                <p>
                                    Türk Futbolu ne zaman bitti? Bunun kesin bir noktası yok. Yıllar geçtikçe, yaşadığımız irili ufaklı gelişmelerin ardından,
                                    bir de baktık ki her şey olmuş bitmiş.
                                </p>
                                <p>
                                    1980'lerde sadece Türk kökenli yabancı futbolcuya izin verilirken, sonraları bir yabancıya izin çıktı ve
                                    yıllar boyunca bu sayı arttıkça arttı. Bu yazıyı yazdığım 2016 yılında kadroda 14 yabancıya kadar izin var
                                    ve 11'ini oynatabiliyorsun. Yani sahaya tümüyle yabancı oyuncularla çıkmak mümkün.
                                </p>

                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- ... -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Şirketleşme</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/milli-takim-dunya-ucuncusu-thumb.jpg" alt="Dünya Üçüncülüğü - Bizim zamanlarımızda, sadece finallere katılabilmenin hayalini kurardık ve hiç olmadı. Futbolun tadı kaçtıktan sonra böyle buruk bir zafer yaşadık.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/milli-takim-dunya-ucuncusu.jpg" class="lightbox-plus" title="Dünya Üçüncülüğü - Bizim zamanlarımızda, sadece finallere katılabilmenin hayalini kurardık ve hiç olmadı. Futbolun tadı kaçtıktan sonra böyle buruk bir zafer yaşadık."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Dünya Üçüncülüğü</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Bizim zamanlarımızda, sadece finallere katılabilmenin hayalini kurardık ve hiç olmadı. Futbolun tadı kaçtıktan sonra böyle buruk bir zafer yaşadık.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Kulüplerin anonim şirkete dönüşmesi de çöküşün kilit noktalarından biri oldu. Külüpler artık bildiğimiz,
                                    ticaret hukukunun bilmem kaçıncı maddesince işletilen şirketlere dönüştü.
                                </p>
                                <p>
                                    Maç sırasında ve gazetelerde genelde bu <b>A.Ş.</b> ekleri, seyirciyi sistemden çok da soğutmamak için yazılmıyor,
                                    ama bu külüplerin artık şirket olduğu gerçeğini değiştirmiyor.
                                </p>
                                <p>
                                    Büyük kulüpler borsada işlem bile görüyorlar ve bu şekilde, bir yönden
                                    daha etinden ve sütünden faydalanılmış oluyor.
                                </p>
                                <p>
                                    A.Ş. ekleri genelde görünmüyor ama, şirket sponsorlukları görünmek zorunda. Bir şirket, kulübe sponsor olup para
                                    yağdırdığında, doğal olarak bunu her yerde görmek istiyor.
                                </p>
                                <p>
                                    Durum böyle olunca, puan cetveline baktığınızda, kulüplerin yarısının önünde ya da arkasında bir şirket
                                    ismi olduğunu görüyoruz. Ne kadar sevimsiz olduğunu herhalde söylemeye gerek yok.
                                </p>
                            </div>
                        </div><!-- Şirketleşme -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>...</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Her ne kadar sevimsiz gelse de, para akmaya başladığı için, 1990'ların sonunda ve 2000'lerin başında, Türk Futbolu en başarılı günlerini yaşadı.
                                </p>
                                <p>
                                    <b>Galatasaray</b> 2000 yılında UEFA Kupası'nı ve Süper Kupa'yı aldı. Türk Milli Takımı 2002'de <b>dünya üçüncüsü</b> oldu ve Euro 2008'de yarı
                                    final oynadı. Yine bu dönemde kulüpler, Avrupa kupalarında çeyrek ve yarı final oynadılar.
                                    Tüm bunlar, aslında 1980'lerin sonunda atılan tohumların meyveleriydi. Bu gelen başarılar yüzünden ben de dahil tüm futbolseverler,
                                    Türk Futbolu'nda yaşanan sevimsizlikleri görmezden geldik.
                                </p>
                                <p>
                                    Aynı esnada, çöküş 2000'li yıllarda da hızlanarak devam etti. Tek parti dönemi uzadıkça, iktidar belediyelerinin güçleri de çok arttı.
                                    Birçok şehirde belediyelere ait şirketler serpilip büyüdüler. 90'larda liberallerin dilinden düşürmediği,
                                    "devleti küçültelim abi" söylemine zıt bir şekilde; devlet eliyle, devasa ve bir o kadar da ucube bir ekonomik
                                    düzen yaratıldı.
                                </p>
                                <p>
                                    İşte bu dönemde; parası bol olan belediyeler, birer ikişer futbol kulüpleri kurdular. Seyircisi ve tarihi kökü
                                    olmayan bu kulüpler, para desteği sayesinde birinci lige kadar çıktılar. Sadece bu bile, futbolun artık
                                    sadece paradan ibaret olduğunun açık bir örneğidir.
                                </p>


                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- ... -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>...</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/medipol-basaksehir-teleset-mobilya-akhisar-thumb.jpg" alt="Başlık Her Şeyin Özeti - Belediye takımlarının ön plana çıkışı, takım isimlerinin başına eklenen şirket isimleri ve her şeyin tatsızlaşması">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/medipol-basaksehir-teleset-mobilya-akhisar.jpg" class="lightbox-plus" title="Başlık Her Şeyin Özeti - Belediye takımlarının ön plana çıkışı, takım isimlerinin başına eklenen şirket isimleri ve her şeyin tatsızlaşması"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Başlık Her Şeyin Özeti</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Belediye takımlarının ön plana çıkışı, takım isimlerinin başına eklenen şirket isimleri ve her şeyin tatsızlaşması</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Şimdilerde puan cetveline baktığınızda şirket isimleri ve belediye takımlarıyla dolu olduğunu görürsünüz. İkinci
                                    ligde bu durum daha da feci.
                                </p>
                                <p>
                                    Tam da bu noktada, <b>Süper Lig</b> kavramına da değinmek gerekir. <b>Birinci Lig</b>'in isminin değiştirilip,
                                    İkinci Lig'in adının Birinci Lig yapılması İngiliz Futbolu'na özgü bir enteresanlık olarak kabul edilebilir.
                                    Sonuçta adamlar futbolun mucidi ve böyle bir marjinallik yapma hakları biraz olsun var. Bizim var mı?
                                    Yapınca komik oluyor işte. Bu isim değişikliği de, bu liglere sponsor alıp ligin bu sponsor şirketle
                                    birlikte anılması da Türk Futbolu'na indirilen başka bir darbe oldu.
                                </p>
                                <p>
                                    Artık yirmibirinci yüzyıldayız. Bursa'da doğup, tüm futbol hayatını Bursaspor'da geçirip, yine Bursaspor
                                    formasıyla jübile yapan Sedat 3 gibi futbolcuların artık olamayacağının farkındayım ama bazı şeyler de
                                    yenir yutulur gibi değil.
                                </p>

                            </div>
                        </div> <!-- ... -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>...</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Yıllar boyu Fenerbahçe seyircisi tarafından nefret edilen Emre Belözoğlu'nun Fenerbahçe'ye transfer
                                    olması herhalde beni futboldan tümüyle soğutan son darbe oldu. Elbette başarı en büyük kriter ama
                                    bu kadarı da fazla yahu!
                                </p>
                                <p>
                                    Şimdilerde, bir kulübün efsane oyuncusu olmak, kulübe ve şehre bağlılık çok anlam ifade etmiyor. Her an
                                    her şey olabilir. Her oyuncu her kulübe transfer olabilir, yeter ki para olsun. Zaten 11 yabancı futbolcuyla
                                    sahaya çıkılabildiği bu günlerde bunları konuşmak da çok anlamlı değil.
                                </p>
                                <p>
                                    Tüm bu darbelerin üzerine şike davaları ve Passolig geldi. 1970'lerde çekilmiş
                                    İnek Şaban filminde görüldüğü gibi, futbolda şike hep vardı. Sadece Fenerbahçe'yle sınırlı da değildi. Herkes
                                    biliyor ki, herkes mümkün olan her durumda şikeye başvuruyordu. Buna bir de Anadolu takımlarının birbirlerine
                                    hatır gönül yenilmeleri ve kardeş takım çakallığı da eklenince ortaya gayet şaibeli bir lig çıkıyordu.
                                    Davalarla birlikte bu işlerin bir kısmı su yüzüne çıktı ve ben dahil birçok kadim futbolsever ağzında buruk bir tat
                                    hissettik ve yavaştan futboldan elimizi eteğimizi çektik.
                                </p>

                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fenerbahce-kadrosu-2018-thumb.jpg" alt="Yabancılaşma - Artık Fenerbahçe kadrosundaki 32 oyuncudan 13'ü yerli; yani yarısı bile değil.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fenerbahce-kadrosu-2018.jpg" class="lightbox-plus" title="Yabancılaşma - Artık Fenerbahçe kadrosundaki 32 oyuncudan 13'ü yerli; yani yarısı bile değil."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Yabancılaşma</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Artık Fenerbahçe kadrosundaki 32 oyuncudan 13'ü yerli; yani yarısı bile değil.</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ... -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Faşolig</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fasolige-hayir-thumb.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fasolige-hayir.jpg" class="lightbox-plus" title="XXX - xxx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <b>Gezi Olayları</b>'yla birlikte stadyumlarda da politik figürleri, slogan ve pankartlarıyla eleştiren gruplar belirmeye
                                    başladı. Aslında bu gruplar, endüstriyel futbola karşı oldukları için Türk Futbolu'na bir umut ışığı olabilirdi.
                                    Ama egemenler, kendilerine yönelen bu eleştiri kanalını kapatmaya karar vererek <b>Passolig</b> uygulamasını başlattı.
                                    Artık stada giren herkes kayıt altında olacaktı ve kim ne yaparsa hemen ensesine binilebilecekti.
                                </p>
                                <p>
                                    Kısa sürede <b>Faşolig</b> olarak adlandırılan bu sistemden gerçek futbolseverlerin çoğu uzak durdu;
                                    stadlar boşaldı, Türk Futbolu momentumunu tümüyle yitirdi.
                                </p>
                                <p>
                                    Altın çağ geride kaldı; ama 1980'lerin başındaki kadar başarısızlığın dibinde de değiliz. Kulüplerimiz birkaç tur
                                    atladığında normal karşılıyoruz. Milli Takım da son anda Euro 2016'ya katılma şansını yakaladı. Ama tüm işaretler
                                    Türk Futbolu'nun artık gerileme döneminde olduğunu gösteriyor. Artık UEFA Kupası'nı kazanan Galatasaray ve
                                    Dünya Kupası'nda 3. olan Milli Takım'ın o başarılı dönemlerinden çok uzaktayız.
                                </p>

                            </div>
                        </div> <!-- Faşolig -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>...</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Oluşturulan çark çok fazla para gerektiriyor. Naklen yayın ihalesini alan kurum, ödediği milyonlarca doları çıkartmak
                                    için agresif satış politikası yürütüyor. Kulüpler almak zorunda olduğu yabancı futbolculara para yetiştirebilmek için
                                    naklen yayın ve stadyum gelirinin yanında <b>store</b> adı altında dükkanlar açarak ürün satıyor. Caddelerde ve alışveriş
                                    merkezlerinde Fenerbahçe, Galatasaray ve Beşiktaş mağazalarının yan yana olması ve hepsinde aslında hemen hemen aynı
                                    ürünlerin sadece farklı renklerle satılması, işin sıkıcılığını bir kat daha artırıyor.
                                </p>
                                <p>
                                    Tüm bunlara rağmen, yine de para yetmiyor ve kulüpler borç içinde yüzüyor. Parasını alamayan yabancı futbolcular
                                    kulüplere Avrupa'da dava açıyor.
                                </p>
                                <p>
                                    Geldiğimiz noktada, ruh da kalmadı başarı da. Bazı gerçek futbolseverler Avrupa Futbolu'nu takip etmeye yöneldiler, ama
                                    orada da işler çok farklı değil. <b>2022 Dünya Kupası</b>'nın <b>Katar</b>'a verilmesi, Dünya Futbolu'nun da artık
                                    bitme noktasında olduğunun açık kanıtı. Her şeyin bu kadar paraya odaklı olması işin tadını hayli kaçırdı.
                                </p>
                                <p>
                                    Ben artık futbolu takip etmekten tümüyle vazgeçtim. En son Cruyff'un ölümüyle
                                </p>

                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- ... -->
                        <br />
                    </div>
                </div><!-- CONTENT BODY -->
                
                @Html.Partial("~/Views/Home/ParShareArticle.cshtml")
                @Html.Partial("~/Views/Home/ParAuthor.cshtml")
                @Html.Partial("~/Views/Home/ParCommentForm.cshtml")
            </div><!-- MAINBAR COLUMN -->
            
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="s-widget">
                        <h5><i class="fa fa-bus fa-lg color"></i>&nbsp; Mercedes 302</h5>
                        <div class="widget-content text-muted">    
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/Mercedes302s1968.jpg" alt="Mercedes 302 - 1968 model">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/Mercedes302s1968.jpg" class="lightbox"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Mercedes 302</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>1968 model</p>
                                    </div>
                                </div>
                            </div>
                            <p>
                                Bu otobüsleri çoğumuz 302 olarak adlandırsak da, doğru adı gerçekte O302'dir.
                            </p>
                            <p>
                                Bu aşağıdakileri, ekşisözlük yazarlarından <a href="https://eksisozluk.com/biri/raini">raini</a> yazmış. 
                                Her şeyi çok güzel özetlemiş, ekleyecek hiçbir şeyim yok.
                            </p>
                            <blockquote>
                                <p>
                                    Loş ışıklı dinlenme tesislerinde, benzin istasyonlarında ve dağ başlarındaki tabelasız
                                    kamyoncu duraklarında bir köşeye parketmiş olarak görebilirsiniz 302'leri. Onları gördüğünüzde,
                                    bu hüzünlü duraklama yerlerinde uyuşmuş bacaklarınızı gerinerek açmaya çalışarak otobüsten
                                    indiğiniz ve serin dağ rüzgarı ile ürperdiğiniz anı hatırlayacaksınız.
                                </p>
                                <p>
                                     Acı çayı bol şekerle içmeye çalışırken sarı botlu bir adamın elindeki hortum geçirilmiş fırçayla otobüsü yıkamaya
                                     başladığını, otobüsün ön camına yolculuğun son durağının ismini taşıyan şeffaf bir plaka yapıştırıldığını,
                                     otobüs şoförünün ağır adımlarla girdiği lokantada çorba içtiğini ve yanındaki muavinin uykulu gözlerle esnediğine
                                     şahit olacaksınız hafızanınız tozlu karanlığında. 
                                 </p>
                                <p>
                                    Ardından uzun süren rampaları, kamyonlarla dolu yollarda geçen gece yolculuklarında otobüsün 
                                    farlarının aydınlığında parlayan asvaltı, şarampole devrilmiş bir başka 302'inin kenara dizilmiş şaşkın 
                                    ve şanssız yolcularına acıyarak baktığınızı anımsayacaksınız. 
                                </p>
                                <p>
                                    Sonra tavandan süzülen ince ışığın naif aydınlığında uykuya
                                    direnirken gördüğünüz, bozuk yollardan geçtikçe titreyen ön koltuğu, onun sırtına iliştirilmiş
                                    filenin eşya konmaktan bollaşmış çeplerini, koltuk kafalığının kirlenmiş beyazını ve gri metal
                                    üzerine yazılmış "17/18-pencere/koridor" yazısını yeniden göreceksiniz. ve hayatın ne kadar
                                    hızlı ilerlediğini birkez daha farkedip, biraz da ürpereceksiniz.
                                </p>
                                <small><a href="https://eksisozluk.com/biri/raini">raini</a> </small>
                            </blockquote>
                        </div>
                    </div><!-- Naples -->
                    <div class="s-widget">
                        <h5><i class="fa fa-road fa-lg color"></i>&nbsp; Dorukhan Tüneli</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/DorukhanTuneli.jpg" alt="Dorukhan Tüneli - Zonguldak yönü">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/DorukhanTuneli.jpg" class="lightbox"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Dorukhan Tüneli - Zonguldak yönü</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>fotoğraf <a href="http://www.panoramio.com/photo/37776076" target="_blank">Ahmet Soyak</a>'tan alıntıdır</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                Bolu Dağı Tüneli'nin henüz yapım aşamasında olduğu o dönemlerde, Zonguldak-Bolu sınırını oluşturan dağlarda
                                devasa bir tünel vardı. Uzunluğu bir kilometrenin üzerinde (1096 metre) olan bu tünel çok büyük ihtimalle
                                1980'li yıllarda Türkiye'nin en uzun tüneliydi.
                            </p>
                            <p>
                                Uçurumların kenarından dolanan daracık ve aşırı tehlikeli yolu yarım saatten birkaç dakikaya indiren bu tünel
                                pek çok yönüyle aslında bir korku tünelini andırıyordu.
                            </p>
                            <p>
                                Sadece tek geliş ve tek gidiş olan bu daracık tünelde ışık yoktu ve tavanlarından sürekli su damlardı. İçeride 
                                yavaş gidilmesi gerektiğinden dakikalar boyunca süren korku dolu bir deneyim yaşardınız. Yine de ne olursa
                                olsun, uçurumların kenarından gittiğiniz yarım saatlik adrenalin nöbetinden iyiydi.
                            </p>
                            <p>
                                Günümüzde bu tünelin yanına ikinci bir tünel daha yapılmış; gidiş ve geliş yönleri ayırılmıştır. Su damlamaz
                                ve her yanı ışıl ışıldır. Eski halini özlemiyor değilim.
                            </p>
                        </div>
                    </div><!-- Dorukhan Tüneli -->
                    <div class="s-widget">
                        <h5><i class="fa fa-photo fa-lg color"></i>&nbsp; FOTOĞRAF GALERİSİ</h5>
                        <div class="widget-content gallery lightbox-popup-gallery">
                            <a href="~/Content/Images/Tales/Zonguldak/Zonguldak1977.jpg" title="Zonguldak 1977 - Şehrin efsanevi döneminin son demleri"><img src="~/Content/Images/Tales/Zonguldak/Zonguldak1977.jpg" alt="Zonguldak 1977 - Şehrin efsanevi döneminin son demleri" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Zonguldak/ZonguldakEskiHarita.jpg" title="Zonguldak'ın eski haritası - Bartın ve Karabük ayrılmadan önceki hali"><img src="~/Content/Images/Tales/Zonguldak/ZonguldakEskiHarita.jpg" alt="Zonguldak'ın eski haritası - Bartın ve Karabük ayrılmadan önceki hali" class="img-responsive img-thumbnail" /></a>
                        </div>
                    </div><!-- IMAGE GALLERY -->
                </div>
            </div><!-- SIDEBAR COLUMN -->
        </div>
    </div>
</div>

