@{
    ViewBag.Title = "Bir Zamanlar Türk Futbolu";
}

<div class="container">
    <div class="blog-two">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-two-item">
                    <div class="blog-two-content">
                        <h1><span class="text-primary">Bir Zamanlar Türk Futbolu</span></h1>
                        <h5><span class="text-muted">Futbol borsada değil, arsada güzeldi</span></h5>

                        <div class="blog-meta">
                            <a href="#"><i class="fa fa-calendar"></i> &nbsp; Ocak 2025</a> &nbsp;
                            <a href="#"><i class="fa fa-user"></i> &nbsp; Bilgin Eşme</a> &nbsp;
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <span class="dropcap-2">B</span>izim zamanlarımız, Türk futbolunun hala izlenmeye değer olduğu dönemlerin
                                    sonuna denk gelir. Aslında Türk futbolu, şike davaları ve Passolig'den çok önce izlenmeye değer olma özelliğini
                                    kaybetmişti.
                                </p>
                                <p>
                                    Sadece tek bir olayla oldu diyemeyiz. Endüstriyel futbolun Türkiye'ye de sirayet etmesi, takım isimlerinin
                                    sonuna A.Ş. getirilmesi, sponsor olan şirketlerin isimlerinin gelmesi, bir takımın efsane olmuş bir futbolcusunun
                                    ezeli rakibine profesyonellik kılıfı altında kolayca geçebilmeye başlaması, buna kimsenin aldırmaması, şehir
                                    takımlarının o şehirde doğup büyümüş oyunculardan oluşmaması, yabancı futbolcu serbestliği ve onlarca diğer neden.
                                </p>
                                <p>
                                    Tüm bunlar tabuta birer çivi oldu ve bir gün bir de baktık ki ortada bildiğimiz anlamda bir Türk futbolu kalmamış.
                                </p>
                                <p>
                                    Yıllar geçtikten sonra şimdi farkediyorum ki; olan şey sadece dünya futbolundaki endüstriyelleşme sürecinin, geç de
                                    olsa Türkiye'ye de taşınmasıymış.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/bordeaux-fenerbahce-thumb.jpg" alt="Şanlı Bordeux Zaferi 1985 - Bu maç, zaten hezimete uğrayacağız diye televizyondan naklen bile yayınlanmamıştı, radyodan dinlemiştik">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/bordeaux-fenerbahce.jpg" class="lightbox-plus" title="Şanlı Bordeux Zaferi 1985 - Bu maç, zaten hezimete uğrayacağız diye televizyondan naklen bile yayınlanmamıştı, radyodan dinlemiştik">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Şanlı Bordeux Zaferi 1985</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Bu maç, zaten hezimete uğrayacağız diye televizyondan naklen bile yayınlanmamıştı, radyodan dinlemiştik</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Bordeux Zaferi -->

                        <div class="row">
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/turkiye-macaristan-thumb.jpg" alt="Macaristan Zaferi - Türk Milli Takımı, 1950'lerin en başarılı takımı Macaristan'ı 3-1 yenmişti. Bizim zamanlarımızın futbol yorumcularının dilinde hep bu efsane maç vardı.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/turkiye-macaristan.jpg" class="lightbox-plus" title="Macaristan Zaferi - Türk Milli Takımı, 1950'lerin en başarılı takımı Macaristan'ı 3-1 yenmişti. Bizim zamanlarımızın futbol yorumcularının dilinde hep bu efsane maç vardı.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Macaristan Zaferi</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Türk Milli Takımı, 1950'lerin en başarılı takımı Macaristan'ı 3-1 yenmişti. Bizim zamanlarımızın futbol yorumcularının dilinde hep bu efsane maç vardı.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    50'ler ve 70'lerin sonu arasındaki dönemde hayli başarılı olan Türk futbolu, bu
                                    tarihlerden sonra artık dünyadaki endüstriyelleşme sürecini takip etmediği için başarısız olmaya başlamıştı.
                                    Bizim zamanlarımız, dünyada başarısız olmasına rağmen hala amatör ruhunu koruyan güzel zamanların sonuna denk gelir.
                                </p>
                                <p>
                                    Elbette bizim ağabeylerimiz ve babalarımız ve dedelerimiz, Türk futbolunun çok daha güzel
                                    zamanlarını yaşadılar. 1950'lerde o zamanın devi Macaristan'ı yenebilen, 1960'larda karşısına
                                    çıkan her takımı yenme potansiyeli olan, 1970'lerde kulüp takımları bazında başarılı geçen
                                    dönemler yaşanmıştı.
                                </p>
                                <p>
                                    <b>Lefter</b>, <b>Metin Oktay</b>, <b>Turgay Şeren</b> ve nice efsane futbolcuyu, bizden önceki nesiller keyifle
                                    izlediler. Hem milli takım, hem de kulüp takımları, karşısına çıkan her takıma her türlü sonucu tattırabilme potansiyeli
                                    taşıyordu.
                                </p>
                                <p>
                                    Sahalar topraktı ve sadece gündüz maçları yapılabiliyordu. Antreman sahaları yoktu, takımlar nerede
                                    yer bulursa orada çalışıyordu. Transfer ücretleri, diğer meslek gruplarına göre yüksek olsa da;
                                    yurtdışındaki meslektaşlarına göre komik sayılırdı. Amatör ruhla dişediş mücadedele edilen bu dönemlerde
                                    futbol seyircisi olmayı gerçekten çok isterdim.
                                </p>
                            </div>
                        </div><!-- İkinci Paragraf -->

                        <div class="row">
                            <div class="col-md-12"><h3>Bizim Zamanlarımızda Türk Futbolu</h3></div>
                            <div class="col-md-6">
                                <p>
                                    1970'lerin ikinci yarısından 1980'ların sonunda kadar türk futbolu amatör ruhunu büyük ölçüde korudu.
                                    Bugünün antrenörü <b>Fatih Terim</b>, meslek hayatının büyük bölümünde Galatasaray'da; <b>Büyük Mustafa</b>
                                    olarak tanıdığımız <b>Mustafa Denizli</b> de aynı şekilde Altay'da top koşturarak tamamladı.
                                    Her ikisi de jübilelerini yıllar boyu emek verdiği takımlarda yaptılar.
                                    Başka bir takıma transfer olmaları düşünülemezdi bile.
                                </p>
                                <p>
                                    Bursaspor'un efsane oyuncusu <b>Sedat 3</b>, futbol hayatına başladığı Bursaspor'da jübile yaparak emekli oldu.
                                    Trabzonsporlu <b>Şenol</b> (Şenol Güneş) de aynı şekilde futbol hayatına Trabzonspor'da nokta koydu.
                                </p>
                                <p>
                                    Şehir takımların oyuncularının büyük bölümü yine aynı şehrin çocuklarıydı.
                                </p>
                                <p>
                                    Oysa aynı dönemlerde Avrupa'da ve Güney Amerika'da profesyonel futbol, tüm kurumlarıyla sisteme egemen
                                    olmuştu bile. Takımlar sponsor şirketlerce fonlanıyor, forma ve benzeri eşyalar takımların dükkanlarında
                                    özel lisansla satılıyor; televizyon yayınları da şifrelenip abonelere satılıyordu. Aslında akla gelebilecek,
                                    satılması mümkün olan her şey, bir şekilde paketlenip satılıyordu.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Bursaspor_1979-80.jpg" alt="Bursaspor'un 1979-80 Kadrosu - Sedat III, ayakta soldan üçüncü">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Bursaspor_1979-80.jpg" class="lightbox-plus" title="Bursaspor'un 1979-80 Kadrosu - Sedat III, ayakta soldan üçüncü">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Bursaspor'un 1979-80 Kadrosu</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p><small>Sedat III, ayakta soldan üçüncü. (<a href="http://www.bursaspor.net/" target="_blank">bursaspor.net</a>'ten alıntıdır)</small></p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Bizim Zamanlarımızda Türk Futbolu -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Politikanın ilgisi</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/kenan-evren_ankaragucu.jpg" alt="Türkiye Kupası 1980-81 - Ankaragücü, Kenan Evren'in elinden Türkiye Kupası'nı alıyor.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/kenan-evren_ankaragucu.jpg" class="lightbox-plus" title="Türkiye Kupası 1980-81 - Ankaragücü, Kenan Evren'in elinden Türkiye Kupası'nı alıyor.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Türkiye Kupası 1980-81</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Ankaragücü, Kenan Evren'in elinden Türkiye Kupası'nı alıyor.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Türkiye aynı yolu izleyememişti, ya da izlememişti, bilemiyorum. Belki de 1970'lerin ikinci
                                    yarısından sonra başlayan politik karmaşa ortamı buna engel olmuştu.
                                </p>
                                <p>
                                    <b>12 Eylül 1980</b> darbesini yapan ve destekleyenler, belli bir zaman geçtikten sonra bu duruma odaklanmaya
                                    karar verdiler. Portekiz diktatörü <b>Salazar</b>'ın ünlü <b>3F</b> yöntemi, Türkiye'de küçük farklarla uygulanmaya
                                    başlandı.
                                </p>
                                <p>
                                    12 Eylül cuntasının lideri <b>Kenan Evren</b>, Türkiye Kupası'nı kazanan <b>Ankaragücü</b>'nün, Birinci Lig'e yükseltilmesini
                                    sağlamak için gereken kural düzenlemesinin yapılması direktifini verdi. Bu kuraldan, sonraki yıllarda küme
                                    düşüp Türkiye Kupası'nı kazanan Bursaspor da yararlanacaktı (1985-86 sezonu).
                                </p>
                                <p>
                                    Devamında <b>Özal</b> döneminde, halkı ülke gündeminden koparmak için, diğer şeylerin yanında futbol da sonuna kadar kullanıldı.
                                    Devlet büyükleri, futbola çok yakın bir duruş sergilediler, maçlara bile gitmeye başladılar. Yerel yönetimlerde
                                    bu eğilim çok daha yoğun şekilde yaşandı.
                                </p>
                                <p>
                                    Türk siyasetçileri, futbola, doğrudan ya da dolaylı yollarla yüzlerce kez müdahale ettiler.
                                </p>

                            </div>
                        </div><!-- Politikanın ilgisi -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Başarısızlığın Dip Noktası</h3></div>
                            <div class="col-md-6">
                                <p>
                                    1980'lerin ortalarına doğru Türk futbolu, uluslararası başarı açısından tümüyle dibe vurdu. Uzun
                                    bir süredir Dünya Kupası'na gidememiştik. Son Dünya Kupası Finalleri'ni hatırlayan nesil artık
                                    orta yaş ve üzeriydi. Kulüpler bazında da, Avrupa Kupaları'nda bir tur atlayabildiğimiz durumlara
                                    bile sevinir olmuştuk.
                                </p>
                                <p>
                                    Tüm bunların sonunda, Kasım 1984'te, <b>8-0</b>'lık İngiltere hezimeti geldi. Bu artık dip noktasıydı.
                                    Türk Halkı futbolu çok seviyordu ama bu başarısızlık seviyesi, politikacılar açısından futbolu bir araç
                                    olarak kullanabilme yeteneğini sınırlıyordu. Bir an önce başarılı sonuçlar alınmalıydı.
                                </p>
                                <p>
                                    Ağız birliği etmişçesine tüm spor yazarları, televizyon yorumcuları ve futbolun ileri gelenleri, artık
                                    Türk futbolunun, tümüyle profesyonel yapıya geçmesi gerektiğini savunmaya başladılar.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Ingiltere_8-0.jpg" alt="8-0'lık İngiltere Hezimeti - Türk Futbolu için dip noktası">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Ingiltere_8-0.jpg" class="lightbox-plus" title="8-0'lık İngiltere Hezimeti - Türk Futbolu için dip noktası">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">8-0'lık İngiltere Hezimeti</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Türk futbolu için dip noktası</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Başarısızlığın Dip Noktası -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Nihayet Başarılar Gelmeye Başlar</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/jupp-derwall-thumb.jpg" alt="Jupp Derwall - Türk Futbolu'nun yükseliş döneminin sembolü">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/jupp-derwall.jpg" class="lightbox-plus" title="Jupp Derwall - Türk Futbolu'nun yükseliş döneminin sembolü">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Jupp Derwall</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Türk futbolunun yükseliş döneminin sembolü</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Profesyonel bakış yerleştikçe, başarılar da yavaş yavaş gelmeye başladı. Galatasaray'ın <b>Jup Derwall</b>'i getirmesi,
                                    Milli Takım'ın başına <b>Piontek</b>'in geçmesi, büyük takımların kendi antrenman sahalarını yapması, yabancı
                                    futbolcu sınırlarının yavaş yavaş kaldırılması, kulüplerin astronomik borç batağına girmeyi göze alarak pahalı
                                    transfer yapmaları; etkisini 80'lerin sonunda göstermeye başlamıştı.
                                </p>
                                <p>
                                    Bir yandan da devlet desteğiyle altyapı da güçlendiriliyordu. Stadyumlara çim ekiliyor, gece maçı oynanabilmesi için
                                    aydınlatma düzenekleri yapılıyor, stadyum kapasiteleri artırılıyor, bir yandan da Türkiye 3. Ligi açılarak,
                                    tüm Anadolu'da profesyonel futbol yaygınlaştırılıyordu.
                                </p>
                                <p>
                                    Tüm bu olanlar, yine de Türk futbolunu henüz tam olarak bozmamıştı, çünkü asıl felaket henüz başlamamıştı.
                                </p>
                            </div>
                        </div><!-- Nihayet Başarılar Gelmeye Başlar -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>...</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Diktatörlerin ve diğer egemenlerin futbolu kendi çıkarlarına uygun şekilde, kitleleri gündemden uzaklaştırmak
                                    için kullanmalarını çok sorun edecek insanlar değiliz. Zaten bir çok yönden kitleleri gerçek potansiyellerinin çok
                                    altında tutup dikensiz gül bahçesi içinde ülkeyi yönetmeleri mümkün. Varsın futbolu da bu açıdan kullansınlar, çok önemli değil.
                                </p>
                                <p>
                                    Gerçek sorun, futbolun sermayenin eline düşmesi ve birilerinin para kazanabilmesi için her türlü
                                    duygunun dibine kadar sağılması, futbola gönül verenlerin etinden sütünden faydalanılmasıdır.
                                </p>
                                <p>
                                    Türk futbolu ne zaman bitti? Bunun kesin bir noktası yok. Yıllar geçtikçe, yaşadığımız irili ufaklı gelişmelerin ardından,
                                    bir de baktık ki her şey olmuş bitmiş.
                                </p>
                                <p>
                                    1980'lerde sadece Türk kökenli yabancı futbolcuya izin verilirken, sonraları bir yabancıya izin çıktı ve
                                    yıllar boyunca bu sayı arttıkça arttı. Bu yazıyı yazdığım 2016 yılında kadroda 14 yabancıya kadar izin var
                                    ve 11'ini oynatabiliyorsun. Yani sahaya tümüyle yabancı oyuncularla çıkmak mümkün.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/trabzonspor-thumb.jpg" alt="Trabzonspor - Şenol Güneş'in kaleciliğini yaptığı Trabzonspor, Türk Futbolu'nun son gerçek güzelliğiydi. Neredeyse tüm oyuncular Trabzon'da doğup büyümüştü.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/trabzonspor.jpg" class="lightbox-plus" title="Trabzonspor - Şenol Güneş'in kaleciliğini yaptığı Trabzonspor, Türk Futbolu'nun son gerçek güzelliğiydi. Neredeyse tüm oyuncular Trabzon'da doğup büyümüştü.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Trabzonspor</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Şenol Güneş'in kaleciliğini yaptığı Trabzonspor, Türk futbolunun son gerçek güzelliğiydi. Neredeyse tüm oyuncular Trabzon'da doğup büyümüştü.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- ... -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Türk Futbolu Zirvede</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/milli-takim-dunya-ucuncusu-thumb.jpg" alt="Dünya Üçüncülüğü - Bizim zamanlarımızda, sadece finallere katılabilmenin hayalini kurardık ve hiç olmadı. Futbolun tadı kaçtıktan sonra böyle buruk bir zafer yaşadık.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/milli-takim-dunya-ucuncusu.jpg" class="lightbox-plus" title="Dünya Üçüncülüğü - Bizim zamanlarımızda, sadece finallere katılabilmenin hayalini kurardık ve hiç olmadı. Futbolun tadı kaçtıktan sonra böyle buruk bir zafer yaşadık.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Dünya Üçüncülüğü</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Bizim zamanlarımızda, sadece finallere katılabilmenin hayalini kurardık ve hiç olmadı. Futbolun tadı kaçtıktan sonra böyle buruk bir zafer yaşadık.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Her ne kadar sevimsiz gelse de, para akmaya başladığı için, 1990'ların sonunda ve 2000'lerin başında, Türk futbolu en başarılı günlerini yaşadı.
                                </p>
                                <p>
                                    <b>Galatasaray</b> 2000 yılında UEFA Kupası'nı ve Süper Kupa'yı aldı. Türk Milli Takımı 2002'de <b>dünya üçüncüsü</b> oldu ve Euro 2008'de yarı
                                    final oynadı. Yine bu dönemde kulüpler, Avrupa kupalarında çeyrek ve yarı final oynadılar.
                                    Tüm bunlar, aslında 1980'lerin sonunda atılan tohumların meyveleriydi. Bu gelen başarılar yüzünden ben de dahil tüm futbolseverler,
                                    Türk futbolunda yaşanan sevimsizlikleri görmezden geldik.
                                </p>
                                <p>
                                    Türk futbolunun zirvede olduğu o günlerde bile, aslında çoktan tadı kaçmıştı ve başarısız olduğumuz ama her şeyin daha bir sahici olduğu
                                    o eski günleri özler hale gelmiştim.
                                </p>
                                <p>
                                    1980'lerin başındaki kadar başarısızlığın dibinde olmasak da altın çağ geride kaldı. Kulüplerimiz birkaç tur
                                    atladığında normal karşılıyoruz. Milli Takım da son anda Euro 2016'ya katılma şansını yakaladı. Ama tüm işaretler
                                    Türk futbolunun artık gerileme döneminde olduğunu gösteriyor. Artık UEFA Kupası'nı kazanan Galatasaray ve
                                    Dünya Kupası'nda 3. olan Milli Takım'ın o başarılı dönemlerinden çok uzaktayız.
                                </p>

                            </div>
                        </div><!-- Türk Futbolu Zirvede -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Ve Çöküş</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Tüm bu başarıların yaratılması için oluşturulan çark, çok fazla para gerektiriyor. Naklen yayın ihalesini alan kurum, ödediği
                                    milyonlarca doları çıkartmak için agresif satış politikası yürütüyor. Kulüpler almak zorunda olduğu yabancı futbolculara para
                                    yetiştirebilmek için naklen yayın ve stadyum gelirinin yanında, <b>store</b> adı altında dükkanlar açarak ürün satıyor.
                                    Caddelerde ve alışveriş merkezlerinde; Fenerbahçe, Galatasaray ve Beşiktaş mağazalarının yan yana olması ve hepsinde aslında
                                    hemen hemen aynı ürünlerin, sadece farklı renklerle satılması, işin sıkıcılığını bir kat daha artırıyor.
                                </p>
                                <p>
                                    Artık yirmibirinci yüzyıldayız. Bursa'da doğup, tüm futbol hayatını Bursaspor'da geçirip, yine Bursaspor
                                    formasıyla jübile yapan Sedat 3 gibi futbolcuların artık olamayacağının farkındayım ama bazı şeyler de
                                    yenir yutulur gibi değil. Şimdilerde, bir kulübün efsane oyuncusu olmak, kulübe ve şehre bağlılık çok anlam ifade etmiyor. Her an
                                    her şey olabilir; her oyuncu her kulübe transfer olabilir.
                                </p>
                                <p>
                                    Yıllar boyu Fenerbahçe seyircisi tarafından nefret edilen Emre Belözoğlu'nun Fenerbahçe'ye transfer
                                    olması herhalde beni futboldan tümüyle soğutan son darbe oldu. Elbette başarı en büyük kriter ama
                                    bu kadarı da fazla yahu!
                                </p>
                                <p>
                                    Ben artık futbolu takip etmekten tümüyle vazgeçtim.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/sukru-saracoglu-eski-yeni-thumb.jpg" alt="Şükrü Saracoğlu'nun eski ve yeni hali - Çok daha modern, daha çok seyirci alıyor ve gece maç yapılabiliyor, ama o eski sıcaklığı yok.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/sukru-saracoglu-eski-yeni.jpg" class="lightbox-plus" title="Şükrü Saracoğlu'nun eski ve yeni hali - Çok daha modern, daha çok seyirci alıyor ve gece maç yapılabiliyor, ama o eski sıcaklığı yok.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Şükrü Saracoğlu'nun eski ve yeni hali</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Çok daha modern, daha çok seyirci alıyor ve gece maç yapılabiliyor, ama o eski sıcaklığı yok</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Ve Çöküş -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Bizim Zamanlarımızda Güzel Olan Neydi?</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/cenk-koray-thumb.jpg" alt="Stüdyo Pazar - Cenk Koray meşhur Kutu Oyunu'nu oynuyor. Sunulan hiçbir alternatifi beğenmeyen insanlara, 'O zaman kutunu açıyoruz' deyişi bu oyundan çıkmıştır.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/cenk-koray.jpg" class="lightbox-plus" title="Stüdyo Pazar - Cenk Koray meşhur Kutu Oyunu'nu oynuyor. Sunulan hiçbir alternatifi beğenmeyen insanlara, 'O zaman kutunu açıyoruz' deyişi bu oyundan çıkmıştır.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Stüdyo Pazar</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Cenk Koray meşhur Kutu Oyunu'nu oynuyor. Sunulan hiçbir alternatifi beğenmeyen insanlara, 'O zaman kutunu açıyoruz' deyişi bu oyundan çıkmıştır.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Bizim zamanlarımızda Lefter, Metin Oktay ve diğer efsaneler çoktan emekli olmuştu ve futbolun asıl güzelliğini
                                    yaşayamadık. Bizim şansımız, televizyonda futbolun en güzel zamanlarını yaşamamızdı. En güzel spor gazeteleri de bizim
                                    zamanlarımızda çıktı.
                                </p>
                                <p>
                                    Pazar sabahları, kovboy filminin hemen ardından <b>Stüdyo Pazar</b> başlardı ve akşama doğru ancak biterdi. Şimdlerde benzeri
                                    olamayacak bu programda her şey vardı.
                                </p>
                                <p>
                                    <span class=" text-center center-block" style="margin-bottom:20px">
                                        <img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/bay-merakli.jpg" alt="Stüdyo Pazar programının vazgeçilmez karakteri Bay Meraklı" class="img-responsive img-thumbnail img-thumbnail text-center center-block" style="max-width:150px;" />
                                        <small>Stüdyo Pazar programının<br />vazgeçilmez karakteri Bay Meraklı</small>
                                    </span>
                                </p>
                                <p>
                                    Kelimenin tam anlamıyla her şey. Şarkılardan, türkülerden tutun da, komedi skeçlerine,
                                    çizgi filmlerine, yarışmalara kadar her şey vardı.
                                </p>
                                <p>
                                    Stüdyo Pazar klasikleri arasında <b>Cenk Koray</b>'ın 'kutu oyunu', <b>Erkan Yolaç</b>'ın 'evet-hayır' oyunu,
                                    <b>Güneş Tecelli</b>'nin abuk ve komik yarışmaları, <b>Ali Poyazoğlu</b>'nun skeçleri ve
                                    çizgi karakter <b>Bay Meraklı</b> vardı. Hatta <b>Red Kid</b> çizgi filmi bile gösterilirdi.
                                </p>
                                <p>
                                    Öğleden sonra canlı maç yayını başlar ve maçın tümü ücretsiz olarak yayınlanırdı. Maç arasında ve en sonunda maç bittikten sonra da Stüdyo Pazar kaldığı
                                    yerden devam ederdi.
                                </p>
                            </div>
                        </div> <!-- Bizim Zamanlarımızda Güzel Olan Neydi? -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Radyo</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Çocukluğumun en güzel günlerinden bazıları, radyo başında maç dinleyerek geçti. Zonguldak'ta akademi lojmanlarındaki evimizin
                                    misafir odasında benim favorim olan siyah-beyaz televizyon; küçük oturma odasında da babamın favorisi olan büyükçe bir radyo vardı. Özellikle
                                    futbolla ilgilenmeye başladıktan sonra küçük oturma odasını ve radyoyu daha çok sevmeye başlamıştım.
                                </p>
                                <p>
                                    Hafta sonları maç yayınları yapılırdı. Bizim zamanlarımızda stadlarda ışıklandırma olmadığı için, tüm maçlar gündüz yapılır ve hemen hemen
                                    aynı saatlerde başlardı. Dolayısıyla birkaç maç dönüşümlü olarak yayınlanırdı. Sık sık, devam eden maç yayını kesilerek, diğer bir kente bağlanılırdı.
                                    Özellikle diğer maçlardan birinde gol olduğu zaman, aniden spikerin sesi fade-out edilerek diğer maça geçilirdi.
                                </p>
                                <p>
                                    Dışarıda oynayacak arkadaş bulamadığımda ya da hava çok yağmurlu olduğunda, radyo başında eşi bulunmayacak birkaç saat geçirirdim.
                                </p>
                                <p>
                                    Radyodan dinlediğim golleri, spikerin anlattıkları doğrultusunda hayal gücümle canlandırmaya çalışırdım. Akşamları haberlerin sonunda, günün maçlarından
                                    özetler verilir ve bu sayede, hayal ettiğim şeyle gerçeğini karşılaştırma olanağı bulurdum. Pek çoğu, hayal ettiğimden çok farklı şekilde atılmış olurdu.
                                    Golleri bu şekilde sonradan izleyebiliyorduk. Elbette maçın özeti yayınlanırsa ve ben de izleme olanağı bulabilirsem.
                                    Doğal olarak, sonradan izleyemedğim yüzlerce gol, sadece hayal dünyamın bir yerinde duruyor.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/altan-erbulak-thumb.jpg" alt="Altan Erbulak Karikatürleri - Milliyet Gazetesi'nin spor sayfalarının en renkli köşelerinden biri de haftada birkaç kez yayınlanan Altan Erbulak karikatürleriydi.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/altan-erbulak.jpg" class="lightbox-plus" title="Altan Erbulak Karikatürleri - Milliyet Gazetesi'nin spor sayfalarının en renkli köşelerinden biri de haftada birkaç kez yayınlanan Altan Erbulak karikatürleriydi.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Altan Erbulak Karikatürleri</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Milliyet Gazetesi'nin spor sayfalarının en renkli köşelerinden biri de haftada birkaç kez yayınlanan Altan Erbulak karikatürleriydi.</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Radyo -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Milliyet Gazetesi</h3></div>

                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/haftanin-onbiri-thumb.jpg" alt="Haftanın Ardından - Haftanın kare ası, haftanın onbiri ve daha fazlası. Şenol Güneş haftanın oyuncusu. Gol krallığı listesinde Mustafa Denizli var.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/haftanin-onbiri.jpg" class="lightbox-plus" title="Haftanın Ardından - Haftanın kare ası, haftanın onbiri ve daha fazlası. Şenol Güneş haftanın oyuncusu. Gol krallığı listesinde Mustafa Denizli var.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Haftanın Ardından</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Haftanın kare ası, haftanın onbiri ve daha fazlası. Şenol Güneş haftanın oyuncusu. Gol krallığı listesinde Mustafa Denizli var.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <p>
                                    <b>Milliyet Gazetesi</b>'nden de bahsetmeden olmaz. Şimdilerde telefonda ağlayan tüpçünün sahibi olduğu paçavrayla ilgisi olmayan bir güzellikti
                                    Milliyet. En çok okunan gazete değildi ama spor basınının amiral gemisiydi.
                                </p>

                                <p>
                                    Spor sayfası, gazetenin en arkasında yer alır ve gününe bağlı olarak arkadan başa doğru giderdi. En etkili spor yazarları
                                    Milliyet Spor'daydı, sezon başında Milliyet'in vereceği fikstür dört gözle beklenirdi. <b>Altan Erbulak</b> haftada birkaç
                                    kez çok eğlenceli karikatürler çizerdi. Salı günleri, 'haftanın kare ası ve haftanın onbiri' için iple çekilirdi.
                                    Her yıl yapılan <b>Yılın Sporcusu Yarışması</b> da her kesim tarafından çok ciddiye alınırdı.
                                </p>
                                <p>
                                    Normalde Milliyet okumayan futbolseverler bile, Pazartesi ve Salı günleri Milliyet alırlardı. <b>Milliyet Spor</b>'un yazar kadrosu da çok sağlamdı.
                                    <b>İslam Çupi</b>'den, <b>Turgay Şeren</b>'e; <b>Doğan Babacan</b>'dan Halit Kıvanç'a kadar pek çok önemli kişi Milliyet Spor'a yazardı. 80'lerin sonuna doğru,
                                    spor sayfalarının çok büyük yardımıyla Milliyet Gazetesi 1 milyon tiraja kadar ulaşmıştı.
                                </p>
                                <p>
                                    1990'ların ikinci yarısından itibaren; hem spor gazetelerinin çıkışı, hem de özel televizyonlarda futbol programlarının patlamasından sonra,
                                    gazetelerin spor sayfaları eski önemini yitirdi. İslam Çupi'nin 2001 yılında ölümünden sonra, resmi olarak <b>Milliyet Spor</b> efsanesi de bitmiş oldu.
                                </p>
                            </div>
                        </div> <!-- Milliyet Gazetesi -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Güzel Zamanlar Gördük</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Bordeaux zaferiyle başlamıştım, öyle bitireyim. Bordeaux fatihi Selçuk, Türk futbolunun bitişinin
                                    gerçek noktası olabilir. Fenerbahçe'de efsane olduğu yıllar geride kalıp gözden düşünce Galatasaray'a
                                    transfer olmuştu. Bu bile başlı başına futbolun eski tadını vermediğinin işaretiydi. Ama Selçuk buna 
                                    rağmen bu çarkın içine kendini kaptırmadı. Daha sonra verdiği bir röportajda, Galatasaray'da oynarken 
                                    Fenerbahçe'ye de gol attığını ama gol sonrası sevinmediğini söylemişti.
                                </p>
                                <p>
                                    Selçuk, hayata çok erken yaşta veda etti. Onun ölümüyle, Fenerbahçe'nin son efsanesi de bu dünyadan 
                                    ayrılmış oldu. Bir yıl önce de Lefter hayata veda etmişti.
                                </p>
                                <p>
                                    Bazılarına anlamsız gelse de, futbolun insanları birleştiren çok güçlü bir tarafı vardı. Çok farklı fikirden
                                    insanlar bu ortak payda üzerinde birleşip en azından konuşabiliyordu. 
                                </p>
                                <p>
                                    Benim zamanlarımda, bu büyünün yaşandığı son yıllara şahitlik ettim.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/selcuk-yula-thumb.jpg" alt="Selçuk Yula - Fenerbahçe'nin son efsanevi futbolcusu.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/selcuk-yula.jpg" class="lightbox-plus" title="Selçuk Yula - Fenerbahçe'nin son efsanevi futbolcusu.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Selçuk Yula</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Fenerbahçe'nin son efsanevi futbolcusu</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Son Paragraf -->
                        <br />
                    </div>
                </div><!-- CONTENT BODY -->
                
                @Html.Partial("~/Views/Home/ParShareArticle.cshtml")
                @Html.Partial("~/Views/Home/ParAuthor.cshtml")
                @Html.Partial("~/Views/Home/ParCommentForm.cshtml")
            </div><!-- MAINBAR COLUMN -->
            
            <div class="col-md-4">
                <div class="sidebar">

                    <div class="divider-4 col-md-12"></div>
                    <div class="quote-one">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Quote One Item -->
                                <div class="quote-one-item">
                                    <span class="color">&#8220;</span>
                                    <div class="quote-one-right">
                                        <p>
                                            <img class="img-responsive img-thumbnail" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/metin-kurt.jpg" alt="Metin Kurt" style="max-width:100px">
                                            <br />
                                            Futbol borsada değil,<br />
                                            arsada güzel
                                        </p>
                                        - Metin Kurt
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- QUTOE -->
                    <div class="divider-4 col-md-12"></div>

                    <div class="s-widget">
                        <h5><i class="fas fa-futbol fa-lg color"></i>&nbsp; Faşolig</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fasolige-hayir-thumb.jpg" alt="Dorukhan Tüneli - Zonguldak yönü">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fasolige-hayir.jpg" class="lightbox-plus" title="Faşolig - Cefakar taraftar grupları Passolig'den sonra tribünlerden çekildi ve stadyumlar boşalmaya başladı.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Faşolig</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Cefakar taraftar grupları Passolig'den sonra tribünlerden çekildi ve stadyumlar boşalmaya başladı.</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                <b>Gezi Olayları</b>'yla birlikte stadyumlarda da politik figürleri, slogan ve pankartlarıyla eleştiren gruplar belirmeye
                                başladı. Aslında bu gruplar, endüstriyel futbola karşı oldukları için Türk futboluna bir umut ışığı olabilirdi.
                                Ama egemenler, kendilerine yönelen bu eleştiri kanalını kapatmaya karar vererek <b>Passolig</b> uygulamasını başlattı.
                                Artık stada giren herkes kayıt altında olacaktı ve kim ne yaparsa hemen ensesine binilebilecekti.
                            </p>
                            <p>
                                Kısa sürede <b>Faşolig</b> olarak adlandırılan bu sistemden gerçek futbolseverlerin çoğu uzak durdu;
                                stadlar boşaldı, Türk futbolu momentumunu tümüyle yitirdi.
                            </p>
                        </div>
                    </div><!-- Faşolig -->

                    <div class="s-widget">
                        <h5><i class="fas fa-money-bill-alt fa-lg color"></i>&nbsp; Şirketleşme ve Tatsızlaşma</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/medipol-basaksehir-teleset-mobilya-akhisar-thumb.jpg" alt="Başlık Her Şeyin Özeti - Belediye takımlarının ön plana çıkışı, takım isimlerinin başına eklenen şirket isimleri ve her şeyin tatsızlaşması">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/medipol-basaksehir-teleset-mobilya-akhisar.jpg" class="lightbox-plus" title="Başlık Her Şeyin Özeti - Belediye takımlarının ön plana çıkışı, takım isimlerinin başına eklenen şirket isimleri ve her şeyin tatsızlaşması">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Başlık Her Şeyin Özeti</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Belediye takımlarının ön plana çıkışı, takım isimlerinin başına eklenen şirket isimleri ve her şeyin tatsızlaşması</p>
                                    </div>
                                </div>
                            </div>
                            <p>
                                Kulüplerin anonim şirkete dönüşmesi de çöküşün kilit noktalarından biri oldu. Külüpler artık bildiğimiz,
                                ticaret hukukunun bilmem kaçıncı maddesince işletilen şirketlere dönüştü.
                            </p>
                            <p>
                                Maç sırasında ve gazetelerde genelde bu <b>A.Ş.</b> ekleri, seyirciyi sistemden çok da soğutmamak için yazılmıyor,
                                ama bu külüplerin artık şirket olduğu gerçeğini değiştirmiyor.
                            </p>
                            <p>
                                Büyük kulüpler borsada işlem bile görüyorlar ve bu şekilde, bir yönden
                                daha etinden ve sütünden faydalanılmış oluyor.
                            </p>
                            <p>
                                A.Ş. ekleri genelde görünmüyor ama, şirket sponsorlukları görünmek zorunda. Bir şirket, kulübe sponsor olup para
                                yağdırdığında, doğal olarak bunu her yerde görmek istiyor.
                            </p>
                            <p>
                                Durum böyle olunca, puan cetveline baktığınızda, kulüplerin yarısının önünde ya da arkasında bir şirket
                                ismi olduğunu görüyoruz. Ne kadar sevimsiz olduğunu herhalde söylemeye gerek yok.
                            </p>
                            <p>
                                Şimdilerde puan cetveline baktığınızda şirket isimleri ve belediye takımlarıyla dolu olduğunu görürsünüz. İkinci
                                ligde bu durum daha da feci.
                            </p>
                            <p>
                                <b>Birinci Lig</b>'in isminin değiştirilip, İkinci Lig'in adının Birinci Lig yapılması İngiliz futbolu'na
                                özgü bir enteresanlık olarak kabul edilebilir. Sonuçta adamlar futbolun mucidi ve böyle bir marjinallik yapma hakları
                                biraz olsun var. Bizim var mı? Yapınca komik oluyor işte. Bu isim değişikliği de, bu liglere sponsor alıp ligin bu
                                sponsor şirketle birlikte anılması da Türk futboluna indirilen başka bir darbe oldu.
                            </p>
                            <p>
                                Aynı esnada, çöküş 2000'li yıllarda da hızlanarak devam etti. Tek parti dönemi uzadıkça, iktidar belediyelerinin güçleri de çok arttı.
                                Birçok şehirde belediyelere ait şirketler serpilip büyüdüler. 90'larda liberallerin dilinden düşürmediği,
                                "devleti küçültelim abi" söylemine zıt bir şekilde; devlet eliyle, devasa ve bir o kadar da ucube bir ekonomik
                                düzen yaratıldı.
                            </p>
                            <p>
                                İşte bu dönemde; parası bol olan belediyeler, birer ikişer futbol kulüpleri kurdular. Seyircisi ve tarihi kökü
                                olmayan bu kulüpler, para desteği sayesinde birinci lige kadar çıktılar. Sadece bu bile, futbolun artık
                                sadece paradan ibaret olduğunun açık bir örneğidir.
                            </p>
                        </div>
                    </div><!-- Şirketleşme ve Tatsızlaşma -->
                    <div class="s-widget">
                        <h5><i class="fas fa-money-bill-alt fa-lg color"></i>&nbsp; Şike</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/inek-saban-thumb.jpg" alt="İnek Şaban - 1978 yapımı İnek Şaban filmindeki ana konu, başarısız günlerinin başında olan Türk futbolu, mafyalaşma ve şikedir.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/inek-saban.jpg" class="lightbox-plus" title="İnek Şaban - 1978 yapımı İnek Şaban filmindeki ana konu, başarısız günlerinin başında olan Türk futbolu, mafyalaşma ve şikedir.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">İnek Şaban</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>1978 yapımı İnek Şaban filmindeki ana konu, başarısız günlerinin başında olan Türk futbolu, mafyalaşma ve şikedir.</p>
                                    </div>
                                </div>
                            </div>
                            <p>
                                Tüm bu darbelerin üzerine şike davaları ve Passolig geldi. 1970'lerde çekilmiş
                                İnek Şaban filminde görüldüğü gibi, futbolda şike hep vardı. Sadece Fenerbahçe'yle sınırlı da değildi. Herkes
                                biliyor ki, herkes mümkün olan her durumda şikeye başvuruyordu. Buna bir de Anadolu takımlarının birbirlerine
                                hatır gönül yenilmeleri ve kardeş takım çakallığı da eklenince ortaya gayet şaibeli bir lig çıkıyordu.
                                Davalarla birlikte bu işlerin bir kısmı su yüzüne çıktı ve ben dahil birçok kadim futbolsever ağzında buruk bir tat
                                hissettik ve yavaştan futboldan elimizi eteğimizi çektik.
                            </p>
                        </div>
                    </div><!-- Şike -->

                    <div class="s-widget">
                        <h5><i class="fas fa-camera-retro fa-lg color"></i>&nbsp; FOTOĞRAF GALERİSİ</h5>
                        <div class="widget-content gallery lightbox-popup-gallery">
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/altan-erbulak.jpg" title="Altan Erbulak Karikatürleri - Milliyet Gazetesi'nin spor sayfalarının en renkli köşelerinden biri de haftada birkaç kez yayınlanan Altan Erbulak karikatürleriydi."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/altan-erbulak-thumb.jpg" alt="Altan Erbulak Karikatürleri - Milliyet Gazetesi'nin spor sayfalarının en renkli köşelerinden biri de haftada birkaç kez yayınlanan Altan Erbulak karikatürleriydi." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/bordeaux-fenerbahce.jpg" title="Şanlı Bordeux Zaferi 1985 - Bu maç, zaten hezimete uğrayacağız diye televizyondan naklen bile yayınlanmamıştı, radyodan dinlemiştik"><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/bordeaux-fenerbahce-thumb.jpg" alt="Şanlı Bordeux Zaferi 1985 - Bu maç, zaten hezimete uğrayacağız diye televizyondan naklen bile yayınlanmamıştı, radyodan dinlemiştik" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Bursaspor_1979-80.jpg" title="Bursaspor'un 1979-80 Kadrosu - Sedat III, ayakta soldan üçüncü"><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Bursaspor_1979-80.jpg" alt="Bursaspor'un 1979-80 Kadrosu - Sedat III, ayakta soldan üçüncü" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/cenk-koray.jpg" title="Stüdyo Pazar - Cenk Koray meşhur Kutu Oyunu'nu oynuyor. Sunulan hiçbir alternatifi beğenmeyen insanlara, 'O zaman kutunu açıyoruz' deyişi bu oyundan çıkmıştır."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/cenk-koray-thumb.jpg" alt="Stüdyo Pazar - Cenk Koray meşhur Kutu Oyunu'nu oynuyor. Sunulan hiçbir alternatifi beğenmeyen insanlara, 'O zaman kutunu açıyoruz' deyişi bu oyundan çıkmıştır." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fasolig-duvar-yazisi.jpg" title="Passolig Faşoligdir - Özellikle sol taraftar grupları Passolig uygulamasına şiddetle karşı çıktılar."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fasolig-duvar-yazisi-thumb.jpg" alt="Passolig Faşoligdir - Özellikle sol taraftar grupları Passolig uygulamasına şiddetle karşı çıktılar." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fasolige-hayir.jpg" title="Faşolig - Cefakar taraftar grupları Passolig'den sonra tribünlerden çekildi ve stadyumlar boşalmaya başladı."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fasolige-hayir-thumb.jpg" alt="Faşolig - Cefakar taraftar grupları Passolig'den sonra tribünlerden çekildi ve stadyumlar boşalmaya başladı." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fenerbahce-kadrosu-2018.jpg" title="Yabancılaşma - Artık Fenerbahçe kadrosundaki 32 oyuncudan 13'ü yerli; yani yarısı bile değil."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/fenerbahce-kadrosu-2018-thumb.jpg" alt="Yabancılaşma - Artık Fenerbahçe kadrosundaki 32 oyuncudan 13'ü yerli; yani yarısı bile değil." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/haftanin-onbiri.jpg" title="Haftanın Ardından - Haftanın kare ası, haftanın onbiri ve daha fazlası. Şenol Güneş haftanın oyuncusu. Gol krallığı listesinde Mustafa Denizli var."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/haftanin-onbiri-thumb.jpg" alt="Haftanın Ardından - Haftanın kare ası, haftanın onbiri ve daha fazlası. Şenol Güneş haftanın oyuncusu. Gol krallığı listesinde Mustafa Denizli var." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/inek-saban.jpg" title="İnek Şaban - 1978 yapımı İnek Şaban filmindeki ana konu, başarısız günlerinin başında olan Türk futbolu, mafyalaşma ve şikedir"><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/inek-saban-thumb.jpg" alt="İnek Şaban - 1978 yapımı İnek Şaban filmindeki ana konu, başarısız günlerinin başında olan Türk futbolu, mafyalaşma ve şikedir" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Ingiltere_8-0.jpg" title="8-0'lık İngiltere Hezimeti - Türk Futbolu için dip noktası"><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/Ingiltere_8-0-thumb.jpg" alt="8-0'lık İngiltere Hezimeti - Türk Futbolu için dip noktası" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/jupp-derwall.jpg" title="Jupp Derwall - Türk futbolunun yükseliş döneminin sembolü"><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/jupp-derwall-thumb.jpg" alt="Jupp Derwall - Türk Futbolu'nun yükseliş döneminin sembolü" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/kenan-evren_ankaragucu.jpg" title="Türkiye Kupası 1980-81 - Ankaragücü, Kenan Evren'in elinden Türkiye Kupası'nı alıyor."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/kenan-evren_ankaragucu.jpg" alt="Türkiye Kupası 1980-81 - Ankaragücü, Kenan Evren'in elinden Türkiye Kupası'nı alıyor." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/medipol-basaksehir-teleset-mobilya-akhisar.jpg" title="Başlık Her Şeyin Özeti - Belediye takımlarının ön plana çıkışı, takım isimlerinin başına eklenen şirket isimleri ve her şeyin tatsızlaşması"><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/medipol-basaksehir-teleset-mobilya-akhisar-thumb.jpg" alt="Başlık Her Şeyin Özeti - Belediye takımlarının ön plana çıkışı, takım isimlerinin başına eklenen şirket isimleri ve her şeyin tatsızlaşması" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/milli-takim-dunya-ucuncusu.jpg" title="Dünya Üçüncülüğü - Bizim zamanlarımızda, sadece finallere katılabilmenin hayalini kurardık ve hiç olmadı. Futbolun tadı kaçtıktan sonra böyle buruk bir zafer yaşadık."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/milli-takim-dunya-ucuncusu-thumb.jpg" alt="Dünya Üçüncülüğü - Bizim zamanlarımızda, sadece finallere katılabilmenin hayalini kurardık ve hiç olmadı. Futbolun tadı kaçtıktan sonra böyle buruk bir zafer yaşadık." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/selcuk-yula.jpg" title="Selçuk Yula - Fenerbahçe'nin son efsanevi futbolcusu."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/selcuk-yula-thumb.jpg" alt="Selçuk Yula - Fenerbahçe'nin son efsanevi futbolcusu." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/studyo-pazar-1986.jpg" title="Stüdyo Pazar - İçinde baştan sona bir maç naklen yayının da bulunduğu, saatler süren eğlence programı."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/studyo-pazar-1986-thumb.jpg" alt="Stüdyo Pazar - İçinde baştan sona bir maç naklen yayının da bulunduğu, saatler süren eğlence programı." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/sukru-saracoglu-eski-yeni.jpg" title="Şükrü Saracoğlu'nun eski ve yeni hali - Çok daha modern, daha çok seyirci alıyor ve gece maç yapılabiliyor, ama o eski sıcaklığı yok."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/sukru-saracoglu-eski-yeni-thumb.jpg" alt="Şükrü Saracoğlu'nun eski ve yeni hali - Çok daha modern, daha çok seyirci alıyor ve gece maç yapılabiliyor, ama o eski sıcaklığı yok." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/trabzonspor.jpg" title="Trabzonspor - Şenol Güneş'in kaleciliğini yaptığı Trabzonspor, Türk Futbolu'nun son gerçek güzelliğiydi. Neredeyse tüm oyuncular Trabzon'da doğup büyümüştü."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/trabzonspor-thumb.jpg" alt="Trabzonspor - Şenol Güneş'in kaleciliğini yaptığı Trabzonspor, Türk Futbolu'nun son gerçek güzelliğiydi. Neredeyse tüm oyuncular Trabzon'da doğup büyümüştü." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/BirZamanlarTurkFutbolu/turkiye-macaristan.jpg" title="Macaristan Zaferi - Türk Milli Takımı, 1950'lerin en başarılı takımı Macaristan'ı 3-1 yenmişti. Bizim zamanlarımızın futbol yorumcularının dilinde hep bu efsane maç vardı."><img src="~/Content/Images/Tales/BirZamanlarTurkFutbolu/turkiye-macaristan-thumb.jpg" alt="Macaristan Zaferi - Türk Milli Takımı, 1950'lerin en başarılı takımı Macaristan'ı 3-1 yenmişti. Bizim zamanlarımızın futbol yorumcularının dilinde hep bu efsane maç vardı." class="img-responsive img-thumbnail" /></a>
                        </div>
                    </div><!-- IMAGE GALLERY -->
                </div>
            </div><!-- SIDEBAR COLUMN -->
        </div>
    </div>
</div>