@{
    ViewBag.Title = "Bizim Zamanlarımız";
}

<div class="container">
    <div class="blog-two">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-two-item">
                    <div class="blog-two-content">
                        <h1><span class="text-primary">Bizim Zamanlarımız</span></h1>
                        <h5><span class="text-muted">Neden böyle bir blog var?</span></h5>
                        
                        <div class="blog-meta">
                            <a href="#"><i class="fa fa-calendar"></i> &nbsp; Mar 2016</a> &nbsp;
                            <a href="#"><i class="fa fa-user"></i> &nbsp; Bilgin Esme</a> &nbsp;
                        </div>
       
                        <div class="row">
                            <div class="col-md-6">
                                <div class="container">
                                    <div class="quote-one">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- Quote One Item -->
                                                <div class="quote-one-item">
                                                    <span class="color">&#8220;</span>
                                                    <div class="quote-one-right">
                                                        <p>Bir insanın anavatanı çocukluğudur.</p>
                                                        - Epictetus
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>

                                <p>
                                    <span class="dropcap-2">N</span>azım Hikmet, eski bir çocukluk arkadaşını görür; gözlerinin aynı çocukluğunda olduğu gibi baktığını
                                    söyler ve şöyle ekler: "İnsan yaşlandıkça, çocuk ruhu tüm bedenden çekilse de en son gözlerde kalır. Gözlerinde
                                    bile çocukluğunu taşıyamayan insanlara gerçekten acımak gerekir."
                                </p>
                                <p>
                                    Burada yazdıklarım, benim çocukluk yıllarımla ilgili şeyler. Yazar olmadığım için öyküler yazamıyorum, zaten bunu çok başarılı 
                                    şekilde yapabilen bir sürü güzel yazarın bir sürü güzel kitabı var. Onlardan da yeri geldiğinde bahsedeceğim. Burada anlatacaklarım,
                                    o yıllar boyunca öylesine durup şahitlik yaptığım şeylere dair.
                                </p>
                             
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                         
                        <div class="row">
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/BizimZamanlarimiz/KenanEvrenZonguldak.jpg" alt="Zonguldak Akademi Lojmanları 1981 - Kenan Evren ve ekibi, akademiye o yıl apar topar yapılan helikopter alanına inmişti. Resmi ben çektim.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/BizimZamanlarimiz/KenanEvrenZonguldak.jpg" class="lightbox-plus" title="Zonguldak Akademi Lojmanları 1981 - Kenan Evren ve ekibi, akademiye o yıl apar topar yapılan helikopter alanına inmişti. Resmi ben çektim."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Zonguldak Akademi Lojmanları 1981</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Kenan Evren ve ekibi, akademiye o yıl apar topar yapılan helikopter alanına inmişti. Resmi ben çektim.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Değişim bu evrenin en temel güçerinden biri ve her şeyin değiştiği gibi, Türkiye de hızla değişiyor. 
                                    12 Eylül'de başlayan toplumsal çürüme süreci 2000'lerin başından sonra çok daha hızlanarak arttı.
                                </p>
                                <p>
                                    Çocukluğumda, büyüklerimiz "bizim zamanlarımızda" diye başlayarak o eski güzel günleri anlatırlardı. 
                                    Günün birinde benim de bu cümleleri kuracağımı hiç tahmin edemezdim. Aslında büyüklerimiz çok haklılarmış, eski
                                    zamanlar, bizim zamanlarımızdan daha güzelmiş. 
                                </p>
                                <p>
                                    Aynı şekilde bizim zamanlarımız da bu yaşadığımız zamanlardan daha güzeldi. Bu sadece
                                    orta yaşa doğru yol alan bir adamın öykünmesi değil, toplumsal çürümeyi gözlemleyebilen birinin tarihe düştüğü bir not.
                                </p>
                                <p>
                                    <b>Bizim Zamanlarımız</b> dediğim şey; 1970'lerin ortalarından başlayan ve 1980'lerin sonlarına kadar giden, benim çocukluğumun
                                    geçtiği o yıllardır. 12 Eylül darbesi, etkisini yıllar içinde gösterdiği için 1980'ler de çoğunlukla birtakım şeylerin nispeten
                                    bozulmadan kaldığı yıllar oldu. Sonra her şey tepetaklak gitti.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    Etrafımda neler olduğununun farkına vardığım 1970'lerin ortasında Türkiye çok farklı bir ülkeydi. Gurur duyduğumuz bir ülkemiz vardı.
                                    Atatürk'ün yolunu göstediği gibi, muassır medeniyetler seviyesine adım adım çıktığımızı düşünüyorduk. 
                                </p>
                                <p>
                                    Televizyon yaygınlaşmaya başlamıştı ve capcanlı bir dünyaya bağlı olarak yaşıyorduk. Ülkemiz dünyada kendine yeten birkaç ülkeden 
                                    biriydi, üç tarafımız denizlerle çevriliydi, eşsiz bir tarihsel ve kültürel hazinemiz vardı. Tüm dünya bizi kıskanıyordu.
                                </p>
                                <p>
                                    Bunun gerçekte tam olarak böyle olmadığını, çok sonraları öğrendim. Ülkedeki herkes Atatürk'ü sevmiyordu, muassır medeniyetler 
                                    düzeyine çıkmayı istemeyenler, bunu başka yollarla yapmak isteyenler de vardı. Ülkede Türkler dışında etnik gruplar da vardı ve 
                                    bu grupları yıllar boyunca dışlamıştık. Daha da beteri, çok sevdiğimiz Cumhuriyet, aslında bu topraklardan 1915'te temizlenmiş 
                                    milyonlarca insanın hayaletleri üzerine kurulmuştu.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Kurulduğundan beri aslında, hiç çatışmanın ve çekişmelerin bitmediği bu ülke, bizim zamanlarımızda da kaynıyordu. 
                                    Biz çocuk olduğumuz için o acıların çoğundan habersizdik ve ayrıca ben, o zamanların büyük bölümünü, nispeten sakin 
                                    bir yer olan Zonguldak'ta geçirdiğim için bir kat daha habersizdim. Ama büyüyünce öğrendiğim gibi; her ne kadar
                                    dikensiz gül bahçesi olmasa da, o zamanın Türkiyesi, bugünküne oranla çok daha yaşanılası bir yermiş. 
                                </p>
                                <p>
                                    Bugün elimizdeki olanaklar daha fazla. Yollarımız, binalarımız, televizyonlarımız, bilgisayarlarımız var; hastanelerimiz çok 
                                    daha temiz, stadyumlarımız yemyeşil çim kaplı ve gece maçı yapılabiliyor. 
                                </p>
                                <p>
                                    Ama 12 Eylül'le başlayan, Özal'la devam eden ve sonra bayrağı başkalarının devraldığı neo-liberal politikalar toplumu çürüttü 
                                    ve bugünkü noktaya geldik. Herkesin sadece ve sadece kendini kurtarmaya odaklandığı, para ile elde edilen değerlerin en
                                    makbul değerler olduğu bir topluma dönüştük. Oğlumun anaokulunun müdürünün de dediği gibi, velilerin çoğu için dünyada
                                    sadece kendi çocukları var ve diğer çocukların çöp kadar değeri yok.
                                </p>
                                <p>
                                    Burada yazılanlar, güzel zamanların son demlerinde, <b>Eski Türkiye</b>'de benim yaşadığım zaman dilimi hakkındadır ve 
                                    tarihe not düşmekten ibarettir.
                                </p>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    Eski zaman nostaljisi, popüler kültürün önemli bir parçası ve bu konuda internette bulabileceğiniz tonlarca 
                                    malzeme var. Zaman zaman ben de keyifle göz atsam da, aslında neredeyse tümü, içi boş bir "ne günlerdi yahu" demeye yarayan,
                                    tam da günümüzün hızlı tüketim metasının parçası olmuş içerikler.
                                </p>
                                <p>
                                    Oysa, her dönemin, hatırlanmaya değer, bugüne de yardımcı olabilecek unsurları var. Sözgelimi, bizim zamanlarımızda çizgi 
                                    romanların siyah beyaz olması, hayal gücümüzü çok geliştirmişti. Kağıt üzerinde siyah beyaz gördüğümüz şeyler, hepimizin zihninde
                                    farklı renklerle hayat buluyordu.
                                </p>
                                <p>
                                    Aynı şekilde, bilgisayar oyunlarının piksel piksel ekranları bizim hayal dünyamızda
                                    bambaşka şekilde canlanıyordu. Zamanında teknik imkansızlık yüzünden oluşmuş bu görüntüler günümüzde <b>pixel art</b> olarak yeniden
                                    canlandı ve insanlar bunun değerinin farkına vardılar.
                                </p>
                                <p>
                                    THE LAST WORD
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                    </div>
                </div><!-- CONTENT BODY -->
                
                @Html.Partial("~/Views/Home/ParShareArticle.cshtml")
                @Html.Partial("~/Views/Home/ParAuthor.cshtml")
                @Html.Partial("~/Views/Home/ParCommentForm.cshtml")
            </div><!-- MAINBAR COLUMN -->
            
      
        </div>
    </div>
</div>

