@{
    ViewBag.Title = "Boncuk";
}

<div class="container">
    <div class="blog-two">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-two-item">
                    <div class="blog-two-content">
                        <h1><span class="text-primary">Boncuk</span></h1>
                        <h5><span class="text-muted">Hızlı ve öfkesiz</span></h5>
                        
                        <div class="blog-meta">
                            <a href="#"><i class="fa fa-calendar"></i> &nbsp; Mart 2016</a> &nbsp;
                            <a href="#"><i class="fa fa-user"></i> &nbsp; Bilgin Eşme</a> &nbsp;
                        </div>
       
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <span class="dropcap-2">O</span>tobüs yolculukları hiç bir zaman 80li ve 90lı yıllarda olduğu kadar keyifli olmadı, 
                                    ve bir daha da olmayacak. Uçakların ucuzlaması ve özel otomobillerin yaygınlaşması yüzünden 
                                    o yıllar, bir daha dönmeyecek şekilde geride kaldı.
                                </p>
                                <p>
                                    Zonguldak’ta oturup, Ankara’da yatılı okula gidip geldiğim 1982-1983 yıllarında, otobüs neredeyse tek ulaşım aracıydı. 
                                    Uçak çok pahalıydı ve sadece birkaç şehirde havaalanı vardı. Demiryolları çok yetersiz, trenler de yavaş ve pisti; 
                                    herkesin de arabası yoktu. 
                                </p>
                                <p>
                                    Hal böyle olunca; asfalt yollar üzerinde, aslında hiç de böyle sessiz sedasız ve
                                    umursamadan gömülmeyi hak etmeyen bir kültür yaratmıştık.
                                </p>
                                <p>
                                    Bu yolculukların, sigara kokusu içinde arabesk müzikler dinlemek zorunda kalmak gibi sevimsiz tarafları da vardı elbette;
                                    ama güzel tarafları çok daha ağır basıyordu.
                                    Henüz benzin istasyonları ve outlet mağazaları tarafından işgal edilmemiş yollar üzerinde, kuğu gibi 
                                    süzülen Mercedes 302'lerle yolculuk etme şansını bir daha asla bulamayacağız.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/302s-transparent-thumb.png" alt="Mercedes O302S - Otomarsan reklamından alınmış bir çizim">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/302s-cizim.jpg" class="lightbox-plus" title="Mercedes O302S - Otomarsan reklamından alınmış bir çizim"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Mercedes O302S</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Otomarsan reklamından alınmış bir çizim</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Giriş Paragrafı -->
                         
                        <div class="row">
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/302s-zamanlari-thumb.jpg" alt="Yolların Kralları - 70'li ve 80'li yıllarda, yolların tartışmasız kralları Mercedes 302 otobüsleriydi. Başka bir marka çok nadir görülürdü.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/302s-zamanlari.jpg" class="lightbox-plus" title="Yolların Kralları - 70'li ve 80'li yıllarda, yolların tartışmasız kralları Mercedes 302 otobüsleriydi. Başka bir marka çok nadir görülürdü."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Yolların Kralları</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>70'li ve 80'li yıllarda, yolların tartışmasız kralları Mercedes 302 otobüsleriydi. Başka bir marka çok nadir görülürdü.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    1982 yılında, yatılı okuduğum Ankara Anadolu Lisesi’nin Dışkapı’daki binasında, akşam saatlerinde, pencereden hemen
                                    ilerideki otobüs terminalini seeyrediyorduk. Elbette ki Ankara Otobüs Terminali, o yıllarda tren garının hemen yanındaydı.
                                    Dışkapı’daki büyük ihtimalle, kuzeydoğu illerine giden hatların yolcu indirip bindirdiği küçük bir terminaldi.
                                </p>
                                <p>
                                    Pencereden bakıp otobüsler hakkında yorumlar yapardık. Yetmişli yılların tümünde ve seksenlerin yarısına kadar
                                    efsanevi <b>Mercedes Benz 302</b> hakimiyeti vardı.
                                    Tüm iddialı otobüs firmaları, 302’nin küçük farklılıklar içeren modellerini kullanırdı. 
                                </p>
                                <p>
                                    Bazılarının ön kapısı; bazılarının hem ön, hem de arka kapısı otomatik açılırdı. 
                                    Bazılarının tavanında, yuvarlak havalandırma üniteleri bulunurdu. En iddialı modellerin de
                                    tavanında klimaları vardı ve bu en iyi model 302’ler bize çok nadir rastlardı.
                                </p>
                            </div>
                        </div><!-- İkinci Paragraf -->

                        <div class="row">
                            <div class="col-md-12"><h3>Güven Turizm</h3></div>
                            <div class="col-md-6">
                                <p>
                                    <b>Zonguldak</b>’a sefer yapan iki iddialı otobüs firması vardı; <b>Kanberoğlu</b> ve <b>Güven</b>. 
                                    1970’li yılların sonunda, Zonguldak-Ereğli yolunda Kanberoğlu’nun yaptığı bir kaza beni çok 
                                    etkilediği için asla binmedim ve yolculuklarımın tümünü <b>Güven</b>’le yaptım.
                                </p>
                                <p>
                                    Batı Karadeniz ve Doğu Marmara'da her ilin ve birçok ilçenin Kastamonu Güven, Karabük Güven 
                                    gibi <b>Güven</b> adlı otobüs firması bulunurdu. Hangisinin ilk olduğu konusunda hiçbir fikrim yok, 
                                    ama o zamanlar dünyanın merkezinin Zonguldak olduğuna inandığım için en birinci ve en büyük 
                                    olanının <b>Zonguldak Güven</b> olduğu konusunda hiç şüphem yoktu. 
                                </p>
                                <p>
                                    Böyle düşünmek için haklı sebeplerim de vardı. <b>Zonguldak Güven</b>, müşterilerine o zamanın koşullarına 
                                    göre birinci sınıf hizmet sunardı. Otobüsler temizdi, zamanında kalkardı, şöförler ve muavinler 
                                    yolculara kibar davranır ve asla yoldan müşteri almazlardı.
                                </p>
                                <p>
                                    O yıllarda <b>Varan</b> uzak ara hizmet kalitesinde birinciydi, onun ardından <b>Ulusoy</b>, <b>Pamukkale</b>, 
                                    <b>Kamil Koç</b> gibi kaliteli firmalar geliyordu. <b>Güven</b> de onlardan biriydi.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/topkapi-garaji-thumb.jpg" alt="Topkapı Garajı'nda Zonguldak Güven - Zamanında dünyanın en kaotik yerlerinden biri olan Topkapı Garajı'nda Güven yazıhanesi. Ortalara doğru, As Bafra'nın hemen altında.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/topkapi-garaji.jpg" class="lightbox-plus" title="Topkapı Garajı'nda Zonguldak Güven - Zamanında dünyanın en kaotik yerlerinden biri olan Topkapı Garajı'nda Güven yazıhanesi. Ortalara doğru, As Bafra'nın hemen altında."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Topkapı Garajı'nda Zonguldak Güven</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Zamanında dünyanın en kaotik yerlerinden biri olan Topkapı Garajı'nda Güven yazıhanesi. Ortalara doğru, As Bafra'nın hemen altında</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Güven Turizm -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Boncuk Kimdir?</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/zonguldak-terminali-thumb.jpg" alt="Zonguldak Terminali - Büyük ihtimalle 90larda çekilmiş. Boncuk'un çalıştığı yıllara ait bir fotoğraf bulamadım.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/zonguldak-terminali.jpg" class="lightbox" title="Zonguldak Terminali - Büyük ihtimalle 90larda çekilmiş. Boncuk'un çalıştığı yıllara ait bir fotoğraf bulamadım."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Zonguldak Terminali</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Büyük ihtimalle 90larda çekilmiş. Boncuk'un çalıştığı yıllara ait bir fotoğraf bulamadım.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Gerçek ismini ve kendisine neden <b>Boncuk</b> adının takıldığını bilmediğim posbıyıklı, mütevazi görünümlü
                                    kişi, Güven Turizim'in en hızlı kaptan şöförüydü. 
                                </p>
                                <p>
                                    Dış görünüşünden ve sakin tavırlarından beklenmeyecek
                                    kadar hızlı otobüs kullanan ve hiç kaza yapmamış olan Boncuk, Zonguldak-Ankara güzergahının virajlı
                                    ve uçurumlu yollarında, o devasa Mercedes 302S'i pazar gezisine çıkmış gibi rahatça kullanırdı.
                                </p>
                                <p>
                                    Bizim zamanlarımızda Zonguldak-Ankara güzergahı, şimdiki halinden oldukça farklıydı. 
                                    Aslen Devrekli olan ANAP'lı ulaştırma eski bakanı rahmetli Veysel Atasoy, bu yolları modern bir hale getirmeden önce, 
                                    1980'lerin başında Zonguldak-Ankara yolu çok tehlikeli bir yerdi .
                                </p>
                                <p>
                                    Özellikle <b>Dorukhan Tüneli</b> henüz yokken, dağın etrafını dolaşan ve altında yüzlerce metrelik uçurum bulunan
                                    o daracık yol hepimizin kabusuydu.
                                </p>
                            </div>
                        </div><!-- Boncuk Kimdir -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>İki Farklı Seyahat</h3></div>
                            <div class="col-md-6">
                                <p>
                                    <b>Boncuk</b>'la ilk kez, babamla birlikte Zonguldak'tan Ankara'ya gittiğimizde tanıştım. Babam, şöför koltuğuna oturmak
                                    üzere olan adamı göstererek: "Bak bu Boncuk! Bu yolların en hızlı kaptan söförüdür." dedi. 
                                    Babam o yıllarda İstanbul'da doktora çalışmasını yürüttüğü için çok fazla
                                    otobüse biniyordu ve Boncuk'un ününü duymuştu.
                                </p>
                                <p>
                                    Posbıyıklı, hafif kilolu, orta boylu, tonton ve sevecen bir bakkal amca olacakken, Güven'in efsane kaptanı olmuş
                                    bu adamı yol boyunca hayranlıkla izledim ama o yolculukta nedense çok hızlı sürmediğinden, biraz hayal kırıklığına uğradım.
                                    Boncuk'un gerçek performansıyla tanışmam daha sonraki bir yolculuğa nasip oldu.
                                </p>
                                <p>
                                    Ankara'da yatılı okurken bir seferinde, hafta sonu tatili bir başka bayramla 
                                    birleşerek, birkaç günlük bir tatile dönüşmüştü. Ben de bunu fırsat bilerek bir aile ziyareti planladım. 
                                    Ama bu kez bizimkilere haber vermeden gelerek bir sürpriz yapmaya karar vermiştim.
                                </p>
                                <p>
                                    Jetonu telefona attım, Güven'in Ankara bürosunu arayıp yerimi ayırttım; ilk fırsatta 
                                    <b>Ankara Terminali</b>'ne giderek biletimi aldım ve yolculuk gününü sabırsızlıkla beklemeye başladım.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/ankara-terminali.jpg" alt="Ankara Terminali 1982 - Zonguldak-Ankara arasında mekik dokuduğum o günlerdeki hali">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/ankara-terminali.jpg" class="lightbox-plus" title="Ankara Terminali 1982 - Zonguldak-Ankara arasında mekik dokuduğum o günlerdeki hali"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Ankara Terminali 1982</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Zonguldak-Ankara arasında mekik dokuduğum o günlerdeki hali</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- İki Farklı Seyahat -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Boncuk: Hızlı ve Öfkesiz</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/dorukhan-tuneli-orman-thumb.jpg" alt="Dorukhan Tüneli - Bu tünel yapılmadan önce, tepede görülen yamaçların arasından dapdaracık bir yol geçiyodu.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/dorukhan-tuneli-orman.jpg" class="lightbox-plus" title="Dorukhan Tüneli - Bu tünel yapılmadan önce, tepede görülen yamaçların arasından dapdaracık bir yol geçiyodu."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Dorukhan Tüneli</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Bu tünel yapılmadan önce, tepede görülen yamaçların arasından dapdaracık bir yol geçiyodu.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Otobüs öğleden sonra kalkıyordu. Terminale gidip yerime oturdum ve birkaç dakika sonra tüm
                                    sakinliğiyle <b>Boncuk</b> geldi ve kaptan koltuğuna yerleşti. Geçen seferi hatırlayarak çok da heyecanlanmadım.
                                </p>
                                <p>
                                    O gün Boncuk'un gerçek bir efsane olduğunu gözlerimle gördüm ve vücudumun her ücresinde adrenalin
                                    olarak hissettim. Yola çıktığımız andan, Zonguldak'a varana kadar aynı sakinlikle ve aynı hızla
                                    devam etti.
                                </p>
                                <p>
                                    Defalarca kaza yaşanan <b>Kargasekmez</b>'den, Kızılcahamam virajlarından, <b>Gerede</b>'nin yokuşlarından geçtik. 
                                    Bir yandan da hava kararıyordu ve ben gerçekten korkmaya başlamıştım. 
                                    Korkunun doruğuna da <b>Dorukhan Geçidi</b>'nin üstündeki dağı geçerken ulaştım.
                                </p>
                              
                            </div>
                        </div><!-- Boncuk: Hızlı ve Öfkesiz -->
                        <br />

                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    Normalde iki otomobilin yanyana geçmesine ancak izin verecek daracık bir yolda Boncuk neredeyse saatte 100
                                    kilometreyle devasa Mercedes 302'yi rahatlıkla sürüyordu. Tam o sırada karşıdan başka bir otobüs geldi ve
                                    yavaşlamaya bile tenezzül etmeden diğer otobüsün yanından kıvrılarak geçti. Büyük ihtimalle lastiklerimizden
                                    bazıları uçurum boşluğunu teğet geçmiştir.
                                </p>
                                <p>
                                    Her tehlike atlattığımızda korkudan gözümü kapatıyordum ve aklıma 1970'lerin sonunda Zonguldak-Ereğli yolunda
                                    uçuruma düşen Kanberoğlu otobüsünün görüntüleri geliyordu. 
                                </p>
                                <p>
                                    O kazadan birkaç gün sonra otomobille oradan geçerken durup bakmıştık. Uçurumun dibinde, neredeyse yarım kilometre 
                                    aşağıdaki otobüsün üst kısmı tümüyle yok olmuştu ve koltuklar görünüyordu. Oradan yuvarlanırken yolcuların ne kadar korkmuş ve
                                    acı çekmiş olduklarını düşündüm yıllar boyunca ve o manzara gözümden hiç gitmedi.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/kanberoglu-bilet-thumb.jpg" alt="O Zamanlardan bir Kanberoğlu Bileti - O kazadan korktuğum için asla binmedim, ama günümüzde hala yollarda Kanberoğlu görüyorum. Güven ise yıllar önce kapandı.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/kanberoglu-bilet.jpg" class="lightbox-plus" title="O Zamanlardan bir Kanberoğlu Bileti - O kazadan korktuğum için asla binmedim, ama günümüzde hala yollarda Kanberoğlu görüyorum. Güven ise yıllar önce kapandı."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">O Zamanlardan bir Kanberoğlu Bileti</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>O kazadan korktuğum için asla binmedim, ama günümüzde hala yollarda Kanberoğlu görüyorum. Güven ise yıllar önce kapandı.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Boncuk: Hızlı ve Öfkesiz II -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Ve Eve Dönüş</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/zonguldak-terminalinde.jpg" alt="Zonguldak Terminali'ne Varış - O otobüs yolculuklarına dair elimdeki tek resim, yıl 1983">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/zonguldak-terminalinde.jpg" class="lightbox-plus" title="Zonguldak Terminali'ne Varış - O otobüs yolculuklarına dair elimdeki tek resim, yıl 1983"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Zonguldak Terminali'ne Varış </a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>O otobüs yolculuklarına dair elimdeki tek resim, yıl 1983</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <p>
                                    Elbette sağ salim Zonguldak'a ulaştık ve Boncuk el freninin çekerek durdu; bize gülümseyerek,
                                    o zamanlar adet olduğu üzere "cümleten geçmiş olsun" diyerek terminaldeki Güven bürosuna doğru
                                    sakince uzaklaştı.
                                </p>
                                <p>
                                    Aileme sürpriz yaptığım için terminalde beni bekleyen de yoktu ve bir taksiye atlayarak Akademi
                                    Lojmanları'na gittim. Ne yazık ki bizimkilerin de o gece misafirliğe gideceği tutmuş ve kapıda kalmıştım.
                                    Şimdi garip gelse de, komşuluk ilişkilerinin çok sağlam olduğu o günlerde yapılacak en doğal şeyi yaparak
                                    yan komşumuz Hasan Amcaların kapısını çaldım, durumu anlatıp o gece orada uyudum.
                                </p>
                                <p>
                                    Bizimkiler gece yarısında gelince Hasan Amcalar benim geldiğimi haber vermişler ve onlar da o
                                    sevinçle beni uyandırarak eve getirmişlerdi.
                                    Böylece, her yönüyle maceralı olan bir Ankara-Zonguldak seyahati de mutlu sonla bitmişti.
                                </p>
                                <p>
                                    Zonguldak'taki o birkaç günlük tatilimde hep bu yolculuğu ve Boncuk'u düşündüm. Gözümde dağların
                                    arasındaki uçurumda son sürat gidişimiz canlandı sürekli. Zaten bugüne kadar da hiç gözümden gitmedi.
                                </p>
                            </div>
                        </div><!-- Ve Eve Dönüş -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Boncuk ve Güven Turizm</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Bu yazıyı yazarken, internette <b>Güven Turizm</b> hakkında araştırma yapınca çoktan kapanmış
                                    olduğunu öğrendim. <b>Boncuk</b>'la ilgili ise tek bir satır bile bulamadım.
                                </p>
                                <p>
                                    Şehirlerarası otobüs yolculuğu denince aklıma gelen en güzel şeyler; o güzelim Mercedes 302'ler,
                                    Güven Turizm, onun efsanevi kaptanı Boncuk ve Zonguldak'ın ormanlar içinden kıvrılarak giden incecik harika yolları.
                                    Şimdiki geniş otoyollar ve üzerinde giden uzay gemisi gibi devasa otobüsler hiç heyecan vermiyor;
                                    her ne kadar rahat olsalar da.
                                </p>
                                <p>
                                    Birkaç yazı dışında unutulmaya yüz tutmuş bir otobüs firmasının unutulmuş efsane kaptanı Boncuk,
                                    benim hayallerimde hep yaşayacak. Şimdi hayatta mı, hayattaysa ne yapıyor hiç bilmiyorum.
                                </p>
                                <p>
                                    Umarım hayattadır ve huzurlu bir Zonguldak kahvesinde; o sakin gülüşüyle, kuğu gibi süzülen
                                    Mercedes 302 otobüslerininin, yolların kralı olduğu o harika günlerden kalma yol maceralarını anlatıyordur.
                                </p>
                            </div>    
                            <div class="col-md-6 img-box-8">
                                    <div class="img-box-8-item">
                                        <div class="img-box-8-img">
                                            <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/guven-bilet-2.jpg" alt="Geriye Kalanlar - Benzerlerinden onlarcasını aldığım bir Güven Turizm bileti. Ne yazık ki bana ait değil.">
                                            <div class="image-hover">
                                                <div class="image-caption">
                                                    <a href="~/Content/Images/Tales/Boncuk/guven-bilet-2.jpg" class="lightbox-plus" title="Geriye Kalanlar - Benzerlerinden onlarcasını aldığım bir Güven Turizm bileti. Ne yazık ki bana ait değil."><i class="fa fa-search bg-color"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="img-box-8-cap">
                                            <h4><a href="#">Geriye Kalanlar</a></h4>
                                            <div class="bor bg-color"></div>
                                            <p>Benzerlerinden onlarcasını aldığım bir Güven Turizm bileti. Ne yazık ki bana ait değil.</p>
                                        </div>
                                    </div>
                                </div>
                            
                        </div><!-- Boncuk ve Güven Turizm -->
                        <br />
                    </div>
                </div><!-- CONTENT BODY -->
                
                @Html.Partial("~/Views/Home/ParShareArticle.cshtml")
                @Html.Partial("~/Views/Home/ParAuthor.cshtml")
                @Html.Partial("~/Views/Home/ParCommentForm.cshtml")

                <div class="fb-comments" data-href="https://www.bizimzamanlarimiz.com/Tales/Boncuk" data-numposts="5" data-width="100%"></div>
            </div><!-- MAINBAR COLUMN -->
            
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="s-widget">
                        <h5><i class="fa fa-road fa-lg orange"></i>&nbsp; Dorukhan TÜNELİ</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/dorukhan-tuneli-thumb.jpg" alt="Dorukhan Tüneli - Zonguldak yönü">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/dorukhan-tuneli.jpg" class="lightbox-plus" title="Dorukhan Tüneli - Zonguldak yönü"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Dorukhan Tüneli - Zonguldak yönü</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>fotoğraf <a href="http://www.panoramio.com/photo/37776076" target="_blank">Ahmet Soyak</a>'tan alıntıdır</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                Bolu Dağı Tüneli'nin henüz yapım aşamasında olduğu o dönemlerde, Zonguldak-Bolu sınırını oluşturan dağlarda
                                devasa bir tünel vardı. Uzunluğu bir kilometrenin üzerinde (1096 metre) olan bu tünel çok büyük ihtimalle
                                1980'li yıllarda Türkiye'nin en uzun tüneliydi.
                            </p>
                            <p>
                                Uçurumların kenarından dolanan daracık ve aşırı tehlikeli yolu yarım saatten birkaç dakikaya indiren bu tünel
                                pek çok yönüyle aslında bir korku tünelini andırıyordu.
                            </p>
                            <p>
                                Sadece tek geliş ve tek gidiş olan bu daracık tünelde ışık yoktu ve tavanlarından sürekli su damlardı. İçeride
                                yavaş gidilmesi gerektiğinden dakikalar boyunca süren korku dolu bir deneyim yaşardınız. Yine de ne olursa
                                olsun, uçurumların kenarından gittiğiniz yarım saatlik adrenalin nöbetinden iyiydi.
                            </p>
                            <p>
                                Günümüzde bu tünelin yanına ikinci bir tünel daha yapılmış; gidiş ve geliş yönleri ayırılmıştır. Su damlamaz
                                ve her yanı ışıl ışıldır. Eski halini özlemiyor değilim.
                            </p>
                        </div>
                    </div><!-- Dorukhan Tüneli -->
                    <div class="s-widget">
                        <h5><i class="fa fa-bus fa-lg" style="color:limegreen"></i>&nbsp; Mercedes 302</h5>
                        <div class="widget-content text-muted">    
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/korkusuz-korkak-O302.jpg" alt="Korkusuz Korkak Filminden Bir Kare - Otobüs yolcuları Kemal Sunal'ı manuel kapılı bir O302'den tekme tokat kovuyor">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/korkusuz-korkak-O302.jpg" class="lightbox-plus" title="Korkusuz Korkak Filminden Bir Kare - Otobüs yolcuları Kemal Sunal'ı manuel kapılı bir O302'den tekme tokat kovuyor"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Korkusuz Korkak Filminden Bir Kare</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Otobüs yolcuları Kemal Sunal'ı manuel kapılı bir O302'den tekme tokat kovuyor</p>
                                    </div>
                                </div>
                            </div>
                            <p>
                                Bu otobüsleri çoğumuz 302 olarak adlandırsak da, doğru adı gerçekte O302'dir.
                            </p>
                            <p>
                                Bu aşağıdakileri, ekşisözlük yazarlarından <a href="https://eksisozluk.com/biri/raini">raini</a> yazmış. 
                                Her şeyi çok güzel özetlemiş, ekleyecek hiçbir şeyim yok.
                            </p>
                            <blockquote>
                                <p>
                                    Loş ışıklı dinlenme tesislerinde, benzin istasyonlarında ve dağ başlarındaki tabelasız
                                    kamyoncu duraklarında bir köşeye parketmiş olarak görebilirsiniz 302'leri. Onları gördüğünüzde,
                                    bu hüzünlü duraklama yerlerinde uyuşmuş bacaklarınızı gerinerek açmaya çalışarak otobüsten
                                    indiğiniz ve serin dağ rüzgarı ile ürperdiğiniz anı hatırlayacaksınız.
                                </p>
                                <p>
                                     Acı çayı bol şekerle içmeye çalışırken sarı botlu bir adamın elindeki hortum geçirilmiş fırçayla otobüsü yıkamaya
                                     başladığını, otobüsün ön camına yolculuğun son durağının ismini taşıyan şeffaf bir plaka yapıştırıldığını,
                                     otobüs şoförünün ağır adımlarla girdiği lokantada çorba içtiğini ve yanındaki muavinin uykulu gözlerle esnediğine
                                     şahit olacaksınız hafızanınız tozlu karanlığında. 
                                 </p>
                                <p>
                                    Ardından uzun süren rampaları, kamyonlarla dolu yollarda geçen gece yolculuklarında otobüsün 
                                    farlarının aydınlığında parlayan asvaltı, şarampole devrilmiş bir başka 302'inin kenara dizilmiş şaşkın 
                                    ve şanssız yolcularına acıyarak baktığınızı anımsayacaksınız. 
                                </p>
                                <p>
                                    Sonra tavandan süzülen ince ışığın naif aydınlığında uykuya
                                    direnirken gördüğünüz, bozuk yollardan geçtikçe titreyen ön koltuğu, onun sırtına iliştirilmiş
                                    filenin eşya konmaktan bollaşmış çeplerini, koltuk kafalığının kirlenmiş beyazını ve gri metal
                                    üzerine yazılmış "17/18-pencere/koridor" yazısını yeniden göreceksiniz. ve hayatın ne kadar
                                    hızlı ilerlediğini birkez daha farkedip, biraz da ürpereceksiniz.
                                </p>
                                <small><a href="https://eksisozluk.com/biri/raini">raini</a> </small>
                            </blockquote>
                        </div>
                    </div><!-- Mercedes 302 -->
                    <div class="s-widget">
                        <h5><i class="fa fa-camera-retro fa-lg" style="color:royalblue"></i>&nbsp; Varan, Gerçek bir Efsane</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/varan-bolu-dagi-thumb.jpg" alt="Varan Bolu Dağı Tesisleri - Yollarda görüp görebileceğimiz en kaliteli duraklama yeriydi.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/varan-bolu-dagi.jpg" class="lightbox-plus" title="Varan Bolu Dağı Tesisleri - Yollarda görüp görebileceğimiz en kaliteli duraklama yeriydi."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Varan Bolu Dağı Tesisleri</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Yollarda görüp görebileceğimiz en kaliteli duraklama yeriydi.</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                Bir taşra otobüs şirketi olan Güven'in unutulmasını bir noktaya kadar anlıyor olabilirim ama <b>Varan</b>'ın bu kadar 
                                çabuk unutulup gitmesi anlaşılır gibi değil. Bu, bizim toplum olarak ne kadar hafızasız olduğumuzun da bir göstergesi.
                                Ülkede bu kadar şey olup biterken Varan'ı hatırlamak biraz şımarıkça gibi gelebilir ama tam tersi, böyle şeyleri 
                                hatırlamadığımız için iki yakamız bir türlü bir araya gelmiyor.
                            </p>
                            <p>
                                Bu makaleyi hazırlarken hem Varan, hem de diğer otobüs firmaları sıklıkla aklıma geldi ve yollarda rastladıkça eski hatıralarım canlandı.
                                Bir süre sonra garip bir şey farkettim, uzun süredir etrafta hiç Varan otobüsü görmemiştim. Ben de en son seferimi 2014'te yapmıştım.
                                İnternet siteleri duruyordu ama biraz araştırma yapınca şirketin Ulusoy'a satıldığını ve seferlerin sona erdiğini öğrendim.
                            </p>
                            <p>
                                90'lı yıllar Varan'ın altın çağıydı. Herkes artık çok fazla seyahat ediyordu, güney illerine turist akıyordu, uçak henüz popüler olmamıştı ve 
                                orta ve üst gelir grubu çoğunlukla Varan'ı tercih ediyordu. Milyonlarca insan Varan'la en önemli anılarını yaşadılar. Böyle önemli bir toplumsal imge 
                                yok olup gittiğinde bir şeyler olmalıydı. Birileri kitap yazmalı, birkaç hatıra web sitesi kurulmalı, forumlarda, sosyal paylaşım sitelerinde ara sıra
                                hatırlanmalıydı.
                            </p>
                            <p>
                                Varan'la en önemli anılarını yaşayan kitle, uçakla tanışınca bir daha geriye dönmemek üzere gitti ve yolların bu en zarif otobüs acentasının 
                                yok oluşunu farketmedi. Ara sıra bile olsa hatırlamadı da.
                            </p>
                        </div>
                    </div><!-- Varan -->
                    <div class="s-widget">
                        <h5><i class="fa fa-photo fa-lg color"></i>&nbsp; FOTOĞRAF GALERİSİ</h5>
                        <div class="widget-content gallery lightbox-popup-gallery">
                            <a href="~/Content/Images/Tales/Boncuk/pamukkale.jpg" title="Pamukkale - Günümüzde de yaşayan efsane otobüs firmasına ait harika bir 302"><img src="~/Content/Images/Tales/Boncuk/pamukkale-thumb.jpg" alt="Pamukkale - Günümüzde de yaşayan efsane otobüs firmasına ait harika bir 302" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/zonguldak-terminalinde.jpg" title="Zonguldak Terminali'ne Varış - O otobüs yolculuklarına dair elimdeki tek resim, yıl 1983"><img src="~/Content/Images/Tales/Boncuk/zonguldak-terminalinde.jpg"  alt="Zonguldak Terminali'ne Varış - O otobüs yolculuklarına dair elimdeki tek resim, yıl 1983" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/korkusuz-korkak-O302.jpg" title="Korkusuz Korkak Filminden Bir Kare - Otobüs yolcuları Kemal Sunal'ı manuel kapılı bir O302'den tekme tokat kovuyor"><img src="~/Content/Images/Tales/Boncuk/korkusuz-korkak-O302.jpg" alt="Korkusuz Korkak Filminden Bir Kare - Otobüs yolcuları Kemal Sunal'ı manuel kapılı bir O302'den tekme tokat kovuyor" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/topkapi-garaji.jpg" title="Topkapı Garajı'nda Zonguldak Güven - Zamanında dünyanın en kaotik yerlerinden biri olan Topkapı Garajı'nda Güven yazıhanesi. Ortalara doğru, As Bafra'nın hemen altında."><img src="~/Content/Images/Tales/Boncuk/topkapi-garaji-thumb.jpg" alt="Topkapı Garajı'nda Zonguldak Güven - Zamanında dünyanın en kaotik yerlerinden biri olan Topkapı Garajı'nda Güven yazıhanesi. Ortalara doğru, As Bafra'nın hemen altında." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/kemal-sunal-guven.jpg" title="Güzel Bir Tesadüf - Kemal Sunal, Güven'in Topkapı Garajı'ndaki tabelasının önünde duruyor"><img src="~/Content/Images/Tales/Boncuk/kemal-sunal-guven.jpg" alt="Güzel Bir Tesadüf - Kemal Sunal, Güven'in Topkapı Garajı'ndaki tabelasının önünde duruyor" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/guven-bilet-2.jpg" title="Geriye Kalanlar - Benzerlerinden onlarcasını aldığım bir Güven Turizm bileti. Ne yazık ki bana ait değil."><img src="~/Content/Images/Tales/Boncuk/guven-bilet-2.jpg" alt="Geriye Kalanlar - Benzerlerinden onlarcasını aldığım bir Güven Turizm bileti. Ne yazık ki bana ait değil." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/guven-bilet.jpg" title="Bir Başka Güven Bileti - Bu daha eski yıllara ait olmalı."><img src="~/Content/Images/Tales/Boncuk/guven-bilet.jpg" alt="Bir Başka Güven Bileti - Bu daha eski yıllara ait olmalı." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/kanberoglu-bilet.jpg" title="O Zamanlardan bir Kanberoğlu Bileti - O kazadan korktuğum için asla binmedim, ama günümüzde hala yollarda Kanberoğlu görüyorum. Güven ise yıllar önce kapandı."><img src="~/Content/Images/Tales/Boncuk/kanberoglu-bilet-thumb.jpg" alt="O Zamanlardan bir Kanberoğlu Bileti - O kazadan korktuğum için asla binmedim, ama günümüzde hala yollarda Kanberoğlu görüyorum. Güven ise yıllar önce kapandı." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/varan-bolu-dagi.jpg" title="Varan Bolu Dağı Tesisleri - Yollarda görüp görebileceğimiz en kaliteli duraklama yeriydi."><img src="~/Content/Images/Tales/Boncuk/varan-bolu-dagi-thumb.jpg" alt="Varan Bolu Dağı Tesisleri - Yollarda görüp görebileceğimiz en kaliteli duraklama yeriydi." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/dorukhan-tuneli-orman.jpg" title="Dorukhan Tüneli - Bu tünel yapılmadan önce, tepede görülen yamaçların arasından dapdaracık bir yol geçiyodu."><img src="~/Content/Images/Tales/Boncuk/dorukhan-tuneli-orman-thumb.jpg" alt="Dorukhan Tüneli - Bu tünel yapılmadan önce, tepede görülen yamaçların arasından dapdaracık bir yol geçiyodu." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/zonguldak-terminali.jpg" title="Zonguldak Terminali - Büyük ihtimalle 90larda çekilmiş. Boncuk'un çalıştığı yıllara ait bir fotoğraf bulamadım."><img src="~/Content/Images/Tales/Boncuk/zonguldak-terminali-thumb.jpg" alt="Zonguldak Terminali - Büyük ihtimalle 90larda çekilmiş. Boncuk'un çalıştığı yıllara ait bir fotoğraf bulamadım." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/ankara-terminali.jpg" title="Ankara Terminali 1982 - Zonguldak-Ankara arasında mekik dokuduğum o günlerdeki hali"><img src="~/Content/Images/Tales/Boncuk/ankara-terminali.jpg" alt="Ankara Terminali 1982 - Zonguldak-Ankara arasında mekik dokuduğum o günlerdeki hali" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/302s-zamanlari.jpg" title="Yolların Kralları - 70'li ve 80'li yıllarda, yolların tartışmasız kralları Mercedes 302 otobüsleriydi. Başka bir marka çok nadir görülürdü."><img src="~/Content/Images/Tales/Boncuk/302s-zamanlari-thumb.jpg" alt="Yolların Kralları - 70'li ve 80'li yıllarda, yolların tartışmasız kralları Mercedes 302 otobüsleriydi. Başka bir marka çok nadir görülürdü." class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/302s-cizim.jpg" title="Mercedes O302S - Otomarsan reklamından alınmış bir çizim"><img src="~/Content/Images/Tales/Boncuk/302s-cizim.jpg" alt="Mercedes O302S - Otomarsan reklamından alınmış bir çizim" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Boncuk/dorukhan-tuneli.jpg" title="Dorukhan Tüneli - Zonguldak yönü"><img src="~/Content/Images/Tales/Boncuk/dorukhan-tuneli-thumb.jpg" alt="Dorukhan Tüneli - Zonguldak yönü" class="img-responsive img-thumbnail" /></a>
                        </div>
                    </div><!-- IMAGE GALLERY -->
                </div>
            </div><!-- SIDEBAR COLUMN -->
        </div>
    </div>
</div>



