@{
    ViewBag.Title = "Teksas-Tommiks Yanılsaması";
}

<div class="container">
    <div class="blog-two">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-two-item">
                    <div class="blog-two-content">
                        <h1><span class="text-primary">Teksas-Tommiks Yanılsaması</span></h1>
                        <h5><span class="text-muted">Kırılgan güzelliklere bir özür borcu</span></h5>
                        
                        <div class="blog-meta">
                            <a href="#"><i class="fa fa-calendar"></i> &nbsp; Şubat 2016</a> &nbsp;
                            <a href="#"><i class="fa fa-user"></i> &nbsp; Bilgin Eşme</a> &nbsp;
                        </div>
       
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <span class="dropcap-2">İ</span>çinde bulunduğun zamanın ruhunu ve seni çevreleyen güzelliklerin ne kadar kırılgan 
                                    olduğunu çok sonraları anlıyor insan. 
                                </p>
                                <p>
                                    Futbolla ilk ilgilenmeye başladığım zamanlarda annemle Kilimli’deki bir arkadaşına
                                    gitmiştik. Çok güzel bir bahçesi ve salıncakları vardı; bir sürü de dergisi. Dergiler büyükler için olmasına rağmen
                                    saatlerce sürecek olan ev oturmasında sıkılmamaya yetecek kadar iş görüyordu.
                                </p>
                                <p>
                                    O dergilerin birinde <b>Fenerbahçe</b>’nin kötü gidişi, teknik direktör <b>Rausch</b> ile bir röportaj ve ilgili haberler vardı. 
                                    O an içimde acımayla karışık bir şefkat hissiyle birlikte Fenerbahçe’ye aşık oldum. 
                                </p>
                               
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/TeksasTommiks/Teksas600x300.jpg" alt="Teksas - Orijinal adıyla Il Grande Blek">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/TeksasTommiks/Teksas600x300.jpg" class="lightbox-plus" title="Teksas - Orijinal adıyla Il Grande Blek"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Teksas</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Orijinal adıyla Il Grande Blek</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                         
                        <div class="row">
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/TeksasTommiks/Fenerbahce1980.jpg" alt="Fenerbahçe 1980 - En soldaki mavi eşofmanlı Friedel Rausch">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/TeksasTommiks/Fenerbahce1980.jpg" class="lightbox-plus" title="Fenerbahçe 1980 - En soldaki mavi eşofmanlı Friedel Rausch"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Fenerbahçe 1980</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>En soldaki mavi eşofmanlı Friedel Rausch</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Oysa sınıfın yarısından çoğu <b>Zonguldaksporlu</b>’ydu. 
                                    Yeni başlayan aşkım çok hızlı şekilde fanatizme dönüştü ve Zonguldakspor'u tutan arkadaşları
                                    küçümseme, alay etme ve her türlü çirkefliği peşpeşe sergilemeye başladım.
                                </p>
                                <p>
                                    Yalnız da değildim. En iyi arkadaşım Kaan da, nasıl olduğunu bilmediğim bir şekilde 
                                    Fenerli olmuştu, ya da benden önce mi öyleydi, tam hatırlamıyorum?
                                    O da bana katıldı, başka arkadaşlar da vardı.
                                </p>
                                <p>
                                    <b>Zonguldakspor</b> o zamanlar en başarılı sezonlarını yaşıyordu. Lig ikinciliği almışlardı, 
                                    her sezon da iyi yerlerde tamamlıyorlardı. Sezon sonları, seçme futbolcuların büyük takımlara 
                                    transfer olmasına rağmen, yine de kaynak bir şekilde kurumuyordu. 
                                </p>
                               <p>
                                   Zonguldak'a ve kömüre sahip çıkılıyordu o zamanlar, Zonguldaklı da takımına sahip çıkıyordu.
                               </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12"><h3>Red Kit</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Tam da o günlerde, <b>Teksas-Tommiks</b> okuyanlara da küçümseyerek ve hatta nefretle bakmaya başlamıştım. 
                                    Tam olarak nedenini hatırlamıyorum. 
                                </p>
                                <p>
                                    Ailelerimizin Teksas-Tommiks okuyanlara karşı tavrı ve bizim cici çocuk rolünü içselleştirmemiz en temel neden galiba. 
                                    Biraz da, bu tür çizgi romanlarda fazlaca şiddet olması ve bazılarında kızılderililere kötü davranılması gelebilir.
                                </p>
                                <p>
                                    Ben o zamanlar <b>Red Kit</b> okurdum. Red Kit kimseyi öldürmez, düşmanının silahına, şapkasına falan ateş eder, ya da zekice
                                    numaralarla etkisiz hale getirirdi. Kızılderililere de saygı duyardı.
                                </p>
                                <p>
                                    Tüm bu resim, o zaman benim kafamda kurduğum manzaraydı. Gerçeğin çok farklı olduğunu uzun yıllardan sonra anlayabildim.
                                </p>
                                <p>
                                    Aslında  Teksas-Tommiks, tüm çizgi romanlara verilen genel bir isimmiş, ve ne yazık ki benim Red Kit’im de yıllarca
                                    nefret ettiğim Teksas-Tommiks sayılıyormuş. Red Kit okuyanlar da en az diğerlerini okuyanlar kadar hayta, tembel,
                                    lüzumsuz şeylerle zaman harcayan serseri olarak görülüyormuş ailelerimiz tarafından.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Il Grande Blek</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Ve Teksas-Tommiks okuyanlar da en az Zonguldakspor’u tutanlar kadar, el üstünde tutulması 
                                    gereken kırılgan güzelliklermiş. Bilip bilmeden ne kadar da vurmuşum o güzelliklere…
                                </p>
                                <p>
                                    <b>Teksas</b> ve <b>Tommiks</b> aslında iki ayrı çizgi roman karakteridir. 
                                    1950’lerde İtalya’da yayınlanmaya başlamış ve Türkiye de dahil Avrupa’nın bir çok
                                    ülkesinde çok popüler olmuş bu kahramanların İtalyanca isimleri ise gerçekten çok enteresan. 
                                    <b>Il Grande Blek</b> Türkçe’ye <b>Teksas</b> olarak çevirilmiş, <b>Capitan Miki</b> de <b>Tommiks</b>.
                                </p>
                                <p>
                                    <b>Il Grande Blek</b>'ten başlarsak; aslında Kuzeybatı Amerika’da, Boston civarında yaşayan bu 
                                    karakter Teksas’a adımını bile atmıyor maceralarında, ama Türkiye’de yayınlayanlar 
                                    Teksas adının daha iyi tutacağını düşünmüş olacakları için böyle bir isimlendirmeyi
                                    uygun görmüşler.
                                </p>
                                <p>
                                    İtalyanca’da Büyük Blek anlamına geliyor ki bu da çok enteresan, aslında 
                                    Black <i>(İngilizce'de siyah)</i> olarak başlamış ancak İtalyanlar’ın kolay telaffuz edemediğini görünce
                                    bu hale getirmişler.
                                </p>
                                <p>
                                    İtalyancası bile eğreti duruyor yani. Türkçe’ye de kahramanımız Çelik Bilek olarak çevirilmiş, 
                                    bazen de Çelik Blek olarak geçiyor. İlk bakışta çok eğreti dursa da aslında çok sevimli. Zaten 
                                    ismin çok da önemi yok, önemli olan maceraların ve heyecanın kendisi.
                                </p>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12"><h3>Tommiks yani Capitan Miki</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Tommiks’in orjinal ismi de Capitan Miki, yani Yüzbaşı Miki. Yine çevirenler bu ismi yeterince güçlü bulmamış olacaklar ki,
                                    Tommiks diye gümbür gümbür bir isim yaratmışlar.
                                </p>
                                <p>
                                    Her iki çizgi roman da aslında western türünde ve İtalyanlar’ın daha sonraları gümbür gümbür getirecekleri
                                    Spagetti Western sinemasının da öncüleri. 
                                </p>
                                <p>
                                    Bu iki çizgi roman da Amerika’da hiç yayınlanmamış. Oysa ki ben bunların
                                    Amerikan çizgi romanları olduğunu sanıyordum.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Ve Hepsi Birden Uçtu Gitti</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Teksas-Tommiks denilen kavramın içine 1970’lerde özellikle Zagor, Kaptan Swing, Mister No gibi yine İtalyan çizgi
                                    romanları girdi. Asıl Teksas ve Tommiks okurları azalmaya başladı.
                                </p>
                                <p>
                                    Ben bu iki çizgi romanın da bir tek macerasını bile baştan sona okumadım. Ama bugün, kırk yaşımı geçtikten sonra
                                    görüyorum ki küçükken yok olmalarını dilediğim Teksas-Tommiks okuyanlar hep güzel insanlarmış.
                                </p>
                                <p>
                                    Zaman geçtikçe yok olmalarını arzuladığım bu kitle gerçekten de yok oldu. 1980’lerin ortalarından itibaren bunları
                                    okuyanları görmemeye başladım. Ağabeylerimiz büyüdü, çoluk-çocuk, iş-güç derken zamanları kalmadı. Bizim nesil
                                    televizyona ve bilgisayar oyunlarına daldı.
                                </p>
                                <p>
                                    Yok olmalarını arzuladığım Zonguldaksporlular da aynı akibete uğradı. Darbe sonrası neo-liberal politikalar sonucunda
                                    Zonguldak şehrinin ipi çekildi. Çoğu güzellikle birlikte Zonguldakspor da eridi gitti. İkinci lige düştükten sonra
                                    tutabilmek mümkün olmadı, amatör kümeye kadar geriledi.
                                </p>
                                <p>
                                    Şimdi Zonguldak’ta eski tutkusuyla sadece ama sadece Zonguldakspor’u tutan ve Teksas-Tommiks okuyan kaç kişi kalmıştır
                                    acaba? 
                                </p>
                                <p>
                                    Hepsinden birer birer özür dileyebilmek için neler vermezdim...
                                </p>
                            </div>
                        </div>
                        <br />
                    </div>
                </div><!-- CONTENT BODY -->
                
                @Html.Partial("~/Views/Home/ParShareArticle.cshtml")
                @Html.Partial("~/Views/Home/ParAuthor.cshtml")
                @Html.Partial("~/Views/Home/ParCommentForm.cshtml")

                <div class="fb-comments" data-href="https://www.bizimzamanlarimiz.com/Tales/TeksasTommiks" data-numposts="5"></div>
            </div><!-- MAINBAR COLUMN -->
            
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="s-widget">
                        <h5><i class="fa fa-map-signs fa-lg color"></i>&nbsp; Naples</h5>
                        <div class="widget-content text-muted">
                           
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/NeapolitanWorld/NaplesOnMapThumb.jpg" alt="Naples on the map">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/NeapolitanWorld/NaplesOnMap.jpg" class="lightbox"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Naples</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>on the map</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                <b>Naples</b> is regarded as a quintessential Southern Italian city, but as you can
                                see from the map, it's not very far away from the capital Rome. But geographical distance
                                may be deceiving.
                            </p>
                            <p>
                                As you leave Rome by car or by train, you'll notice the surroundings change quickly in every
                                kilometer. And when you arrive in Naples, you feel that you're in Southern Italy.
                            </p>
                            <p>
                                The population of Naples is around 3 millions and it's the center of the Italian governmental region
                                of <b>Campania</b>. The city is on the Gulf of Naples and nearby, there are world famous places as 
                                Amalfi Coast, islands of Capri and Ischia.
                            </p>
                            <p>
                                The city's origins go as far as Greek colonists. It was the capital city of <b>Kingdom of Naples</b> when
                                Neapolitan language was the <i>de facto</i> official language of the sovereign state.
                            </p>
                            <p>
                                After the Italian unification, Naples became a part of the unified Italy in 1861.
                            </p>
                            <p>
                                Naples was hit by number of severe epidemics in 19<sup>th</sup> century, and this caused huge 
                                immigration waves to United States and South America <i>(especially to Argentina)</i>. 
                            </p>
                            <p>
                                Today still, there are sizable communities in Argentina speaking Neapolitan.
                                As they're not effected by standard Italian influence there, the language can
                                stay even more lively than in homeland.
                            </p>
                        </div>
                    </div><!-- Naples -->
                    <div class="s-widget">
                        <h5><i class="fa fa-language fa-lg color"></i>&nbsp; Languages of Italy</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/NeapolitanWorld/LinguisticMapOfItalyThumb.jpg" alt="Language map of Italy - from Wikipedia">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/NeapolitanWorld/LinguisticMapOfItaly.png" class="lightbox"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Language map of Italy</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>from Wikipedia</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                As you can see from the map, there are dozens of languages spoken other than standard Italian.
                            </p>
                            <p>
                                It's hard to believe but, there are isolated small areas where <b>Greek</b>, 
                                <b>Albanian</b>, <b>Catalan</b> and even <b>Occitan</b> is spoken. 
                                Nowadays though, only a handful of people can speak them fluently.
                            </p>
                            <p>
                                On the northern parts, sizable areas contain <b>German</b> speakers. These are the areas obtained in 
                                World War 1 from Austria-Hungary, and there is still a mild dispute. 
                                Also <b>Aosta</b> is a major <b>French</b> speaking region.
                            </p>
                            <p>
                                Other than these, there are lots of Italian variant languages and dialects which derived from <b>Vulgar Latin</b>. 
                                The <b>Tuscan</b> dialect <i>(which is Florence region)</i> is the basis for today's standard Italian. As
                                the city was the major force behind the renaissance, they won the language wars.
                            </p>
                            <p>
                                The same thing happened in Spain where <b>Castilian</b> won the language wars. In Chile and Argentine and also in some  
                                Latin American countries, the term <b>Castillian</b> is used instead of Spanish.
                            </p>
                            <p>
                                Some dialects are mutually intelligible to some degree, 
                                but especially <b>Neapolitan</b>, <b>Sicilian</b> and <b>Sardinian</b>
                                can be categorized as totally a different language.
                            </p>
                        </div>
                    </div><!-- Languages of Italy -->
                    <div class="s-widget">
                        <h5><i class="fa fa-futbol-o fa-lg color"></i>&nbsp; Maradona and Napoli</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/NeapolitanWorld/MaradonaPanini.jpg" alt="Diego Maradona - a Panini card">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/NeapolitanWorld/MaradonaPanini.jpg" class="lightbox"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Diego Maradona</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>a Panini card</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                The Mexico '86 World Cup was the peek point of Maradona's career. Argentina had won the
                                cup beating Germany and he scored 5 goals, two of them was permanently marked as unforgettable
                                in football history.  
                            </p>
                            <p>
                                Maradona was undoubtedly the most valuable player after the world cup and he was already playing
                                in Napoli. Especially after the world cup, all eyes turned to Napoli. He continued to live his
                                best years and took a major role in Napoli's two championships in the seasons 1986–87 and 1989–90. 
                            </p>
                            <p>
                                The city of Naples had a special relationship with Maradona. Being ultimately a religious city, 
                                Naples regarded Maradona as a semi-saint <i>(or maybe a real saint)</i> figure. There were shrines
                                dedicated to Maradona, people lid candles and made special prayers on Sundays and festivities.
                            </p>
                            <p>
                                Naples and Maradona has one serious conflict. In the world cup '90 which was held in Italy, he
                                requested the city to support Argentina instead of Italy. He backed his idea by reminding them
                                how the Italian governments which were dominated by North, neglected South Italy and Naples.
                            </p>
                            <p>
                                Naples continued to love Maradona, continued to light candles and pray for him; but refused this
                                request without hesitation. Neapolitans were proud to be Italians - however neglected, however they
                                were different from other Italians in many ways.
                            </p>
                        </div>
                    </div><!-- Maradona and Napoli -->
                    <div class="s-widget">
                        <h5><i class="fa fa-photo fa-lg color"></i>&nbsp; FOTOĞRAF GALERİSİ</h5>
                        <div class="widget-content gallery lightbox-popup-gallery">
                            <a href="~/Content/Images/Tales/TeksasTommiks/Teksas600x300.jpg" title="Teksas - Orijinal adıyla Il Grande Blek"><img src="~/Content/Images/Tales/TeksasTommiks/Teksas600x300.jpg" alt="Teksas - Orijinal adıyla Il Grande Blek" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/TeksasTommiks/Fenerbahce1980.jpg" title="Fenerbahçe 1980 - En soldaki mavi eşofmanlı Friedel Rausch"><img src="~/Content/Images/Tales/TeksasTommiks/Fenerbahce1980.jpg" alt="Fenerbahçe 1980 - En soldaki mavi eşofmanlı Friedel Rausch" class="img-responsive img-thumbnail" /></a>
                        </div>
                    </div><!-- IMAGE GALLERY -->
                </div>
            </div><!-- SIDEBAR COLUMN -->
        </div>
    </div>
</div>

