@{
    ViewBag.Title = "Teksas-Tommiks Yanılsaması";
}

<div class="container">
    <div class="blog-two">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-two-item">
                    <div class="blog-two-content">
                        <h1><span class="text-primary">Teksas-Tommiks Yanılsaması</span></h1>
                        <h5><span class="text-muted">Kırılgan güzelliklere bir özür borcu</span></h5>

                        <div class="blog-meta">
                            <a href="#"><i class="fa fa-calendar"></i> &nbsp; Şubat 2025</a> &nbsp;
                            <a href="#"><i class="fa fa-user"></i> &nbsp; Bilgin Eşme</a> &nbsp;
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <span class="dropcap-2">İ</span>çinde bulunduğun zamanın ruhunu ve seni çevreleyen güzelliklerin ne kadar kırılgan
                                    olduğunu çok sonraları anlıyor insan.
                                </p>
                                <p>
                                    Futbolla ilk ilgilenmeye başladığım zamanlarda annemle Zonguldak Kilimli’deki bir arkadaşına
                                    gitmiştik. Çok güzel bir bahçesi ve salıncakları vardı; bir sürü de dergisi. Dergiler büyükler için olmasına rağmen
                                    saatlerce sürecek olan ev oturmasında sıkılmamaya yetecek kadar iş görüyordu.
                                </p>
                                <p>
                                    O dergilerin birinde <b>Fenerbahçe</b>’nin kötü gidişi, teknik direktör <b>Rausch</b> ile bir röportaj ve ilgili haberler vardı.
                                    O an içimde acımayla karışık bir şefkat hissiyle birlikte Fenerbahçe’ye aşık oldum.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/TeksasTommiks/Teksas600x300.jpg" alt="Teksas - Orijinal adıyla Il Grande Blek">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/TeksasTommiks/Teksas600x300.jpg" class="lightbox-plus" title="Teksas - Orijinal adıyla Il Grande Blek">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Teksas</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Orijinal adıyla Il Grande Blek</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/TeksasTommiks/Fenerbahce1980.jpg" alt="Fenerbahçe 1980 - En soldaki mavi eşofmanlı Friedel Rausch">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/TeksasTommiks/Fenerbahce1980.jpg" class="lightbox-plus" title="Fenerbahçe 1980 - En soldaki mavi eşofmanlı Friedel Rausch">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Fenerbahçe 1980</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>En soldaki mavi eşofmanlı Friedel Rausch</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Oysa sınıfın yarısından çoğu <b>Zonguldaksporlu</b>’ydu.
                                    Yeni başlayan aşkım çok hızlı şekilde fanatizme dönüştü ve Zonguldakspor'u tutan arkadaşları
                                    küçümseme, alay etme ve her türlü çirkefliği peşpeşe sergilemeye başladım.
                                </p>
                                <p>
                                    Yalnız da değildim. En iyi arkadaşım Kaan da, nasıl olduğunu bilmediğim bir şekilde
                                    Fenerli olmuştu, ya da benden önce mi öyleydi, tam hatırlamıyorum?
                                    O da bana katıldı, başka arkadaşlar da vardı.
                                </p>
                                <p>
                                    <b>Zonguldakspor</b> o zamanlar en başarılı sezonlarını yaşıyordu. Lig ikinciliği almışlardı,
                                    her sezon da iyi yerlerde tamamlıyorlardı. Sezon sonları, seçme futbolcuların büyük takımlara
                                    transfer olmasına rağmen, yine de kaynak bir şekilde kurumuyordu.
                                </p>
                                <p>
                                    Zonguldak'a ve kömüre sahip çıkılıyordu o zamanlar, Zonguldaklı da takımına sahip çıkıyordu.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12"><h3>Red Kit</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Tam da o günlerde, <b>Teksas-Tommiks</b> okuyanlara da küçümseyerek ve hatta nefretle bakmaya başlamıştım.
                                    Tam olarak nedenini hatırlamıyorum.
                                </p>
                                <p>
                                    Ailelerimizin Teksas-Tommiks okuyanlara karşı tavrı ve bizim cici çocuk rolünü içselleştirmemiz en temel neden galiba.
                                    Biraz da, bu tür çizgi romanlarda fazlaca şiddet olması ve bazılarında kızılderililere kötü davranılması gelebilir.
                                </p>
                                <p>
                                    Ben o zamanlar <b>Red Kit</b> okurdum. Red Kit kimseyi öldürmez, düşmanının silahına, şapkasına falan ateş eder, ya da zekice
                                    numaralarla etkisiz hale getirirdi. Kızılderililere de saygı duyardı.
                                </p>
                                <p>
                                    Tüm bu resim, o zaman benim kafamda kurduğum manzaraydı. Gerçeğin çok farklı olduğunu uzun yıllardan sonra anlayabildim.
                                </p>
                                <p>
                                    Aslında  Teksas-Tommiks, tüm çizgi romanlara verilen genel bir isimmiş, ve ne yazık ki benim Red Kit’im de yıllarca
                                    nefret ettiğim Teksas-Tommiks sayılıyormuş. Red Kit okuyanlar da en az diğerlerini okuyanlar kadar hayta, tembel,
                                    lüzumsuz şeylerle zaman harcayan serseri olarak görülüyormuş ailelerimiz tarafından.
                                </p>
                                <p>
                                    Ve Teksas-Tommiks okuyanlar da en az Zonguldakspor’u tutanlar kadar, el üstünde tutulması
                                    gereken kırılgan güzelliklermiş. Bilip bilmeden ne kadar da vurmuşum o güzelliklere…
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/TeksasTommiks/red-kit-thumb.jpg" alt="Red Kit - Milliyet Çocuk Dergisi'ni aldığımda ilk okuduğum sayfalar'">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/TeksasTommiks/red-kit.jpg" class="lightbox-plus" title="Red Kit - Milliyet Çocuk Dergisi'ni aldığımda ilk okuduğum sayfalar">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Red Kit</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Milliyet Çocuk Dergisi'ni aldığımda ilk okuduğum sayfalar</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Il Grande Blek</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/TeksasTommiks/teksas-thumb.jpg" alt="Çelik Bilek ve kırmızı urbalılar - Teksas maceralarının hemen hepsinde düşman, kırmızı giyen İngiliz askerlerdir">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/TeksasTommiks/teksas.png" class="lightbox-plus" title="Çelik Bilek ve kırmızı urbalılar - Teksas maceralarının hemen hepsinde düşman, kırmızı giyen İngiliz askerlerdir">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Çelik Bilek ve kırmızı urbalılar</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Teksas maceralarının hemen hepsinde düşman, kırmızı giyen İngiliz askerlerdir</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <b>Teksas</b> ve <b>Tommiks</b> aslında iki ayrı çizgi roman karakteridir.
                                    1950’lerde İtalya’da yayınlanmaya başlamış ve Türkiye de dahil Avrupa’nın bir çok
                                    ülkesinde çok popüler olmuş bu kahramanların İtalyanca isimleri ise gerçekten çok enteresan.
                                    <b>Il Grande Blek</b> Türkçe’ye <b>Teksas</b> olarak çevirilmiş, <b>Capitan Miki</b> de <b>Tommiks</b>.
                                </p>
                                <p>
                                    <b>Il Grande Blek</b>'ten başlarsak; aslında Kuzeybatı Amerika’da, Boston civarında yaşayan bu
                                    karakter Teksas’a adımını bile atmıyor maceralarında. Türkiye’de yayınlayanlar,
                                    Teksas adının daha iyi tutacağını düşünmüş olacakları için böyle bir isimlendirmeyi
                                    uygun görmüşler.
                                </p>
                                <p>
                                    İtalyanca’da Büyük Blek anlamına geliyor ki bu da çok enteresan, aslında
                                    Black <i>(İngilizce'de siyah)</i> olarak başlamış ancak İtalyanların kolay telaffuz
                                    edemediğini görünce bu hale getirmişler.
                                </p>
                                <p>
                                    İtalyancası bile eğreti duruyor yani. Türkçe’ye de kahramanımız Çelik Bilek olarak çevirilmiş,
                                    bazen de Çelik Blek olarak geçiyor. İlk bakışta çok eğreti dursa da aslında çok sevimli. Zaten
                                    ismin çok da önemi yok, önemli olan maceraların ve heyecanın kendisi.
                                </p>
                                <p>
                                    Maceraların tamamı, kırmızı giyen sömürgeci İngiliz askerlerine karşı mücadeleyle geçiyor.
                                </p>
                            </div>
                        </div><!-- Tommiks yani Capitan Miki -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Tommiks yani Capitan Miki</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Tommiks’in orjinal ismi de Capitan Miki, yani Yüzbaşı Miki. Yine çevirenler bu ismi yeterince güçlü bulmamış olacaklar ki,
                                    Tommiks diye gümbür gümbür bir isim yaratmışlar.
                                </p>
                                <p>
                                    Her iki çizgi roman da aslında western türünde ve İtalyanlar’ın daha sonraları gümbür gümbür getirecekleri
                                    Spagetti Western sinemasının da öncüleri.
                                </p>
                                <p>
                                    Bu iki çizgi roman da Amerika’da hiç yayınlanmamış. Oysa ki ben bunların
                                    Amerikan çizgi romanları olduğunu sanıyordum.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/TeksasTommiks/tommiks-thumb.jpg" alt="Tommiks ve Suzi - Suzi sürekli Tommiks'in peşinden koşsa da hiçbir zaman aralarında bir şey olmaz. Tommiks de Teksas gibi aseksüeldir.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/TeksasTommiks/tommiks.jpg" class="lightbox-plus" title="Tommiks ve Suzi - Suzi sürekli Tommiks'in peşinden koşsa da hiçbir zaman aralarında bir şey olmaz. Tommiks de Teksas gibi aseksüeldir.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Tommiks ve Suzi</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Suzi sürekli Tommiks'in peşinden koşsa da hiçbir zaman aralarında bir şey olmaz. Tommiks de Teksas gibi aseksüeldir.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Tommiks yani Capitan Miki -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Kültürümüzde Teksas-Tommiks</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/TeksasTommiks/yuz-numarali-adam-thumb.jpg" alt="Teksas-Tommiks Her Yerde - Kemal Sunal, 'Yüz Numaralı Adam' filminde tuvalette Teks okuyor">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/TeksasTommiks/yuz-numarali-adam.jpg" class="lightbox-plus" title="Teksas-Tommiks Her Yerde - Kemal Sunal, 'Yüz Numaralı Adam' filminde tuvalette Teks okuyor">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Teksas-Tommiks Her Yerde</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Kemal Sunal, 'Yüz Numaralı Adam' filminde tuvalette Teks okuyor</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Çizgi-roman merakının bizde tarihi epey eskilere dayanıyor aslında. Osmanlı döneminde karikatürle
                                    başlayan bu merak, ilerleyen yıllarda çizgi-romanla devam ediyor. Kültürümüze iyice girmesi
                                    50'lerin çocukları ve ergenleri arasında popüler olmasıyla başlıyor. Bu çocuklar büyüdüğü zaman
                                    68 kuşağı diye adlandırdığımız ağebeylerimize dönüşeceklerdi.
                                </p>
                                <p>
                                    Bizler çocukken etrafımızda çizgi-roman okuyan ağabeylerimizi gördük ve dolayısıyla, çocuklukları
                                    çizgi-romanla geçmiş 68 kuşağı gençler, bizim neslimize de ilham kaynağı oldu.
                                </p>
                                <p>
                                    68 kuşağının fikri hür vicdanı hür gençleri çizgi-roman düşkünüyken, o fikirde olmayanlar çizgi-romana
                                    da karşı oldular ve Teksas-Tommiks okuyanlara pek de iyi gözle bakmadılar.
                                </p>
                            </div>
                        </div><!-- Kültürümüzde Teksas-Tommiks -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Deniz Gezmiş ve Yedibela Çetesi</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Sivas'ta dokuz on yaşlarındaki çocuklar bir çete kurarlar. Demokrat Parti'nin baskısının yoğun
                                    olarak hissedildiği dönemde kendilerine "Yedibela" adını veren çocuklar, birlikte hareket etmekte 
                                    ve aralarından birine yapılan kötülüğe hep birlikte karşı gelmektedirler.
                                </p>
                                <p>
                                    Çetenin üyelerinden biri olan Aydın Çubukçu, Yedibele çetesinin lideri olan Deniz Gezmiş'le ilgili
                                    şu bilgiyi veriyor:
                                </p>
                                <p>
                                    "O sıralar Çelk Bilek diye bir çizgi roman kahramanı vardı. Deniz, Çelik Bilek'i çok severdi.
                                    Sınıfta O'nun İngiliz sömürgecilerine karşı Amerika'nın bağımsızlığı için savaş veren bir 
                                    kahraman olduğunu anlatırdı."
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/TeksasTommiks/mister-no-thumb.jpg" alt="Mister No, Karmaşık bir anti kahraman - Kavgaya girmekten çekinmez, çok da dayak yer. Bir macerasında bir rahibeden dayak yemişliği vardır.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/TeksasTommiks/mister-no.jpg" class="lightbox-plus" title="Mister No, Karmaşık bir anti kahraman - Kavgaya girmekten çekinmez, çok da dayak yer. Bir macerasında bir rahibeden dayak yemişliği vardır.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Mister No, Karmaşık bir anti kahraman</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Kavgaya girmekten çekinmez, çok da dayak yer. Bir macerasında bir rahibeden dayak yemişliği vardır.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- ... -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Ve Hepsi Birden Uçtu Gitti</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Aslında Zonguldak'ta tüm bunları yaşadığımda, yani 70'lerin sonu ve 80'lerin başında, gerçek
                                    hayat benim algıladığımdan çok farklı bir şekilde akıyormuş.
                                </p>
                                <p>
                                    Zonguldak ve Zonguldakspor çok başarılı görünse de aslında sonun başlangıcını yaşıyormuş. Devam eden yıllarda
                                    çok ani bir şekilde ikisi de çöküşe geçecekti.
                                </p>
                                <p>
                                    Çizgi roman camiasında da benzer bir durum vardı. Teksas-Tommiks aslında 1960'lerın popüler çizgi romanıydı, ve
                                    belki de taşrada olduğumuz için biz gelişmeleri gecikmeli olarak yaşıyorduk.
                                </p>
                                <p>
                                    Teksas-Tommiks denilen kavramın içine 1970’lerde özellikle Zagor, Kaptan Swing, Mister No gibi yine İtalyan çizgi
                                    romanları girdi. Asıl Teksas ve Tommiks okurları azalmaya başladı.
                                </p>
                                <p>
                                    80'li yıllarda İstanbul'da ağabeylerimiz artık çoğunlukla Zagor okuyordu, ya da tümüyle çizgi romandan uzaklaşmışlardı.
                                    Bizim nesil ise tümden televizyona yöneldi.
                                </p>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Keşke</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Ben o yıllarda Teksas ya da Tommiks'in bir tek macerasını bile baştan sona okumadım. Ama bugün, kırk yaşımı geçtikten sonra
                                    görüyorum ki küçükken yok olmalarını dilediğim Teksas-Tommiks okuyanlar hep güzel insanlarmış.
                                </p>
                                <p>
                                    Zaman geçtikçe yok olmalarını arzuladığım bu kitle gerçekten de yok oldu. 1980’lerin ortalarından itibaren bunları
                                    okuyanları görmemeye başladım. Ağabeylerimiz büyüdü, çoluk-çocuk, iş-güç derken zamanları kalmadı. Bizim nesil
                                    televizyona ve bilgisayar oyunlarına daldı.
                                </p>
                                <p>
                                    Yok olmalarını arzuladığım Zonguldaksporlular da aynı akibete uğradı. Darbe sonrası neo-liberal politikalar sonucunda
                                    Zonguldak şehrinin ipi çekildi. Çoğu güzellikle birlikte Zonguldakspor da eridi gitti. İkinci lige düştükten sonra
                                    tutabilmek mümkün olmadı, amatör kümeye kadar geriledi.
                                </p>
                                <p>
                                    Şimdi Zonguldak’ta eski tutkusuyla sadece ama sadece Zonguldakspor’u tutan ve Teksas-Tommiks okuyan kaç kişi kalmıştır
                                    acaba?
                                </p>
                                <p>
                                    Hepsinden birer birer özür dileyebilmek için neler vermezdim...
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Kaynakça</h3></div>
                            <div class="col-md-12">
                                <p>
                                    <b>[1]</b> Hayal Kahramanları, Sunay Akın, Türkiye İş Bankası Kültür Yayınları, 2010 <br />

                                </p>
                            </div>
                        </div>

                    </div>
                </div><!-- CONTENT BODY -->
                
                @Html.Partial("~/Views/Home/ParShareArticle.cshtml")
                @Html.Partial("~/Views/Home/ParAuthor.cshtml")
    
            </div><!-- MAINBAR COLUMN -->
            
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="s-widget">
                        <h5><i class="fa fa-camera-retro fa-lg" style="color:royalblue"></i>&nbsp; Varan, Gerçek bir Efsane</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/varan-bolu-dagi-thumb.jpg" alt="Varan Bolu Dağı Tesisleri - Yollarda görüp görebileceğimiz en kaliteli duraklama yeriydi.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/varan-bolu-dagi.jpg" class="lightbox-plus" title="Varan Bolu Dağı Tesisleri - Yollarda görüp görebileceğimiz en kaliteli duraklama yeriydi.">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Varan Bolu Dağı Tesisleri</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Yollarda görüp görebileceğimiz en kaliteli duraklama yeriydi.</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                Bir taşra otobüs şirketi olan Güven'in unutulmasını bir noktaya kadar anlıyor olabilirim ama <b>Varan</b>'ın bu kadar
                                çabuk unutulup gitmesi anlaşılır gibi değil. Bu, bizim toplum olarak ne kadar hafızasız olduğumuzun da bir göstergesi.
                                Ülkede bu kadar şey olup biterken Varan'ı hatırlamak biraz şımarıkça gibi gelebilir ama tam tersi, böyle şeyleri
                                hatırlamadığımız için iki yakamız bir türlü bir araya gelmiyor.
                            </p>
                            <p>
                                Bu makaleyi hazırlarken hem Varan, hem de diğer otobüs firmaları sıklıkla aklıma geldi ve yollarda rastladıkça eski hatıralarım canlandı.
                                Bir süre sonra garip bir şey farkettim, uzun süredir etrafta hiç Varan otobüsü görmemiştim. Ben de en son seferimi 2014'te yapmıştım.
                                İnternet siteleri duruyordu ama biraz araştırma yapınca şirketin Ulusoy'a satıldığını ve seferlerin sona erdiğini öğrendim.
                            </p>
                            <p>
                                90'lı yıllar Varan'ın altın çağıydı. Herkes artık çok fazla seyahat ediyordu, güney illerine turist akıyordu, uçak henüz popüler olmamıştı ve
                                orta ve üst gelir grubu çoğunlukla Varan'ı tercih ediyordu. Milyonlarca insan Varan'la en önemli anılarını yaşadılar. Böyle önemli bir toplumsal imge
                                yok olup gittiğinde bir şeyler olmalıydı. Birileri kitap yazmalı, birkaç hatıra web sitesi kurulmalı, forumlarda, sosyal paylaşım sitelerinde ara sıra
                                hatırlanmalıydı.
                            </p>
                            <p>
                                Varan'la en önemli anılarını yaşayan kitle, uçakla tanışınca bir daha geriye dönmemek üzere gitti ve yolların bu en zarif otobüs acentasının
                                yok oluşunu farketmedi. Ara sıra bile olsa hatırlamadı da.
                            </p>
                        </div>
                    </div><!-- Varan -->

                    <div class="s-widget">
                        <h5><i class="fa fa-road fa-lg color"></i>&nbsp; Neden ismi Teksas-Tommiks?</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/TeksasTommiks/neden-teksas-tommiks-thumb.jpg" alt="Teksas Tommiks - Ceylan Yayınları bu iki çizgi romanı birlikte sunuyordu">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/TeksasTommiks/neden-teksas-tommiks.jpg" class="lightbox-plus" title="Teksas Tommiks - Ceylan Yayınları bu iki çizgi romanı birlikte sunuyordu">
                                                    <i class="fa fa-search-plus fa-4x" style="color:lightyellow"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Teksas Tommiks</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Ceylan Yayınları bu iki çizgi romanı birlikte sunuyordu</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                <b>Il Grande Blek</b> ve <b>Capitan Miki</b> çizgi romanları <b>Ceylan Yayınları</b> tarafından
                                birlikte basılıyordu. Yayınevi bu iki çizgi romanı birlikte sunarak, bir nevi birbirini tamamlayan
                                iki karakter yaratmıştı. Her sayıda arka kapakta diğerinin tanıtımı yer alır ve çoğunlukla sanki bu
                                karakterler birbirlerini tanıyormuş gibi bir izlenim yaratılırdı.
                            </p>
                            <p>
                                Bu şekilde yıllar süren yayınların sonunda okuyucunun gözünde bu iki çizgi roman aynı evrende
                                bulunuyor gibi bir algı oluşmuştu.
                            </p>
                            <p>
                                Olay bununla da kalmadı. En çok okunan çizgi romanlar bu ikisi olduğu için tüm çizgi roman kategorisine
                                de <b>Teksas-Tommiks</b> denilmeye başlandı.
                            </p>
                        </div>
                    </div><!-- Neden ismi Teksas-Tommiks? -->


                    <div class="s-widget">
                        <h5><i class="fas fa-camera-retro fa-lg color"></i>&nbsp; FOTOĞRAF GALERİSİ</h5>
                        <div class="widget-content gallery lightbox-popup-gallery">
                            <a href="~/Content/Images/Tales/TeksasTommiks/Teksas600x300.jpg" title="Teksas - Orijinal adıyla Il Grande Blek"><img src="~/Content/Images/Tales/TeksasTommiks/Teksas600x300.jpg" alt="Teksas - Orijinal adıyla Il Grande Blek" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/TeksasTommiks/Fenerbahce1980.jpg" title="Fenerbahçe 1980 - En soldaki mavi eşofmanlı Friedel Rausch"><img src="~/Content/Images/Tales/TeksasTommiks/Fenerbahce1980.jpg" alt="Fenerbahçe 1980 - En soldaki mavi eşofmanlı Friedel Rausch" class="img-responsive img-thumbnail" /></a>
                        </div>
                    </div><!-- IMAGE GALLERY -->
                </div>
            </div><!-- SIDEBAR COLUMN -->
        </div>
    </div>
</div>

