@{
    ViewBag.Title = "Zonguldak";
}

<div class="container">
    <div class="blog-two">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-two-item">
                    <div class="blog-two-content">
                        <h1><span class="text-primary">Zonguldak</span></h1>
                        <h5><span class="text-muted">Bir zamanlar, bir Cumhuriyet kenti...</span></h5>
                        
                        <div class="blog-meta">
                            <a href="#"><i class="fa fa-calendar"></i> &nbsp; Nisan 2016</a> &nbsp;
                            <a href="#"><i class="fa fa-user"></i> &nbsp; Bilgin Eşme</a> &nbsp;
                        </div>
       
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <span class="dropcap-2">H</span>er şehir özeldir ve yakından bakıldığında içinde dünyaları barındıracak
                                    kadar zengindir. Öyle olmasa neden bir grup insan bir yerlerde kümeleşip birlikte otursunlar ki? Özellikle
                                    de bir şehir yıllarca, yüzyıllarca orada yaşamışsa mutlaka bir yerlerinde büyülü şeyler barındırıyordur.
                                </p>
                                <p>
                                    İstanbul Küçükyalı'da, ofisimizin olduğu apartmandaki komşularımızdan orta yaşlı bir kadın, bir seferinde, 
                                    gençliğinin Zonguldak'ta geçtiğini, çok görkemli balolar yapıldığını hatırladığını söylemişti. İlk dansını da
                                    bu balolardan birinde yaptığını anlattı. Büyük ihtimalle 1940-1950'li yıllardan bahsediyordu ve bu dönem
                                    Zonguldak'ın altın yıllarıydı.
                                </p>
                                
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Zonguldak/Zonguldak1977.jpg" alt="Zonguldak 1977 - Hem şehrin efsanevi döneminin son demleri, hem de bizim şehre ayak bastığımız yıl.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Zonguldak/Zonguldak1977.jpg" class="lightbox-plus" title="Zonguldak 1977 - Hem şehrin efsanevi döneminin son demleri, hem de bizim şehre ayak bastığımız yıl."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Zonguldak 1977</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Hem şehrin efsanevi döneminin son demleri, hem de bizim şehre ayak bastığımız yıl.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Giriş paragrafı -->
                         
                        <div class="row">
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Zonguldak/Catalagzi1977.jpg" alt="Çatalağzı 1977 - Buharlı lokomotifi, taş binadan istasyonu ve tepedeki madenci evleriyle bizim zamanlarımızın Zonguldak'ından harika bir fotoğraf'">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Zonguldak/Catalagzi1977.jpg" class="lightbox-plus" title="Çatalağzı 1977 - Buharlı lokomotifi, taş binadan istasyonu ve tepedeki madenci evleriyle bizim zamanlarımızın Zonguldak'ından harika bir fotoğraf"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Çatalağzı 1977</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Buharlı lokomotifi, taş binadan istasyonu ve tepedeki madenci evleriyle bizim zamanlarımızın Zonguldak'ından harika bir fotoğraf</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Zonguldak öyle tarihi yüzyıllara uzanan bir şehir değil. Kömür bulunmadan önce sadece köy olan bir yerleşim
                                    yeriymiş, yani bütün tarihi 150 yıldan ibaret olan bir şehir.
                                </p>
                                <p>
                                    Osmanlı döneminde daha çok Fransız şirketleri maden ocakları kurmuş ve kendi personelini yerleştirmiş. Bazı 
                                    mahallelerde hala bu Fransız evlerini görmek mümkün. Fransızlar şehre tümüyle kömür çıkartabilecekleri bir
                                    sömürge toprağı gibi baktığı için gerçek bir şehir kurmaya pek çalışmamışlar. Hatta bu bölgeye <b>Zone de Guldag</b> 
                                    <i>(Güldağ bölgesi)</i> gibi uyduruk bir isim vermişler ve bu isim <b>Zonguldak</b> haline evrilerek kalıcı olmuş.
                                </p>
                                <p>
                                    Şehrin altın yılları Cumhuriyet'in kurulmasıyla başlar. Cumhuriyet kurulduktan bir süre sonra yabancılara ait 
                                    tüm maden ocakları devletleştirilir ve Zonguldak ili yeni Cumhuriyet'in lokomotif illerinden biri seçilerek 
                                    çok ciddi yatırımlar yapılır.
                                </p>
                                <p>
                                    Tüm ülkenin demir-çelik ihtiyacını karşılamak için, Karabük'e bir demir-çelik fabrikası kurulur. Hem bu fabrikaya 
                                    kömür taşımak, hem de demir-çelik ürünlerinin diğer illere taşınması için Zonguldak, Ankara'ya demiryoluyla bağlanır.
                                    Elektrik üretimi için başta Çatalağzı olmak üzere bir dizi termik santral kurulur. 
                                </p>
                                <p>
                                    Daha sonra Ereğli'ye bir demir-çelik fabrikası daha kurulur. Taşıma ağı, Zonguldak ve Ereğli'ye yapılan devasa 
                                    limanlarla desteklenir. Ereğli Demir Çelik Fabrikası'na kömür sağlamak için Ereğli-Kandilli arasına bir demiryolu 
                                    hattı inşa edilir. 
                                </p>
                                <p>
                                    Ayrıca, Çaycuma'ya da Türkiye'nin iki kağıt fabrikasından biri kurulur.
                                </p>
                            </div>
                        </div><!-- İkinci paragraf -->

                        <div class="row">
                            <div class="col-md-12"><h3>Benim Zonguldak'ım</h3></div>
                            <div class="col-md-6">
                                <p>
                                    1930'lu yıllardan başlayan ve 1960'ların başına kadar devam eden bu yatırımlar boyunca Zonguldak, Türkiye'nin
                                    en canlı şehirlerinden biri oldu ve bu canlılık 1990'ların başına kadar devam etti.
                                </p>
                                <p>
                                    Biz Zonguldak'a 1977'nin sonbaharında gelmiştik. Şimdi anlayabiliyorum ki, bu yıllar şehrin canlılığının günbatımı
                                    dönemine denk geliyormuş ve o güzellikleri ucundan da olsa yakalayabilmişim.
                                </p>
                                <p>
                                    İlkokulda sınıf duvarlarımızda büyükçe bir Zonguldak haritası vardı. Bartın ve Karabük'ü de içine alan, 
                                    bugünkünden oldukça faklı bir Zonguldak haritasıydı bu. 
                                </p>
                                <p>
                                    Zonguldak İlkokulu öğrencileri olarak, iki ilçesinde iki devasa demir-çelik fabrikası olan, içinden demiryolu geçen, 
                                    denize uzunca kıyısı olan, Türkiye'nin tek taşkömürü çıkarılan, kağıt üreten, futbol takımı
                                    ligde ilk üçe oynayan bir ilde yaşamanın haklı gururunu yaşıyorduk.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Zonguldak/ZonguldakEskiHarita.jpg" alt="Zonguldak'ın eski haritası - Bartın ve Karabük ayrılmadan önceki hali">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Zonguldak/ZonguldakEskiHarita.jpg" class="lightbox-plus" title="Zonguldak'ın eski haritası - Bartın ve Karabük ayrılmadan önceki hali"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Zonguldak'ın eski haritası</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Bartın ve Karabük ayrılmadan önceki hali</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Benim Zonguldak'ım -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>...</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Zonguldak/uzun-mehmet-thumb.jpg" alt="Favkani Köprüsü - Salaş görünümüne rağmen şehrin kalbinin attığı noktalardan biriydi. Gerçi kartpostal 1960'larda çekilmiş ama benim zamanlarımda da hemen hemen böyleydi.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Zonguldak/uzun-mehmet.jpg" class="lightbox-plus" title="Favkani Köprüsü - Salaş görünümüne rağmen şehrin kalbinin attığı noktalardan biriydi. Gerçi kartpostal 1960'larda çekilmiş ama benim zamanlarımda da hemen hemen böyleydi."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Uzun Mehmet Anıtı</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Zonguldak'la ilgili aklımdaki en belirgin imge. Bu manzaraya, aynı konumdan yüzlerce kez bakmış olmalıyım. Fotoğrafı çeken her kimse, defne yapraklarını ve ıslak rüzgarı da almış.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Yine o devasa Zonguldak haritasında yer alan Bartın Çayı'nda gemilerle seyahat edilebilmesiyle, ilimizin
                                    geniş ormanlara sahip olmasıyla, 67 plaka koduyla Türkiye'nin son ili olmamızla ve ayrıca hiç gitmesek de 
                                    Kurucaşile ve Eflani adında egzotik isimli ilçelere sahip olmamızla da gurur duyardık.
                                </p>
                                <p>
                                    <span class=" text-center center-block">
                                        <img src="~/Content/Images/Tales/Zonguldak/kurucasile-1972-thumb.jpg" alt="Kurucaşile 1972" class="img-responsive img-thumbnail img-thumbnail text-center center-block" style="max-width:200px;" />
                                        <small>Kurucaşile 1972</small>
                                    </span>
                                </p>
                                <p>
                                    Kısacası; Zonguldak ili bağımsızlığını ilan edip kendi başına bir ülke olsa, sahip olduğu kaynaklarla kimseye muhtaç
                                    olmadan yaşayabilirdi.
                                </p>
                                <p>
                                    İthal ikame, yani ithal ürünlerin yerlisi varsa asla kullanılmaması politikasının geçerli olduğu o dönemlerde
                                    taşkömürü için tek kaynak Zonguldak'tı ve bu yüzden şehir Türkiye için çok değerliydi.
                                </p>
                                <p>
                                    Madencilik çok zorlu ve tehlikeliydi ama ücreti çok iyiydi ve sağlam sendikalar sayesinde önemli haklara sahip
                                    olmuşlardı. Madenciler bir ay çalışır, bir ay dinlenirdi. 
                                </p>
                                <p>
                                    Mühendisler ise krallar gibi yaşardı. O dönemde kömür çıkartma ve işletme kurumunun adı 
                                    <b>EKİ</b> <i>(Ereğli Kömür İşletmesi)</i>'ydi ve mühendisleri için şehir içinde şehir diyebileceğimiz
                                    devasa yerleşim yerleri inşa etmişti. Kozlu'daki Kılıç mahallesinde sadece EKİ mensuplarına hizmet eden
                                    sinema salonu bile vardı. Bunların yanında cemiyetler ve kulüpler vardı.
                                </p>
                            </div>
                        </div><!-- ... -->
                        <br />
                        <div class="row">
                            <div class="col-md-12"><h3>...</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Madencilik sektöründen geçimini sağlayanlara hizmet veren doktor, avukat ve esnaflar da bu zenginlikten
                                    nasibini almıştı ve şehir Türkiye'nin pek çok yöresinden göç alıyordu.
                                </p>
                                <p>
                                    1980'lere geldiğimizde taşkömürü artık eski önemini kaybetmeye başlamıştı. Trenler artık dizel ve elektrikle
                                    çalışıyordu. Keban dahil bir çok baraj yapıldıktan sonra artık elektrik ihtiyacı da barajlardan sağlanıyordu,
                                    ısınmak için de başka illerden çıkartılan linyit kömürü kullanılıyordu. Madenler iyice eskimişti ve kömür
                                    çıkartma maliyetleri artmıştı.
                                </p>
                                <p>
                                    12 Eylül darbesi, devamında getireceği liberal ve neo-liberal politikalar yüzünden Zonguldak için sonun başlangıcı
                                    olsa da birkaç yıl boyunca güzel zamanlar devam etti. Hatta Zonguldakspor en başarılı dönemini 80'li yılların başında 
                                    yaşadı.
                                </p>
                                <p>
                                    Biz de çocuk olarak olan bitenden habersiz, akademi lojmanlarında günlerimizi doyasıya oynayarak geçiriyorduk.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Zonguldakspor/YilinKadrosu-1979-1980.jpg" alt="Yılın Kadrosunda bir Zonguldaklı - Zonguldakspor'un ligi 3. sırada bitirdiği 1979-1980 sezonunda Muzaffer de müthiş bir sezon çıakrtmıştı">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Zonguldakspor/YilinKadrosu-1979-1980.jpg" class="lightbox-plus" title="Yılın Kadrosunda bir Zonguldaklı - Zonguldakspor'un ligi 3. sırada bitirdiği 1979-1980 sezonunda Muzaffer de müthiş bir sezon çıakrtmıştı"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Yılın Kadrosunda bir Zonguldaklı</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Zonguldakspor'un ligi 3. sırada bitirdiği 1979-1980 sezonunda Muzaffer de müthiş bir sezon çıakrtmıştı</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--... -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Cıvıl Cıvıl bir Şehir</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Zonguldak/fevkani-koprusu-60lar.jpg" alt="Favkani Köprüsü - Salaş görünümüne rağmen şehrin kalbinin attığı noktalardan biriydi. Gerçi kartpostal 1960'larda çekilmiş ama benim zamanlarımda da hemen hemen böyleydi.">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Zonguldak/fevkani-koprusu-60lar.jpg" class="lightbox-plus" title="Favkani Köprüsü - Salaş görünümüne rağmen şehrin kalbinin attığı noktalardan biriydi. Gerçi kartpostal 1960'larda çekilmiş ama benim zamanlarımda da hemen hemen böyleydi."><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Favkani Köprüsü</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Salaş görünümüne rağmen şehrin kalbinin attığı noktalardan biriydi. Gerçi kartpostal 1960'larda çekilmiş ama benim zamanlarımda da hemen hemen böyleydi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Çocukluğumun büyük bölümü, parlak döneminin son demlerinde olan Zonguldak'ta geçti. 
                                    Çepeçevre cennet gibi ormanlarla sarılı bir şehirde 24 saat boyunca kömür çıkartılıyordu. 
                                    Günün her saatinde vardiye düdükleri, kömür taşıma bantlarının sesleri duyulurdu. Bu sesler
                                    sıklıkla dalga sesleriyle karışırdı. Kömürün getirdiği zenginlikle birlikte şehirde çok canlı bir sosyal hayat vardı.
                                </p>
                                <p>
                                    Şehir merkezinde iki büyük sinema vardı. Hemen yakındaki Kapus koyu plajlarında, ya da biraz 
                                    daha uzağa gidilirse, Marmaris koylarından hiç aşağı olmayan Ilıksu ve Değirmenağzı koylarında 
                                    denize girilebilirdi. 
                                </p>
                                <p>
                                    <span>
                                        <img src="~/Content/Images/Tales/Zonguldak/TestDrive.jpg" alt="Test Drive Oyunundan Bir Ekran - Uçurumun kenarından kıvrılan yol ve masmavi gökyüzü bana hep Zonguldak-Ereğli yolunu hatırlatır" class="img-responsive img-thumbnail img-thumbnail text-center center-block" style="max-width:150px;" />
                                    </span>
                                </p>
                                <p>
                                    Bu koylara, hayatımda gördüğüm en güzel manzaralı yol olan Eski Ereğli Yolu üzerinden gidilirdi.
                                    Yıllar sonra Commodore 64'ümde Test Drive oynarken hep aklıma bir tarafı orman yamacı, 
                                    bir tarafı masmavi gökyüzü ve deniz olan bu yollar aklıma gelirdi.
                                </p>
                            </div>
                        </div><!-- Cıvıl Cıvıl bir Şehir -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Şehrin Gözbebeği Fener</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Şehrin en lüks semti Fener'di. Bütün Zonguldak resimlerinde görünen, kayalıklı bir tepenin üzerine
                                    inşa edilmiş bir fenerin etrafında kurulmuş bu semt, yeşillikler içindeki eski Fransız villaları,
                                    deniz manzaralı evler ve apartmanlarıyla şehrin mücevheriydi.
                                </p>
                                <p>
                                    Ama ben en az Fener kadar, dik yokuşlarki yüzlerce basamaklı merdivenlerden çıkılan Site ve Bahçelievler
                                    semtlerini de çok severdim. İlkokuldan sonra oradaki 27 Mayıs Ortaokulu'na gideceğimi düşünürdüm hep,
                                    ama hayat hiç o kadar basit olamıyor; Zonguldak'ta o kadar kalamadık.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Zonguldak/fener-ve-muhendisler-cemiyeti-thumb.jpg" alt="Fener ve Mühendisler Cemiyeti - Semte adını veren Fener ve hemen sağ alt köşesinde Mühendisler Cemiyeti">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Zonguldak/fener-ve-muhendisler-cemiyeti.jpg" class="lightbox-plus" title="Fener ve Mühendisler Cemiyeti - Semte adını veren Fener ve hemen sağ alt köşesinde Mühendisler Cemiyeti"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Fener ve Mühendisler Cemiyeti</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Semte adını veren Fener ve hemen sağ alt köşesinde Mühendisler Cemiyeti</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Şehrin Gözbebeği Fener -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Sosyal Hayat</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Zonguldak/MuhendislerCemiyeti.jpg" alt="Mühendisler Cemiyeti'nde Bir Gece - En sağdaki Vedat Amca, en solda, yüzününü yarısı görünen de babam">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Zonguldak/MuhendislerCemiyeti.jpg" class="lightbox-plus" title="Mühendisler Cemiyeti'nde Bir Gece - En sağdaki Vedat Amca, en solda, yüzününü yarısı görünen de babam"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Mühendisler Cemiyeti'nde Bir Gece</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>En sağdaki Vedat Amca, en solda, yüzününü yarısı görünen de babam</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Başta <b>Deniz Kulübü</b> ve <b>Mühendisler Cemiyeti</b> olmak üzere şehir sakinlerinin sosyalleşebilecekleri
                                    birçok mekan vardı. Akademi lojmanlarında komşumuz Vedat Amca, aslen maden mühendisi olduğu için,
                                    bize birkaç kez Mühendisler Cemiyeti'nde eğlence düzenlemişti.
                                </p>
                                <p>
                                    Fener'de denize dik bir tepenin yamacına inşa edilmiş ve denizi tepeden gören bu yer belki de
                                    gerçekten dünyanın en güzel yeriydi.
                                </p>
                                <p>
                                    <span class=" text-center center-block">
                                        <img src="~/Content/Images/Tales/Zonguldak/zonguldak-1970ler.jpg" alt="xxx" class="img-responsive img-thumbnail img-thumbnail text-center center-block" style="max-width:200px;" />
                                        <small>xxx</small>
                                    </span>
                                </p>
                                <p>
                                    Zonguldak'ta sıradan bir Cumartesi gününde <b>Soğuksu</b> semtindeki pazara gidilmesi, başta Bartın
                                    olmak üzere çevre ilçelerden harika meyve ve sebzelerden seçilmesi, yine Soğuksu'da buram buram
                                    kırtasiye malzemesi kokan kırtasiyecimizden okul malzemeleri alınması, şanslıysak ve babamızı ikna
                                    edebilmişsek köprülü geçidin oradaki oyuncakçı <b>Devran Amca</b>'dan kutu oyunları alınması, sonra ana caddedeki
                                    <b>İstanbul Pastanesi</b>'nden eve yaş pasta ve kurabiye sardırılması ve limanın oradaki çocuk bahçesinde
                                    oynadıktan sonra akademi lojmanlarına dönülmesiyle tamamlanan bir Zonguldak günü çocukluğumun
                                    en güzel yerlerinde sakladığım anılar.
                                </p>
                            </div>
                        </div><!-- Sosyal Hayat -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Çankaya'nın Şişmanı, Zonguldak'ın Katili</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Zonguldak'ın ipini çeken büyük ölçüde Turgut Özal oldu. İktidara geldikten kısa süre sonra ithalat rejimi serbest
                                    bırakıldı ve taşkömürü de ithal edilmeye başlandı. İthal maliyetleri, madenden çıkartma maliyetinden daha fazla olduğu
                                    için taşkömürü bir süre devlet tarafından sübvanse edildi, ama bir yandan da işçi çıkartmaları ve küçülme başladı.
                                </p>
                                <p>
                                    Aynı dönemde Zonguldakspor'un da düşüşü başlamıştı, artık ilk üçe değil; kümede kalmaya oynuyorlardı. Birkaç yıl
                                    kümede kalma mücadelesi verdikten sonra 1987 yılında, bir daha geri dönememek üzere küme düştüler.
                                </p>
                                <p>
                                    Taşkömürünün öneminin azalması ile birlikte işçi sendikalarına baskılar da arttı, ücretler eskisi gibi yüksek değildi
                                    ve yüksek enflasyon karşınında eriyen ücretler madencilerin ve dolayısıyla şehrin de giderek yoksullaşmasına
                                    neden oldu.
                                </p>
                                <p>
                                    Tüm bu bunalımların sonucunda 1991'te Büyük Madenci Yürüyüşü başladı. Madenciler, efsanevi sendikacı Şemsi Denizer
                                    önderliğinde Ankara'ya yürüyüş başlattı. Yürüyüş, Ankara'ya varmadan kısmi bir anlaşmayla sona erdirildi. 
                                    O eylem günlerinde Özal için "Çankaya'nın şişmanı, işçi düşmanı" sloganını üretmişti. Çankaya'nın şişmanı,
                                    uğradığı bu yenilginin acısını zaman içinde çıkartacak ve tüm şehri zaman içinde sindirecekti. 
                                </p>
                                <p>
                                    İşçiler ve Zonguldak geçici olarak bazı haklar elde etseler de, orta ve uzun vadede kaybeden oldular.
                                </p>
                                <p>
                                    Taşkömürü ithalatına hız verildi. İşçi çıkartmalar ve sendikasızlaştırma hız kazandı. Aynı dönemde, madenci 
                                    maaşlarından kesilen Zonguldakspor aidatı uygulamasına da son verildi. Bu da Zonguldakspor'un ölüm fermanı oldu. 
                                    Şehrin efsanevi takımı birkaç yıl içinde amatör kümeye kadar düştü.
                                </p>
                                
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Zonguldak/zonguldak-buyuk-madenci-yuruyusu-birol-uzmez-thumb.jpg" alt="Büyük Madenci Yürüyüşü 1991 - Kozlu'dan şehir merkezine giden yürüyüş kıtaları. Aynı esnada, 80lerin başında hizmet vermeye başlayan Mercedes 302S'lerden biri de geçmekte. [fotoğraf: Birol Üzmez]">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Zonguldak/zonguldak-buyuk-madenci-yuruyusu-birol-uzmez.jpg" class="lightbox-plus" title="Büyük Madenci Yürüyüşü 1991 - Kozlu'dan şehir merkezine giden yürüyüş kıtaları. Aynı esnada, 80lerin başında hizmet vermeye başlayan Mercedes 302S'lerden biri de geçmekte. [fotoğraf: Birol Üzmez]"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Büyük Madenci Yürüyüşü 1991</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Kozlu'dan şehir merkezine giden yürüyüş kıtaları. Aynı esnada, 80lerin başında hizmet vermeye başlayan Mercedes 302S'lerden biri de geçmekte. [fotoğraf: Birol Üzmez]</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Çankaya'nın Şişmanı, Zonguldak'ın Katili -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Küçülen Harita</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    Kötü haberler bununla da sınırlı değildi, aynı sıralarda 1991'de Bartın ilçesi il olarak Zonguldak'tan ayrıldı, bunu 1995'te
                                    Karabük izledi ve ilkokul sınıfı duvarlarında gururla seyrettiğimiz heybetli Zonguldak haritamız böylece tarih oldu. Aslında
                                    daha öncelerinde, 1980'lerin sonunda, 67 ile 4 il daha eklendiği için Türkiye'nin son ili olma gururumuz da elden gitmişti.
                                </p>
                                <p>
                                    Karabük Demir Çelik Fabrikası, 1990'ların sonunda neredeyse kapatılıyordu, neyse ki işçilere devredildi ve bir şekilde
                                    karlı bir işletme olarak devam etme başarısını gösterdi. Çaycuma'daki SEKA Kağıt Fabrikası da 2000'lerin başında kapatıldı
                                    ve Türkiye kağıt ihtiyacının tümünü ithal yoluyla almaya başladı.
                                </p>
                                <p>
                                    Günümüzde taşkömürü ne stratejik bir ürün, ne de değeri var. Bir zamanlar büyük bir gurur olan Zonguldak-Ankara demiryolunun
                                    eski öneminden eser yok. Ereğli-Kandilli demiryolu da 2000'li yılların başında kapatıldı ve rayları söküldü.
                                </p>
                                <p>
                                    Bu satırları yazdığımda Zonguldakspor Üçüncü Lig'de mücadele ediyor ve tüm imkansızlıklara rağmen elinden
                                    geleni yapıyordu.
                                </p>

                            </div>
                        </div><!-- Küçülen Harita -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Conclusion</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Zonguldak artık devasa baloların yapıldığı, Türkiye'nin sanayi lokomotifi olan bir cazibe merkezi değil, sıradan
                                    bir şehir. Ülkece Cumhuriyet ideallerini kaybetme sürecimizle paralel şekilde, Zonguldak'ın da yıldızı söndü gitti.
                                </p>
                                <p>
                                    Yine de, sönmüş halinde bile, güzel parıltılar kaldı.
                                </p>
                                <p>
                                    Her ne kadar eskisi gibi Cumhuriyet şehri sayılmasa da, Zonguldak hiçbir zaman gericiliğe teslim olmadı. 
                                    Sendikal faaaliyetler, kültürel gelişim ve sınıfsal mücadele, hep Türkiye ortalamasının üzerinde oldu.
                                </p>
                                <p>
                                    Madenciler eskisi kadar güçlü olmasalar da etkinliklerini sürdürdüler ve hiçbir zaman Soma madencileri
                                    kadar kendilerini ezdirmediler. 1999'daki büyük Gölcük Depremi'nde, Zonguldak'tan
                                    gelen madenci birlikleri, arama-kurtarma çalışmalarına katıldı ve birçok can kurtardı.
                                </p>
                                <p>
                                    Zonguldakspor her ne kadar üçüncü ligde yaşam mücadelesi veriyor olsa da, Adana Demirspor ve İtalyan Livorno takımıyla 
                                    birlikte endüstriyel futbola karşı duran sembol takımlardan biri oldu.
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Conclusion --> 
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Ayrılık Zamanı: 1983</h3></div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    1983, benim Zonguldak'tan ayrılık yılımdı. Ailem İstanbul'a taşınmaya karar vermişti. 
                                    Zonguldak'ta kaldığımız altı yıl boyunca, günün birinde mutlaka taşınacağımızı hep bilmeme
                                    rağmen; bir yanım umutlu bir şekilde burada sonsuza kadar kalabileceğimizi umut ediyordu. 
                                </p>
                                <p>
                                    Üstelik tam da 1983'te Zonguldak'ta harika şeyler oluyordu. Bana sonunda bisiklet alınmıştı.
                                    Fener'de 100. Yıl Parkı, çarşı içinde yürüyen merdivenli alışveriş merkezi açılmıştı. Akşamları 
                                    Flamingo Yolu'nda dondurma yiyerek geziyorduk. Belediye gıcır gıcır, otomatik kapılı 
                                    <b>302 S</b> otobüsler getirtmişti. Sütlü kahve rengindeki bu otobüsler Zonguldak'ın kıvrılan 
                                    yokuşlarında kuğu gibi süzülüyordu. Zonguldakspor başarılarının doruğundaydı.
                                </p>
                                <p>
                                    Oysa görüntü aldatıcıymış ve tam da Zonguldak'ın düşüşünün başladığı yıllardaymışız.
                                </p>
                                <p>
                                    1983 yazını lojmanlarda bisiklete binerek geçirdim. Son akşamımızda babamın bir arkadaşının evine veda
                                    ziyaretine gitmiştik. Terminale tepeden bakan evlerinin balkonundan otobüsler çok net görünüyordu. Kardeşimle
                                    birlikte bakarak, ertesi gün bizi İstanbul'a götürecek otobüs hakkında tahminlerde bulunuyorduk.
                                    Otomatik kapılı mı olacak, kliması olacak mı, rengi ne olacak? Bu kadar yürekten bağlı olduğum bir şehre
                                    veda akşamına hiç yakışmayacak kadar kayıtsızdım. 
                                </p>
                            </div>
                        </div><!-- Ayrılık Zamanı: 1983 -->
                        <br />

                        <div class="row">
                            <div class="col-md-12"><h3>Şehir Arkandan Gelecektir</h3></div>
                            <div class="col-md-6">
                                <p>
                                    Zonguldak'tan gerçekten ayrıldığımızı galiba İstanbul'a gelince farkettim. Herhalde gerçekten ayrılıyor 
                                    olabileceğimizi hiç düşünmemişim. Gerçekle İstanbul'da yüzleşmiş ve Suadiye'deki balkonun demirlerinden 
                                    ayaklarımı sarkıtıp günlerce ağlamıştım. 
                                </p>
                                <p>
                                    1980'lerin Suadiye'si çok güzel bir yerdi. Başka bir yere gitsek çok daha kötü olurdu eminim. Biraz alıştıktan
                                    sonra Suadiye'de de bisiklete bindim, Bağdat Caddesi'nde gezdim ama çoklukla kendimi eve kapatıp Zonguldak'ta
                                    olduğu gibi Milliyet Çocuk dergilerimi ve ansiklopedilerimi okudum. Hala lojmanlarda evde kitap okuduğumu
                                    ve birazdan arkadaşlarımla çıkıp oynayacağımı hayal ettim.
                                </p>
                                <p>
                                    Elbette ki nesnel balıldığında Zonguldak dünyanın en güzel yeri değil. Sonuçta, dünyada Portofino gibi bakmaya kıyamayacağın
                                    güzellikte yerler var. Zonguldak'ı çekici kılan şeyler biraz daha farklı. Bir yandan kömür çıkartılan, distopik 
                                    yapıların ortasında yaşarken yanı başınızda harika bir doğa vardır. Aşırı uçların her an birlikte yaşadığı bir şehir Zonguldak.
                                    Yılın çoğunu bulutların altında geçirirsiniz ama güneş açtığında gökyüzü, başka hiçbir yerde olmadığı kadar masmavidir.
                                </p>
                                <p>
                                    Sadece 6 yıl geçirdiğim şehir; Kavafis'in şiirinde olduğu gibi, 46 yaşıma kadar, hep arkamdan geldi. Eskiden limandaki
                                    çay bahçesinin orada bir çocuk parkı vardı. Parkın girişinde "12 yaşından büyükler giremez" diye yazardı. Bu yazıyı 
                                    her gördüğümde benim için güzel günlerin 12 yaşında biteceğini düşünürdüm. Çok da yanlış değilmiş.
                                </p>
                                <p>
                                    Tam da 12 yaşımda Zonguldak'tan ayrılmıştık ama gerçekte Zonguldak'tan aslında hiç ayrılamadım, 
                                    büyük ihtimalle çocukluğum orada kaldığı için. 
                                </p>
                            </div>
                            <div class="col-md-6 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/NoImage.jpg" alt="XXX - xxx">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/NoImage.jpg" class="lightbox-plus" title="XXX - xxx"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">XXX</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>xxx</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Şehir Arkandan Gelecektir -->
                        <br />

                        <div class="row">
                            <div class="divider-4 col-md-12"></div>
                            <div class="col-md-12">
                                <div class="quote-one">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- Quote One Item -->
                                            <div class="quote-one-item">
                                                <span class="color">&#8220;</span>
                                                <div class="quote-one-right">
                                                    <p>
                                                        Yeni bir ülke bulamazsın, başka bir deniz bulamazsın.<br />
                                                        Bu şehir arkandan gelecektir.<br />
                                                        Sen gene aynı sokaklarda dolaşacaksın,<br />
                                                        aynı mahallede kocayacaksın;<br />
                                                        aynı evlerde kır düşecek saçlarına.<br />
                                                        Dönüp dolaşıp bu şehre geleceksin sonunda.<br />
                                                        Başka bir şey umma-<br />
                                                        Ömrünü nasıl tükettiysen burada, bu köşecikte,<br />
                                                        öyle tükettin demektir bütün yeryüzünü de.<br />
                                                    </p>
                                                    - Konstantinos Kavafis
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- QUTOE -->
                            </div>
                        </div>

                    </div>
                </div><!-- CONTENT BODY -->
                
                @Html.Partial("~/Views/Home/ParShareArticle.cshtml")
                @Html.Partial("~/Views/Home/ParAuthor.cshtml")
                @Html.Partial("~/Views/Home/ParCommentForm.cshtml")
            </div><!-- MAINBAR COLUMN -->
            
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="s-widget">
                        <h5><i class="fa fa-info-circle fa-2x color"></i>&nbsp; Bizim Mahallemiz</h5>
                        <div class="widget-content text-muted">

                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Zonguldak/ZonguldakMyNeighborhood.jpg" alt="Akademi Lojmanları 1977 - Zonguldak'taki hayatımız, yeni kurulan bir fakültenin lojmanlarında başlamıştı">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Zonguldak/ZonguldakMyNeighborhood.jpg" class="lightbox-plus" title="Akademi Lojmanları 1977 - Zonguldak'taki hayatımız, yeni kurulan bir fakültenin lojmanlarında başlamıştı"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Akademi Lojmanları 1977</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>Zonguldak'taki hayatımız, yeni kurulan bir fakültenin lojmanlarında başlamıştı</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                Zonguldak'ta Akademi Lojmanları'nda oturuyorduk. Bizim bulunduğumuz yıllarda, Hacettepe Üniversitesi'ne
                                bağlı birkaç fakülteden oluşan kampüs, daha sonra Karaelmas Üniversitesi adını alarak bağımsız bir
                                üniversite oldu. Daha sonraları da adı Bülent Ecevit Üniversitesi olarak değiştirildi. Babam da 1977-1983
                                yılları arasında Fizik bölümünde asistan olarak görev yaptı.
                            </p>
                            <p>
                                Resimde sol üstte görülen binalar Akademi Lojmanları, hemen onların sol üst köşesindeki sivri beyaz şey
                                Uzun Mehmet Anıtı'dır. Lojmanların sağındaki kırmızı çatılı bina benim de okuduğum Zonguldak İlkokulu,
                                resmin alt kısmı da bütünüyle fakülte binalarıdır.
                            </p>
                        </div>
                    </div><!-- Bizim Mahallemiz -->
                    <div class="s-widget">
                        <h5><i class="fa fa-road fa-lg color"></i>&nbsp; Dorukhan Tüneli</h5>
                        <div class="widget-content text-muted">
                            <div class="col-md-12 img-box-8">
                                <div class="img-box-8-item">
                                    <div class="img-box-8-img">
                                        <img class="img-responsive" src="~/Content/Images/Tales/Boncuk/dorukhan-tuneli.jpg" alt="Dorukhan Tüneli - Zonguldak yönü">
                                        <div class="image-hover">
                                            <div class="image-caption">
                                                <a href="~/Content/Images/Tales/Boncuk/dorukhan-tuneli.jpg" class="lightbox-plus" title="Dorukhan Tüneli - Zonguldak yönü"><i class="fa fa-search bg-color"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="img-box-8-cap">
                                        <h4><a href="#">Dorukhan Tüneli - Zonguldak yönü</a></h4>
                                        <div class="bor bg-color"></div>
                                        <p>fotoğraf <a href="http://www.panoramio.com/photo/37776076" target="_blank">Ahmet Soyak</a>'tan alıntıdır</p>
                                    </div>
                                </div>
                            </div>

                            <p>
                                Bolu Dağı Tüneli'nin henüz yapım aşamasında olduğu o dönemlerde, Zonguldak-Bolu sınırını oluşturan dağlarda
                                devasa bir tünel vardı. Uzunluğu bir kilometrenin üzerinde (1096 metre) olan bu tünel çok büyük ihtimalle
                                1980'li yıllarda Türkiye'nin en uzun tüneliydi.
                            </p>
                            <p>
                                Uçurumların kenarından dolanan daracık ve aşırı tehlikeli yolu yarım saatten birkaç dakikaya indiren bu tünel
                                pek çok yönüyle aslında bir korku tünelini andırıyordu.
                            </p>
                            <p>
                                Sadece tek geliş ve tek gidiş olan bu daracık tünelde ışık yoktu ve tavanlarından sürekli su damlardı. İçeride 
                                yavaş gidilmesi gerektiğinden dakikalar boyunca süren korku dolu bir deneyim yaşardınız. Yine de ne olursa
                                olsun, uçurumların kenarından gittiğiniz yarım saatlik adrenalin nöbetinden iyiydi.
                            </p>
                            <p>
                                Günümüzde bu tünelin yanına ikinci bir tünel daha yapılmış; gidiş ve geliş yönleri ayırılmıştır. Su damlamaz
                                ve her yanı ışıl ışıldır. Eski halini özlemiyor değilim.
                            </p>
                        </div>
                    </div><!-- Dorukhan Tüneli -->
                    <div class="s-widget">
                        <h5><i class="fa fa-photo fa-lg color"></i>&nbsp; FOTOĞRAF GALERİSİ</h5>
                        <div class="widget-content gallery lightbox-popup-gallery">
                            <a href="~/Content/Images/Tales/Zonguldak/Zonguldak1977.jpg" title="Zonguldak 1977 - Şehrin efsanevi döneminin son demleri"><img src="~/Content/Images/Tales/Zonguldak/Zonguldak1977.jpg" alt="Zonguldak 1977 - Şehrin efsanevi döneminin son demleri" class="img-responsive img-thumbnail" /></a>
                            <a href="~/Content/Images/Tales/Zonguldak/ZonguldakEskiHarita.jpg" title="Zonguldak'ın eski haritası - Bartın ve Karabük ayrılmadan önceki hali"><img src="~/Content/Images/Tales/Zonguldak/ZonguldakEskiHarita.jpg" alt="Zonguldak'ın eski haritası - Bartın ve Karabük ayrılmadan önceki hali" class="img-responsive img-thumbnail" /></a>
                        </div>
                    </div><!-- IMAGE GALLERY -->
                </div>
            </div><!-- SIDEBAR COLUMN -->
        </div>
    </div>
</div>

